.title-video-t {
    font-size: 1.4rem;
    text-align: center;
}

.title-video-t span {
    font-family: 'latam_sansbold_italic'!important;
}

.content-images-video {
    position: absolute;
    width: 100%;
    color: white;
    text-align: center;
    top: 100px;
}

.btn-video {
    background: transparent;
    border: none;
    border-radius: 50%;
    width: 84px;
    outline: none;
    transition: all .25s ease-in-out;
    padding: 0px 0px;
    text-shadow: 2px 2px #000;
}

.btn-video:before {
    color: white;
    font-size: 5.4rem;
    padding-left: 5px;
    cursor: pointer;
    padding-top: 6px;
    display: block;
}

.btn-video:hover {
    background: transparent;
    transition: all .25s ease-in-out;
}

.btn-video:hover:before {
    color: rgba(255, 255, 255, 0.7);
}

.content-images-video h1 {
    font-family: 'latam_sansbold'!important;
    font-size: 4.0rem;
    font-weight: 900;
    line-height: 1;
    text-shadow: rgba(0, 0, 0, 0.5);
    padding-left: 100px;
    padding-right: 100px;
    text-shadow: 3px 3px #000000;
}


.content-images-video h2 {
    font-family: 'latam_sansbold'!important;
    font-size: 2.0rem;
    font-weight: 900;
    line-height: 1;
    padding-left: 100px;
    padding-right: 100px;
    text-shadow: 2px 2px #000000;

}

img.btn-video-close {
    width: initial;
}

.btn-video-close {
    top: 12%;
    right: 9%;
    z-index: 1;
    position: absolute;
    cursor: pointer;
}

.img-fluid-video {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
}

.iframe-container {
    position: absolute;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}

.iframe-container iframe {
    position: absolute;
    top: 7%;
    left: 8.2%;
    width: 960px;
    height: 539px;
}

.flex-content-video {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-tca-video {
    height: fit-content;
}

[class*=icon-],
[class^=icon-] {
    float: none!important;
}

.sub-text.video {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.5;
    padding-left: 100px;
    padding-right: 100px;
}

.btn-experiencia{
    margin-left: -5%;
    margin-top: 20%;
    position: absolute;
}

.btn-experiencia:before {
    color: #1b0088;
    font-size: 5.4rem;
    padding-left: 5px;
    cursor: pointer;
    padding-top: 5px;
    display: block;
}

.btn-experiencia:hover {
    background: rgba(27, 0, 137, 1);
    transition: all .25s ease-in-out;
}

.btn-experiencia:hover:before {
    color: rgba(255, 255, 255, 0.7);
}

@media only screen and (max-width: 767px) {
	.content-images-video h1 {
        font-size: 2rem!important;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media only screen and (max-width: 991px) {
    .content-images-video h1 {
        font-size: 3rem;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .content-images-video h2 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .btn-video {
        width: 55px;
        height: 55px;
    }
	.btn-experiencia {
        width: 55px;
        height: 55px;
    	margin-left: -9%;
    }
    .btn-video:before {
        font-size: 3.5rem;
    }
    .btn-experiencia:before{
		font-size: 3.5rem;
    }
    .btn-video-close {
        /*width: 55px;*/
        height: 50px;
    }
    .containerExp .btn-video-close{
		top: 3%;
        right: 5%;
    }
    .btn-video-close {
        top: 8%;
        right: 8%;
        /*z-index: 1;
        position: absolute;
        cursor: pointer;*/
    }
    /*.iframe-container {
        position: absolute;
        width: 100%;
        padding-bottom: 56.25%;
        height: 0;
    }*/
    .iframe-container {
        display: block;
        margin: auto;
        max-width: 100%;
        height: auto;
        /*padding-top: 10px;*/
    }
    .iframe-container iframe {
        position: absolute;
        top: 10%;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .content-images-video {
        top:35px;
        margin-left:-14px
        }
    .content-images-video h2{
        display:none;
    }
    
    .sub-text.video {
        text-align:center;
        font-size: 1.3rem;
        font-weight: 500;
        line-height:1.3;
        padding-left:0px;
        padding-right:0px;
    
    }
	#subtitle{
		display:none !important;}
}

