<div data-sly-use.title="com.adobe.cq.wcm.core.components.models.Title"
     data-sly-use.template="core/wcm/components/commons/v1/templates.html"
     data-sly-test.text="${title.text}"	>

    	<div class="row">
        	<div class="col-12">
            	<div class="container-text-size container-position">
                	<h2 class="cmp-title__text" data-sly-element="${title.type}">${text}</h2>
                    <h2 class="cmp-title__text title-articles-related"> ${properties.titleText @ context="html"}</h2>
                </div>
            </div>
        </div>
</div>

<sly data-sly-call="${template.placeholder @ isEmpty=!text}"></sly>