.hero {
  background-attachment: fixed;
  background-color: transparent;
  /*background-image: linear-gradient(180deg, transparent 0%, rgba(0, 0, 0, 0.44) 100%), url("./../images/interior-default_bg.jpg");*/
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  /*min-height: 900px;*/
  padding: 160px 0 160px 0;
  position: relative;
  text-align: center;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
}

.hero__location {
  border: 2px solid white;
  border-radius: 20px;
  color: white;
  display: block;
  font-size: 16px;
  line-height: 37px;
  margin: 0 auto 65px auto;
  max-width: 145px;
  padding: 1px 30px 0 30px;
  text-align: center;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
}

.hero__title {
  color: white;
  display: inline-block;
  font-family: 'latam_sansbold'!important;
  font-size: 40px;
  margin: 0 0 40px 0;
}

.hero__title strong {
  font-family: 'latam_sansbold'!important;
}

.hero__info {
  margin: 0 0 60px 0;
  text-align: center;
}

.hero__info-photo, .hero__info-author, .hero__info-date {
  color: white;
  display: inline-block;
  font-family: 'latam_sansbold'!important, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.hero__info-photo .icon, .hero__info-author .icon, .hero__info-date .icon, .hero__location .icon {
  font-size: 30px;
  vertical-align: sub;
}

.hero__info-photo + div, .hero__info-author + div, .hero__info-date + div {
  margin-left: 20px;
}

.hero__info-photo span, .hero__info-author span, .hero__info-date span {
  position: relative;
  top: 3px;
}

.hero__info-photo img, .hero__info-author img, .hero__info-date img {
  display: inline-block;
  height: 20px;
  margin: 0 8px 0 0;
  vertical-align: middle;
  width: auto;
}

@media only screen and (max-width: 767px) {
  .hero {
    min-height: 80vh;
    padding: 80px 0 40px 0;
  }

  .hero__location {
    margin: 0 auto 35px auto;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  }

  .hero__title {
    font-size: 32px;
    margin: 0 0 40px 0;
  }

  .hero__info {
    display: none;
  }

}