/* ========================
    CIRCLE HOME COMPONENT
=========================== */

.container-title-circle{
	color: #363636;
    line-height: 32px;
    font-family: 'latam_sansblack';
    text-transform: uppercase;
    padding-top: 10px;
}

.container-title-circle h2{
	font-size: 2.2rem;
}

.container-title-center{
    text-align: center!important;
}

.title-circle {
    font-size: 3rem;
    font-family: 'latam_sanslight';
    text-transform: uppercase;
    letter-spacing: 0.93px;
    font-weight: 900;
    line-height: 30px;
    text-align: center;
    margin: 0 0 0 0;
}

.title-circle p b{
    font-family: 'latam_sansblack';
}

a.link-content-item {
    display: block;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    transition: all .25s ease-in-out;
    text-transform: uppercase;
    color: #4E4E4E;
}

a.link-content-item:hover {
    background-color: #F7F7F7;
    transition: all .25s ease-in-out;
    text-decoration: none;
}

a.link-content-item h3:first-line {
    font-family: 'latam_sansblack';
    margin-top: 16px;
    font-size: 1.3rem;
}

a.link-content-item h3 {
    font-family: 'latam_sansitalic';
    display: block;
    font-size: 1.3rem;
    margin-top: 15px;
}

figure.img-item {
    border-radius: 10%;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border: solid 4px #C7C7C7;
    display: block;
    margin: 0 auto;
    position: relative;
}

figure.img-item img {
    margin: 0 auto;
    display: block;
    position: absolute;
    left: -50px;
    width: 195px;
}

.content-img-item {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}


/*circles component*/

.content-shadow-component {
    background-color: #fff;
    -webkit-box-shadow: 0px 13px 16px -13px rgba(112, 112, 112, 0.3);
    -moz-box-shadow: 0px 13px 16px -13px rgba(112, 112, 112, 0.3);
    box-shadow: 0px 13px 16px -13px rgba(112, 112, 112, 0.3);
    padding: 25px 0 15px 0;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
    a.link-content-item h3 {
    	width:138px;
    }

    .container-title-circle h2{
        font-size: 2rem;
    }

    .title-circle {
        font-size: 2.5rem;
        text-align: center;
    }
}