<section class="cards-section">
    <div class="container">
      <div class="row justify-content-md-center cards-section__items-wrapper owl-carousel">

          <div class="col-md-4 cards-section__item">
              <sly data-sly-resource="${'circle1' @ resourceType='minisites-latam/components/content/circleHome/circle'}"></sly>
          </div>
          <div class="col-md-4 cards-section__item">
              <sly data-sly-resource="${'circle2' @ resourceType='minisites-latam/components/content/circleHome/circle'}"></sly>
          </div>
          <div class="col-md-4 cards-section__item">
              <sly data-sly-resource="${'circle3' @ resourceType='minisites-latam/components/content/circleHome/circle'}"></sly>
          </div>

<!--
		  <div class="col-md-4 cards-section__item">
              <sly data-sly-resource="${'circle4' @ resourceType='minisites-latam/components/content/circleHome/circle'}"></sly>
          </div>
			<div class="col-md-4 cards-section__item">
              <sly data-sly-resource="${'circle5' @ resourceType='minisites-latam/components/content/circleHome/circle'}"></sly>
          </div>
          <div class="col-md-4 cards-section__item">
              <sly data-sly-resource="${'circle6' @ resourceType='minisites-latam/components/content/circleHome/circle'}"></sly>
          </div>

-->
        </div>
    </div>
</section>
