h2.experience-home {
    font-size: 2.5rem;
    text-align: center;
    font-family: "latam_sansregular";
    letter-spacing: 6.67px;
    text-transform: uppercase;
    display: inline;
}

h3.experience-home{
    font-size: 2.0rem;
    text-align: center;
    font-family: "latam_sansitalic";
    letter-spacing: -0.07px;
    text-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
}

h4.experience-home{
    font-size: 1.7rem;
    text-align: center;
    font-family: "latam_sansitalic";
    letter-spacing: -0.06px;
}

.header-image-experience {
    position: absolute;
    top: 55%;
    margin-top: -55px;
    text-align: center;
}

.content-image {
    /*background: linear-gradient(180deg, #1B0088 0%, #000000 100%);*/
    /*background: linear-gradient(180deg, #7D0335 0%, #000000 100%);*/
	background: linear-gradient(180deg, #9c9c9d 0%, #000000 100%);
    position: relative;
}

.content-image img {
    opacity: 0.5;
}

.border-gradient {
    width: 100%;
    height: 20px;
    /*background: linear-gradient(229.65deg, #1C0087 0%, #ED1550 100%);*/
    background: linear-gradient(229.65deg, #ffffff 0%, #000000 100%);
    position: absolute;
    bottom: 0;
    clip-path: polygon(0 42%, 100% 84%, 100% 100%, 0% 100%);
}

.buttons-group-experience-home {
    bottom: 25px;
    text-align: center;
    list-style-type: none;
    position: absolute;
    width: 100%;
    display: block;
    justify-content: center;
}

.buttons-group-experience-home a {
    margin-top: 30px;
}

.buttons-group-experience-home a.btn-latam {
    border-radius: 3px;
    margin: 35px 10px 5px 10px;
    padding: 12px 32px;
    cursor: pointer;
    box-shadow: none;
    font-size: 1.6rem;
    font-family: "latam_sansregular";
    color: #FFF;
}

.buttons-group-experience-home.btn-latam.ghost {
    background-color: rgba(0, 0, 0, 0.3);
    border: 0.5px solid #FFFFFF;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .75);
    transition: box-shadow .2s ease-in, background-color .2s ease-in, color .2s ease-in;
}

.buttons-group-experience-home a.btn-latam.ghost:hover {
    background: rgba(0, 0, 0, .6);
    transition: box-shadow .2s ease-in, background-color .2s ease-in, color .2s ease-in;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, .4);
    transition: all .25s ease-in-out;
    text-decoration: none;
}

/*INFERIOR LINE HOVER*/
.zoom h1,
.zoom h2 {
    width: max-content;
    margin: 0 auto;
    position: relative;
}

.zoom h1:hover,
.zoom h2:hover {
    cursor: pointer;
}

.zoom h1::after,
.zoom h2::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #FFF;
    content: '';
    opacity: 0;
    -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
    transition: height 0.3s, opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
}

.zoom:hover h1::after,
.zoom:hover h2::after {
    height: 1px;
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}

.zoom:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 0.4;
}
/*END INFERIOR LINE HOVER*/


/*MOBILE*/

@media screen and (max-width: 767px) {
    .header-image-main .header-image {
        margin-top: -120px;
    }
    .zoom .content-image img {
        opacity: 0.5;
    }
    .zoom.img-sm .header-image {
        top: 30%;
    }
    .zoom.img-sm h1 {
        font-size: 3.0rem;
        letter-spacing: 6.67px;
    }
    .zoom.img-sm h1 span {
        display: none;
    }
    .zoom.img-sm h4 {
        display: none;
    }
    .buttons-group {
        display: block;
        width: 100%;
    }
    a.btn-latam {
        width: 97%;
        margin-left: 0;
        display: block;
        margin: 0 auto;
        margin-bottom: 9px;
    }
	.header-image-experience {
        top: 45%;
        margin-top: -45px;
    }
}

@media screen and (max-width: 950px) {
    a.btn-latam {
        font-size: 1.5rem;
    }
}
/*END MOBILE*/


/*BACKGROUND BOX*/
.box-color {
    width: 100%;
    height: 100%;
    display: block;
}

.box-color-coral{
    background: #E9124C;
    transition: all .25s ease-in-out;
}

.box-color-coral:hover{
    background: #F53859;
    transition: all .25s ease-in-out;
}

.box-color-turquois{
    background: #07C4BC;
    transition: all .25s ease-in-out;
}

.box-color-turquois:hover{
    background: #00D7CD;
    transition: all .25s ease-in-out;
}

.box-color-purple {
    background: #99127F;
    transition: all .25s ease-in-out;
}

.box-color-purple:hover{
    background: #BA19A1;
    transition: all .25s ease-in-out;
}

.box-color-green {
    background: #769D28;
    transition: all .25s ease-in-out;
}

.box-color-green:hover{
    background: #99CC33;
    transition: all .25s ease-in-out;
}
/*END BACKGROUND BOX*/