<nav class="main-navigation">
	<div class="container">
    	<ul class="nav justify-content-center">
			<sly data-sly-test.path1="${properties.mainLink1 || properties.anchor1}" />
			<sly data-sly-test="${path1 && !properties.url1}">
            	<li class="nav-item">
                	<a class="nav-link" href="${properties.mainLink1 ? properties.mainLink1 : properties.anchor1 @ extension = 'html'}">
                    	<span class="menuIcon-big icon-light-${properties.iconCode1}" alt="${properties.title1}"></span><span>${properties.title1}</span>
                    </a>
                </li>
            </sly>
			<sly data-sly-test="${!path1 && properties.url1}">
            	<li class="nav-item">
                	<a class="nav-link" href="${properties.url1}" target="_blank">
                    	<span class="menuIcon-big icon-light-${properties.iconCode1}" alt="${properties.title1}"></span><span>${properties.title1}</span>
                    </a>
                </li>
            </sly>
            <sly data-sly-test="${path1 && properties.url1}">
            	<li class="nav-item">
                	<a class="nav-link" href="${properties.url1}" target="_blank">
                    	<span class="menuIcon-big icon-light-${properties.iconCode1}" alt="${properties.title1}"></span><span>${properties.title1}</span>
                    </a>
                </li>
            </sly>
            <sly data-sly-test.path2="${properties.mainLink2 || properties.anchor2}" />
			<sly data-sly-test="${path2 && !properties.url2}">
            	<li class="nav-item">
            		<a class="nav-link" href="${properties.mainLink2 ? properties.mainLink2 : properties.anchor2 @ extension = 'html'}">
                    	<span class="menuIcon-big icon-light-${properties.iconCode2}" alt="${properties.title2}"></span><span>${properties.title2}</span>
                    </a>
                </li>
            </sly>
            <sly data-sly-test="${!path2 && properties.url2}">
            	<li class="nav-item">
            		<a class="nav-link" href="${properties.url2}" target="_blank">
                		<span class="menuIcon-big icon-light-${properties.iconCode2}" alt="${properties.title2}"></span><span>${properties.title2}</span>
                    </a>
                </li>
            </sly>
            <sly data-sly-test="${path2 && properties.url2}">
            	<li class="nav-item">
                	<a class="nav-link" href="${properties.url2}" target="_blank">
                    	<span class="menuIcon-big icon-light-${properties.iconCode2}" alt="${properties.title2}"></span><span>${properties.title2}</span>
                    </a>
                </li>
            </sly>
            <sly data-sly-test.path3="${properties.mainLink3 || properties.anchor3}" />
			<sly data-sly-test="${path3 && !properties.url3}">
            	<li class="nav-item">
                	<a class="nav-link" href="${properties.mainLink3 ? properties.mainLink3 : properties.anchor3 @ extension = 'html'}">
                    	<span class="menuIcon-big icon-light-${properties.iconCode3}" alt="${properties.title3}"></span><span>${properties.title3}</span>
                    </a>
                </li>
            </sly>
            <sly data-sly-test="${!path3 && properties.url3}">
            	<li class="nav-item">
                	<a class="nav-link" href="${properties.url3}" target="_blank">
                    	<span class="menuIcon-big icon-light-${properties.iconCode3}" alt="${properties.title3}"></span><span>${properties.title3}</span>
                    </a>
                </li>
            </sly>
            <sly data-sly-test="${path3 && properties.url3}">
              	<li class="nav-item">
            	    <a class="nav-link" href="${properties.url3}" target="_blank">
                	    <span class="menuIcon-big icon-light-${properties.iconCode3}" alt="${properties.title3}"></span><span>${properties.title3}</span>
                    </a>
                </li>
            </sly>
            <sly data-sly-test.path4="${properties.mainLink4 || properties.anchor4}" />
			<sly data-sly-test="${path4 && !properties.url4}">
            	<li class="nav-item">
                	<a class="nav-link" href="${properties.mainLink4 ? properties.mainLink4 : properties.anchor4 @ extension = 'html'}">
                    	<span class="menuIcon-big icon-light-${properties.iconCode4}" alt="${properties.title4}"></span><span>${properties.title4}</span>
                    </a>
                </li>
            </sly>
            <sly data-sly-test="${!path4 && properties.url4}">
            	<li class="nav-item">
                	<a class="nav-link" href="${properties.url4}" target="_blank">
                    	<span class="menuIcon-big icon-light-${properties.iconCode4}" alt="${properties.title4}"></span><span>${properties.title4}</span>
                    </a>
                </li>
            </sly>
            <sly data-sly-test="${path4 && properties.url4}">
    	        <li class="nav-item">
                	<a class="nav-link" href="${properties.url4}" target="_blank">
                    	<span class="menuIcon-big icon-light-${properties.iconCode4}" alt="${properties.title4}"></span><span>${properties.title4}</span>
                	</a>
            	</li>
        	</sly>
    	</ul>
    </div>
</nav>