<sly data-sly-use.resourceTransformerImage="${'minisites.latam.core.models.StaticResourceTransformerModel' @ targetURI = properties.fileReferenceLogo}"
    	 data-sly-test.imageComponent = "${resourceTransformerImage.URIExternalized @ context='uri'}" />
<sly data-sly-use.template="core/wcm/components/commons/v1/templates.html"
     data-sly-call="${template.placeholder @ isEmpty=!hasContent}"></sly>
<sly data-sly-use.util="../pages/page-base/util.js"
	 data-sly-use.conf="market-selector.js"/>

<header class="top-nav fixed-top">
	<div class="container-fluid">
    	<div class="row top-nav__latam">
        	<a class="col-auto mr-auto top-nav__brand" href="https://www.latam.com/${util.market}/">
          	<img src="/etc.clientlibs/minisites-latam/clientlibs/commons/resources/images/latam-logo_sticky.svg" alt="Latam Airlines Logo">
        	</a>
            <sly data-sly-test="${properties.fileReferenceLogo}">
                <div class="col-auto mr-auto top-nav__brand-campaign">
                    <img src="${imageComponent}" alt="${properties.alt}">
                </div>
            </sly>
        	<div class="col-auto top-nav__country-selector">
          		<img src="${conf.flag}" alt="${conf.countryName}"><span>${conf.countryIni}</span>
        	</div>
      	</div>
		<sly data-sly-include="top-nav.html" />
    </div>
</header>

<button class="navbar-button" type="button">
	<div class="navbar-button__bar"></div>
    <div class="navbar-button__bar"></div>
    <div class="navbar-button__bar"></div>
    <div class="navbar-button__bar"></div>
</button>

<sly data-sly-include="main-nav.html" />

<sly data-sly-include="navigation-mobile.html" />