<div class="row top-nav__campaign">
	<ul class="col-auto ml-auto top-nav__campaign-nav">
    	<li class="nav-item">
			<sly data-sly-test.path1="${properties.mainLink1 || properties.anchor1}" />
			<sly data-sly-test="${path1 && !properties.url1}">
    	        <a class="nav-link active" href="${properties.mainLink1 ? properties.mainLink1 : properties.anchor1 @ extension = 'html'}">
        	    	<span class="menuIcon-small icon-light-${properties.iconCode1}" alt="${properties.title1}"></span><span>${properties.title1}</span>
                </a>
			</sly>
			<sly data-sly-test="${!path1 && properties.url1}">
                <a class="nav-link active" href="${properties.url1}" target="_blank">
            	    <span class="menuIcon-small icon-light-${properties.iconCode1}" alt="${properties.title1}"></span><span>${properties.title1}</span>
                </a>
            </sly>
            <sly data-sly-test="${path1 && properties.url1}">
            	<a class="nav-link active" href="${properties.url1}" target="_blank">
                	<span class="menuIcon-small icon-light-${properties.iconCode1}" alt="${properties.title1}"></span><span>${properties.title1}</span>
                </a>
			</sly>
		</li>
        <li class="nav-item">
        	<sly data-sly-test.path2="${properties.mainLink2 || properties.anchor2}" />
			<sly data-sly-test="${path2 && !properties.url2}">
                <a class="nav-link" href="${properties.mainLink2 ? properties.mainLink2 : properties.anchor2 @ extension = 'html'}">
                    <span class="menuIcon-small icon-light-${properties.iconCode2}" alt="${properties.title2}"></span><span>${properties.title2}</span>
                </a>
            </sly>
			<sly data-sly-test="${!path2 && properties.url2}">
                <a class="nav-link" href="${properties.url2}" target="_blank">
                    <span class="menuIcon-small icon-light-${properties.iconCode2}" alt="${properties.title2}"></span><span>${properties.title2}</span>
                </a>
            </sly>
            <sly data-sly-test="${path2 && properties.url2}">
                <a class="nav-link" href="${properties.url2}" target="_blank">
                    <span class="menuIcon-small icon-light-${properties.iconCode2}" alt="${properties.title2}"></span><span>${properties.title2}</span>
                </a>
            </sly>
        </li>
        <li class="nav-item">
        	<sly data-sly-test.path3="${properties.mainLink3 || properties.anchor3}" />
			<sly data-sly-test="${path3 && !properties.url3}">
                <a class="nav-link" href="${properties.mainLink3 ? properties.mainLink3 : properties.anchor3 @ extension = 'html'}">
                    <span class="menuIcon-small icon-light-${properties.iconCode3}" alt="${properties.title3}"></span><span>${properties.title3}</span>
                </a>
            </sly>
			<sly data-sly-test="${!path3 && properties.url3}">
                <a class="nav-link" href="${properties.url3}" target="_blank">
                    <span class="menuIcon-small icon-light-${properties.iconCode3}" alt="${properties.title3}"></span><span>${properties.title3}</span>
                </a>
            </sly>
            <sly data-sly-test="${path3 && properties.url3}">
                <a class="nav-link" href="${properties.url3}" target="_blank">
                    <span class="menuIcon-small icon-light-${properties.iconCode3}" alt="${properties.title3}"></span><span>${properties.title3}</span>
                </a>
            </sly>
        </li>
        <li class="nav-item">
        	<sly data-sly-test.path4="${properties.mainLink4 || properties.anchor4}" />
			<sly data-sly-test="${path4 && !properties.url4}">
                <a class="nav-link" href="${properties.mainLink4 ? properties.mainLink4 : properties.anchor4 @ extension = 'html'}">
                    <span class="menuIcon-small icon-light-${properties.iconCode4}" alt="${properties.title4}"></span><span>${properties.title4}</span>
                </a>
            </sly>
			<sly data-sly-test="${!path4 && properties.url4}">
                <a class="nav-link" href="${properties.url4}" target="_blank">
                    <span class="menuIcon-small icon-light-${properties.iconCode4}" alt="${properties.title4}"></span><span>${properties.title4}</span>
                </a>
            </sly>
            <sly data-sly-test="${path4 && properties.url4}">
                <a class="nav-link" href="${properties.url4}" target="_blank">
                    <span class="menuIcon-small icon-light-${properties.iconCode4}" alt="${properties.title4}"></span><span>${properties.title4}</span>
                </a>
            </sly>
        </li>
	</ul>
</div>