<sly data-sly-use.util="../pages/page-base/util.js"
	 data-sly-use.logic="footer.js" />
<template data-sly-template.footer="${ @ page}">
    <sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
         data-sly-test.clientlibCategoriesJsBody="${page.clientLibCategoriesJsBody}"
         data-sly-call="${clientlib.js @ categories=clientlibCategoriesJsBody}"></sly>
    <sly data-sly-include="../pages/page-base/customfooterlibs.html"></sly>
    <sly data-sly-resource="${'cloudservices' @ resourceType='cq/cloudserviceconfigs/components/servicecomponents'}"></sly>
    <sly data-sly-test="${page.hasCloudconfigSupport}" data-sly-resource="${'cloudconfig-footer' @ resourceType='cq/cloudconfig/components/scripttags/footer'}"></sly>
</template>

<footer class="footer">
	<div class="container">
    	<div class="row">
			<a class="col-auto mr-auto footer__brand" href="https://www.latam.com/${util.market}/">
          		<img src="/etc.clientlibs/minisites-latam/clientlibs/commons/resources/images/latam-logo_footer.svg" alt="Latam Airlines Logo">
        	</a>
        	<div class="col-auto footer__social-media">
                <h5>${'Siguenos' @ i18n, locale=util.language}</h5>
                <ul>
                    <li><a class="facebook" target="_blank" href="${logic.facebook}"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="instagram" target="_blank" href="${logic.instagram}"><i class="fa fa-instagram"></i></a></li>
                    <li><a class="twitter" target="_blank" href="${logic.twitter}"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="youtube" target="_blank" href="${logic.youtube}"><i class="fa fa-youtube-play"></i></a></li>
                </ul>
			</div>
		</div>
	</div>
</footer>