<sly data-sly-use.resourceTransformerImage="${'minisites.latam.core.models.StaticResourceTransformerModel' @ targetURI = properties.fileReference}"
    	 data-sly-test.imageComponent = "${resourceTransformerImage.URIExternalized @ context='uri'}" />

<section class="featured-section" id="featured-section">
	<div id=${properties.anchor} class="container">
        <div class="row attractions-section__item">
            <div class="col-xs-12 col-md-6 col-lg-7 reverse-order-image attractions-section__item-image left-img">
                <div class="reverse-order-copyright copyright-left d-none d-md-block">${properties.infoPicture}</div>
                <div class="reverse-order-identifier attractions-section__item-thumbnail-identifier-left">
                    <sly data-sly-test="${properties.infoPhotographer}">
                        <span class="icon-bold-uid051 icon"></span><span>${properties.infoPhotographer}</span>
                    </sly>
                </div>
                <img src="${imageComponent}" alt="${properties.alt}">
            </div>
            <div class="col-xs-12 col-md-8 reverse-order-text attractions-section__item-info left-box">
                <div class="attractions-section__item-info-content reverse-order-padding padding-right">
                    <h2>${properties.title}</h2>
                    <p>${properties.text @ context="html"}</p>
                    <div data-sly-test="${properties.targetPagePath && !properties.url}">
                        <a class="featured-section__see-more" href="${properties.targetPagePath @ extension = 'html'}">${properties.buttonText}</a>
                    </div>
                    <div data-sly-test="${!properties.targetPagePath && properties.url}">
                        <a class="featured-section__see-more" href="${properties.url}">${properties.buttonText}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>