<sly data-sly-use.image="com.adobe.cq.wcm.core.components.models.Image" 
     data-sly-use.templates="core/wcm/components/commons/v1/templates.html" 
     data-sly-test.noImage="${image.src || properties.imageUrl}" 
     data-asset="${image.fileReference}"/>

    <div class="row mt-5 mb-5" itemscope itemtype="http://schema.org/ImageObject">
        <div class="col-12">
			<sly data-sly-test.hasLink="${properties.linkUrl}">
                <a href="${properties.linkUrl}" target="_blank">
                    <sly data-sly-test="${image.src || properties.imageUrl }">
                        <sly data-sly-test="${image.src && !properties.imageUrl}">
                            <img class="img-fluid" itemprop="contentUrl" src="${properties.fileReference}" alt="${properties.imageAlt || currentPage.title}" />
                        </sly>    
                        <sly data-sly-test="${!image.src && properties.imageUrl}">
                            <img class="img-fluid" itemprop="contentUrl" src="${properties.imageUrl}" alt="${properties.imageAlt || currentPage.title}" />
                        </sly>    
                        <sly data-sly-test="${image.src && properties.imageUrl}">
                            <img class="img-fluid" itemprop="contentUrl" src="${properties.fileReference}" alt="${properties.imageAlt || currentPage.title}" />
                        </sly>
                    </sly>
                </a>
			</sly>
			<sly data-sly-test="${!hasLink}">
            	<sly data-sly-test="${image.src || properties.imageUrl }">
					<sly data-sly-test="${image.src && !properties.imageUrl}">
						<img class="img-fluid" itemprop="contentUrl" src="${properties.fileReference}" alt="${properties.imageAlt || currentPage.title}" />
					</sly>
					<sly data-sly-test="${!image.src && properties.imageUrl}">
						<img class="img-fluid" itemprop="contentUrl" src="${properties.imageUrl}" alt="${properties.imageAlt || currentPage.title}" />
					</sly>
					<sly data-sly-test="${image.src && properties.imageUrl}">
                    	<img class="img-fluid" itemprop="contentUrl" src="${properties.fileReference}" alt="${properties.imageAlt || currentPage.title}" />
                    </sly>
                </sly>
			</sly>
            <div class="content-info-picture">                
                <div class="content-info-picture">
                    <small data-sly-test="${properties.imageDescription}" itemprop="description" class="info-picture">${properties.imageDescription}</small>
                    <span data-sly-test="${properties.imageAuthor}" itemprop="author" class="icon-light-sig056 info-copyright"><small>${properties.imageAuthor}</small></span>
                </div>            
            </div>
        </div>
    </div>
<sly data-sly-call="${templates.placeholder @ isEmpty = !noImage, classAppend = 'cmp-image cq-dd-image'}"></sly>