<sly data-sly-use.resourceTransformerImage="${'minisites.latam.core.models.StaticResourceTransformerModel' @ targetURI = properties.fileReference}"
    	 data-sly-test.imageComponent = "${resourceTransformerImage.URIExternalized @ context='uri'}" />
<sly data-sly-use.util="../../structure/pages/page-base/util.js" />
<sly data-sly-use.logic="headerInterior.js" />

<section class="hero" style="background-image: linear-gradient(180deg, transparent 0%, rgba(0, 0, 0, 0.44) 100%), url(${imageComponent @ context='uri'});" id="hero">
  <div class="container">
    <sly data-sly-test="${properties.geoLocate}">
        <div class="hero__location"><i class="fa fa-map-marker"></i> ${properties.geoLocate}</div>
    </sly>
    <h2 class="hero__title"><strong>${properties.title}</strong><br>${properties.text @ context="html"}</h2>
    <div class="hero__info">
        <sly data-sly-test="${properties.photographer}">
            <div class="hero__info-photo"><span class="icon-light-uid051 icon" alt="Photo"></span><span>${properties.photographer}</span></div>
        </sly>
        <sly data-sly-test="${properties.writer}">
            <div class="hero__info-author"><span class="icon-light-uid080 icon" alt="Pen"></span><span>${properties.writer}</span></div>
        </sly>
		<sly data-sly-test.date="${pageProperties['cq:lastReplicated']}">
        	<div class="hero__info-date">
                <span class="icon-light-uid035 icon" alt="Calendar"></span>
                <span>${logic.month1  @ i18n, locale=util.language} ${'YYYY' @ format=pageProperties['cq:lastReplicated']}</span>
            </div>
        </sly>
        <sly data-sly-test="${!date}">
        	<div class="hero__info-date">
                <span class="icon-light-uid035 icon" alt="Calendar"></span>
        		<span>${logic.month  @ i18n, locale=util.language}  ${'YYYY' @ format=pageProperties['cq:lastModified']}</span>
            </div>
        </sly>
    </div>
  </div>
</section>