@font-face {
    font-family: 'latam_sansregular';
    src: url('../../commons/resources/fonts/latam_sans_regular-webfont.woff2') format('woff2'), url('../../commons/resources/fonts/latam_sans_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latam_sanshairline_italic';
    src: url('../../commons/resources/fonts/latam_sans_hairline_italic-webfont.woff2') format('woff2'), url('../../commons/resources/fonts/latam_sans_hairline_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latam_sanshairline';
    src: url('../../commons/resources/fonts/latam_sans_hairline-webfont.woff2') format('woff2'), url('../../commons/resources/fonts/latam_sans_hairline-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latam_sanslight_italic';
    src: url('../../commons/resources/fonts/latam_sans_light_italic-webfont.woff2') format('woff2'), url('../../commons/resources/fonts/latam_sans_light_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latam_sanslight';
    src: url('../../commons/resources/fonts/latam_sans_light-webfont.woff2') format('woff2'), url('../../commons/resources/fonts/latam_sans_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latam_sansitalic';
    src: url('../../commons/resources/fonts/latam_sans_regular_italic-webfont.woff2') format('woff2'), url('../../commons/resources/fonts/latam_sans_regular_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latam_sansextended';
    src: url('../../commons/resources/fonts/latam_sans_extended-webfont.woff2') format('woff2'), url('../../commons/resources/fonts/latam_sans_extended-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latam_sansbold';
    src: url('../../commons/resources/fonts/latam_sans_bold-webfont.woff2') format('woff2'), url('../../commons/resources/fonts/latam_sans_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latam_sansbold_italic';
    src: url('../../commons/resources/fonts/latam_sans_bold_italic-webfont.woff2') format('woff2'), url('../../commons/resources/fonts/latam_sans_bold_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latam_sansblack';
    src: url('../../commons/resources/fonts/latam_sans_black-webfont.woff2') format('woff2'), url('../../commons/resources/fonts/latam_sans_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latam_sansblack_italic';
    src: url('../../commons/resources/fonts/latam_sans_black_italic-webfont.woff2') format('woff2'), url('../../commons/resources/fonts/latam_sans_black_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latam_sansfooter';
    src: url('../../commons/resources/fonts/latam_sans_footer.woff') format('woff'), url('../../commons/resources/fonts/latam_sans_footer.woff') format('woff'), url('../../commons/resources/fonts/latam_sans_footer.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'Latam-Sans-Regular';
	src: url('../../commons/resources/fonts/Latam_Sans_Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Latam-Sans-Bold';
	src: url('../../commons/resources/fonts/Latam_Sans_Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}