.gallery-block .heading h3{
  font-size:2.0rem;
  text-align:center;
  color: #191919;
  font-family:"latam_sansregular";
  letter-spacing:3.93px;
  text-shadow:0 1px 3px 0 rgba(0,0,0,0.5);
  text-transform: uppercase;
}

/*.line-gradient {
	width: 23%;
	height: 1px;
    background:linear-gradient(229.65deg, #1C0087 0%, #ED1550 100%);
	opacity: 0.7;
    margin: 20px auto 25px auto;
}*/


.gallery-block{
  padding-bottom: 60px;
  padding-top: 60px;
}

.gallery-block .heading{
    margin-bottom: 30px;
    text-align: center;
}

.gallery-block .heading h2{
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.gallery-block.compact-gallery .item{
  overflow: hidden;
  margin-bottom: 0;
  /*background: black;*/
  background: linear-gradient(0deg, #000000 0%, #1C0087 100%);/*COLOR DE FONDO*/
  opacity: 1;
}

.gallery-block.compact-gallery .item .image{
  transition: 0.8s ease;
}

.gallery-block.compact-gallery .item .info{
  position: relative;
    display: inline-block;
}

.gallery-block.compact-gallery .item .description{
    /*display: grid;*/
    position: absolute;
    bottom: 0;
    left: 0;
    top:42%;/*CENTRAR VERTICALMENTE*/
    margin-top:-42px;
    color: #fff;
    padding: 10px;
    font-size: 17px;
    line-height: 18px;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    opacity: 1;
    color: #fff;
    transition: 0.8s ease;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.39));
}

.gallery-block.compact-gallery .item .description .description-heading{
  width:100%;
  font-size: 2.0rem;
  /*font-weight: bold;*/
  font-family:"latam_sansbold";
  float: left;
  margin-bottom:12px;
}

.gallery-block.compact-gallery .item .description .description-body{
  font-size: 1.5rem;
  margin-top: 10px;
  /*font-weight: 300;*/
  font-family:"latam_sansregular";
  line-height:16px;
}

@media (min-width: 576px) {

  .gallery-block.compact-gallery .item .description {
    opacity: 0; 
  }

  .gallery-block.compact-gallery .item a:hover .description {
    opacity: 1; 
  } 

  .gallery-block .zoom-on-hover:hover .image {
    transform: scale(1.3);
    opacity: 0.5; /*TRANSPARENCIA*/
  }
}