<sly data-sly-test.hasPath="${properties.targetPagePath}"
	 data-sly-use.info="com.vamos.latam.core.models.PageInformationModel" />

<sly data-sly-test="${properties.url && !properties.targetPagePath}">
    <div class="border-0 overflow zoom">
        <sly data-sly-test="${!properties.fileReference}">
            <a href="${properties.url}">
                <img class="img-fluid lazyload" data-src="/content/dam/vamos-latam/demo/empty-image-todo.jpg" alt="Image description">    
            </a>
            <div class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow">
                <h3 class="title-minigallery">${properties.title || 'Title'}</h3>
            </div>
        </sly>
        <sly data-sly-test="${properties.fileReference}">
            <a href="${properties.url}">
            	<img class="img-fluid lazyload" data-src="${properties.fileReference}" alt="${properties.title}">        
            </a>
            <div class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow">
            	<h3 class="title-minigallery">${properties.title || 'Title'}</h3>
            </div>
        </sly>
    </div>
</sly>

<sly data-sly-test="${properties.targetPagePath && !properties.url}">
    <div class="border-0 overflow zoom">
    	<a href="${properties.url}">
        	<img class="img-fluid lazyload" src="${info.destinationData.mediumImagePath || info.destinationData.mainImagePath || properties.fileReferenceMedium}" alt="${info.destinationData.title}">        
        </a>
        <div class="position-absolute p-2 p-lg-3 b-0 w-100 bg-shadow">
            <h3 class="title-minigallery">${info.destinationData.title}</h3>
        </div>
    </div>
</sly>