<div class="row">
    <div class="col-12 col-md-4 col-sm-6 mb-3 pl-md-0 pr-md-2 pr-sm-0 pl-sm-0">
    	<sly data-sly-resource="${'3small-small-left' @ resourceType='minisites-latam/components/content/beta/menuGallery/itemSmall'}"></sly>
    </div>
    <div class="col-12 col-md-4 col-sm-6 mb-3 pl-md-1 pr-md-1 pr-sm-0 pl-sm-0">
    	<sly data-sly-resource="${'3small-small-center' @ resourceType='minisites-latam/components/content/beta/menuGallery/itemSmall'}"></sly>
    </div>
    <div class="col-12 col-md-4 col-sm-6 mb-3 pl-md-2 pr-md-0 pr-sm-0 pl-sm-0">
    	<sly data-sly-resource="${'3small-small-right' @ resourceType='minisites-latam/components/content/beta/menuGallery/itemSmall'}"></sly>
    </div>
</div>