/* ========================
    MARKET SELECTOR MOBILE
=========================== */

.close-animatedModal {
    position: absolute;
    right: 13px;
    top: 12px;
    z-index: 9999;
}

.closebt {
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    cursor: pointer;
    float: right;
    width: 20px;
    height: 20px;
}

.closebt:hover {
    transform: rotate(90deg);
}

.closebt:active {
    transform: rotate(90deg);
}

.modal-content h3 {
    font-family: "latam_sansregular";
    text-align: center;
    margin-top: 20px;
    color: #02B5AD;
    margin-bottom: 20px;
}

.modal-content h4 {
    font-family: "latam_sansregular";
    text-align: center;
    margin-top: 20px;
}

.modal-content img {
    height: 20px;
    margin-right: 7px;
}

.country-group {
    border-bottom: 1px solid #F3F3F3;
    padding-bottom: 10px;
}

.country-group ul li a {
    display: flex;
    align-items: center;
    font-family: 'latam_sansregular';
    width: 50%;
    margin: 0 auto;
    height: 40px;
    font-size: 1.5rem;
    color: #363636;
}

.country-group ul li a:hover {
    text-decoration: none;
}

.country-group ul {
    margin: 0 auto;
}

.country-group h4 {
    margin-bottom: 15px;
    font-family: 'latam_sansbold_italic';
    text-transform: uppercase;
}

.country-group ul li {
    transition: ease-in 200ms;
    list-style: none;
}

.country-group ul li:active {
    background-color: #EAEAEA;
    transition: ease-in 200ms;
}

.country-group ul li:hover {
    background-color: #EAEAEA;
    transition: ease-in 200ms;
}

.country-group ul li span {
    color: #4e6361;
}


/*animated modal seleccion de mercado*/

#animatedModal {
    background-color: #fff !important;
}


/* ========================
       MARKET SELECTOR
=========================== */

.animatedModal {
    bottom: 0;
    display: none;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    transform: scale(0, 0);
    transition: all .5s ease-in-out;
    z-index: 20;
    overflow-y: auto;
}

.animatedModal.is-showing {
    display: block;
    opacity: 1;
    transform: scale(1, 1);
    z-index: 20;
}


/* ========================
       		MENU
=========================== */

html {
    height: 100%;
}

header {
    background-color: #FEFEFE;
    width: 100%;
    z-index: 3;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

nav.navbar {
    display: flex;
    width: 100%;
    padding: 0;
}

.flex-end {
    justify-content: flex-end;
}

.img-logo {
    padding-left: 10px;
}

.img-logo img {
    width: 12%;
}

.center-logo-desktop{
	position: absolute;
    max-width: 12%;
    top: 15%;
    left: 44%;
}

li.nav-item {
    outline: none;
    list-style: none;
}

.nav-item .nav-link {
    margin-right: 25px;
    font-size: 1.3rem;
    color: #363636;
    font-family: 'latam_sansbold_italic';
    border-bottom: 1px solid #fefefe;
    text-transform: uppercase;
}

.nav-item .nav-link:hover {
    border-bottom: 1px solid #00B5AE;
}

.experience {
    padding: 10px;
}

.experience h5 {
    color: #4BCAC5;
    padding: 5px 15px;
    margin: 0;
}

.nav-link i {
    padding: 0 5px;
    font-weight: 600;
}

.submenu {
    font-family: 'latam_sansbold_italic';
    font-size: 1.1rem;
    border: none;
    /*box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);*/
    text-transform: uppercase;
    width: max-content;
}

.submenu:hover {
    transition: background-color 100ms ease;
}

.submenu li a {
    padding: 10px 20px;
    color: #363636;
    transition: all 250ms linear;
    cursor: pointer;
}

.submenu li a:hover {
    background: #4BCAC5;
    color: #FFFFFF!important;
    transition: all 250ms linear;
}

.col-auto {
    padding: 0;
    margin-left: 12px;
}

.col-auto:first-child {
    margin-left: 0;
}

.dropdown-item:focus,
.dropdown-item:hover {
    outline: none;
    background: none;
}

.nav-item .dropdown:hover {
    display: block;
    transition: all 400ms linear 0s;
}

.navbar-nav {
    align-items: center;
    height: 100%;
}

.position-menu{
    margin-right: 50px;
}

.navbar-nav.isHidden {
    display: none;
    transition: all 400ms linear;
}

.navbar-collapse {
    height: 55px;
}

nav .navbar-collapse ul>li:hover .dropdown-menu {
    display: block !important;
}

nav .navbar-collapse ul>li:hover {
    transition: all 400ms linear 0s;
    -moz-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    -ms-transition: all 150ms linear;
}

.search-form-desktop {
    display: block;
    height: 55px;
    max-width: 40vw;
    overflow: hidden;
    padding-right: 15px;
    position: relative;
    transition: all .5s ease-in-out;
    width: 70px;
}

.search-form-desktop button {
    border-radius: 0px;
    padding: 0px;
}

.search-form-desktop.is-open {
    width: 100%;
}

.search-form-desktop__open-form {
    background-color: white;
    border: 0;
    color: #00B5AD;
    display: block;
    font-size: 1.8rem;
    line-height: 55px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 55px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.search-form-desktop__open-form:hover {
    background-color: #fafafa;
    transition: all .5s ease-in-out;
}

.search-form-desktop__form {
    display: flex;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: all .5s ease-in-out;
    width: 0;
    z-index: 0;
    border-left: 1px solid #f2f2f2;
}

.search-form-desktop.is-open .search-form-desktop__form {
    width: 100%;
    z-index: 2;
}

.search-form-desktop__form__button-close {
    background-color: white;
    border: 0;
    color: #4C4C4C;
    display: block;
    line-height: 55px;
    width: 55px;
    cursor: pointer;
    font-size: 18px;
}

.search-form-desktop__form__input-search {
    border: 0;
    flex: 1;
    line-height: 55px;
    outline: 0;
    padding: 0 15px;
    font-family: 'latam_sansregular';
    background: whitesmoke;
}

.search-form-desktop__form__submit {
    background-color: white;
    border: 0;
    color: #00B5AD;
    display: block;
    font-size: 1.8rem;
    line-height: 55px;
    text-align: center;
    width: 55px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.search-form-desktop__form__submit:hover {
    background-color: #fafafa;
    transition: all .5s ease-in-out;
}

.search-form {
    display: none;
}

.search-form button {
    border-radius: 0px;
    padding: 0px;
}

.menu-mobile-flyout {
    background-color: transparent;
    bottom: 0;
    position: fixed;
    top: 0;
    transition: all .75s ease-in-out;
    width: 100%;
    z-index: 1031;
}

.menu-mobile-flyout.closed {
    opacity: 0;
    visibility: hidden;
}

.menu-mobile-flyout__content {
    background-color: #00B5AD;
    bottom: 0;
    height: 100vh;
    overflow-x: scroll;
    padding: 80px 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: all .3s ease-in-out;
    width: 100%;
}

.menu-mobile-flyout__content.closed {
    opacity: 0;
    /* transform: translateX(200px);*/
    visibility: hidden;
}

.menu-mobile-flyout__content__button {
    height: 30px;
    position: absolute;
    right: 30px;
    top: 20px;
    width: 20px;
}

.menu-mobile-flyout__content__button a {
    color: #fff;
    display: block;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    transition: all .3s ease-in-out;
    vertical-align: top;
    width: 100%;
}

.menu-mobile-flyout__content__button a:hover {
    color: #fff;
    text-decoration: none;
}

.menu-mobile-flyout__content table {
    width: 100%;
}

.search * {
    outline: none;
    box-sizing: border-box;
}

.search {
    height: 100%;
}

.search__wrapper {
    position: relative;
    height: 100%;
}

.search__field:focus~button#closeSearch {
    display: block!important;
    position: absolute;
    left: 0;
    z-index: 9999;
}

.search__field {
    width: 50px;
    height: 100%;
    font-size: 1.4rem;
    padding: 0.35em 50px 0.35em 10px;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.search__field:focus {
    width: 30vw;
    color: #2b2b2b;
    cursor: default;
    background: #fff;
    border-bottom: solid 1px #00B5AE;
    transition: all 0.2s ease-in-out;
}

.search__field:focus~.search__icon {
    cursor: pointer;
    pointer-events: auto;
    height: 100%;
}

button.search__icon {
    position: absolute;
    top: -4px;
    right: 4px;
    background-color: initial;
    color: #FFF;
    width: 50px;
    height: 100%;
    font-size: 2.6rem;
    border-color: transparent;
    pointer-events: none;
    display: inline-block;
    transition: background-color 0.2s ease-in-out;
}

.search__field:hover {
    background-color: #f6f6f6;
    cursor: pointer;
}

button.search__icon::before {
    color: #00b5ae;
    font-size: 20px;
}

.search__field::-webkit-input-placeholder {
    position: relative;
    top: 0;
    left: 0;
    transition-property: top, color;
    transition-duration: .1s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
    font-size: 1.2rem;
}

.search__field:-moz-placeholder {
    position: relative;
    top: 0;
    left: 0;
    transition-property: top, color;
    transition-duration: .1s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
}

.search__field::-moz-placeholder {
    position: relative;
    top: 0;
    left: 0;
    transition-property: top, color;
    transition-duration: .1s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
}

.search__field:-ms-input-placeholder {
    position: relative;
    top: 0;
    left: 0;
    transition-property: top, color;
    transition-duration: .1s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
}

.search__field::-webkit-input-placeholder[style*=hidden] {
    color: #83b0c1;
    font-size: .65em;
    font-weight: normal;
    top: -20px;
    opacity: 1;
    visibility: visible !important;
}

.search__field:-moz-placeholder[style*=hidden] {
    color: #83b0c1;
    font-size: .65em;
    font-weight: normal;
    top: -20px;
    opacity: 1;
    visibility: visible !important;
}

.search__field::-moz-placeholder[style*=hidden] {
    color: #83b0c1;
    font-size: .65em;
    font-weight: normal;
    top: -20px;
    opacity: 1;
    visibility: visible !important;
}

.search__field:-ms-input-placeholder[style*=hidden] {
    color: #83b0c1;
    font-size: .65em;
    font-weight: normal;
    top: -20px;
    opacity: 1;
    visibility: visible !important;
}

.navbar-nav.navIsHidden {
    display: none;
}

#closeSearch.searchIsOpen,
#navbarSupportedContent,
#buttonCloseSearch,
#closeSearch {
    display: none;
}

.searchIsOpen#buttonSearch {
    display: block;
}

.searchIsOpen#btn-menu,
.searchIsOpen#logo-desktop,
.searchIsOpen#logo-mobile {
    display: none;
}

input:-internal-autofill-selected {
    background-color: none!important;
}


/* Change the white to any color ;) */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    background-color: rgba(255, 255, 255, 1)!important;
}

@media (max-width:767px) {
    .navbar-nav {
        display: none !important;
    }
    .btn-menu-mobile {
        font-size: 3rem;
        padding-right: 5px;
        color: #4C4C4C;
        margin-right: 5px;
    }
    .btn-menu-mobile:hover {
        color: #4C4C4C;
        outline: none;
    }
    .navbar-collapse {
        justify-content: space-between;
    }
    .search-form-desktop {
        display: none;
    }
    .search-form {
        display: block;
        height: 55px;
        position: relative;
        width: 100%;
    }
    .search-form__logo {
        top: 10px;
        left: 6px;
        position: absolute;
    }
    .search-form__logo img {
        display: block;
        height: auto;
        width: 140px;
    }
    .search-form__open-form {
        background-color: white;
        border: 0;
        color: #00B5AD;
        display: block;
        font-size: 25px;
        line-height: 55px;
        position: absolute;
        left: 50%;
        text-align: center;
        top: 0;
        transform: translateX(-50%);
        width: 55px;
    }
    .search-form__open-menu {
        background-color: white;
        border: 0;
        color: #4C4C4C;
        display: block;
        font-size: 25px;
        line-height: 55px;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        width: 55px;
    }
    .search-form__form {
        display: flex;
        margin: 0;
        opacity: 0;
        overflow: hidden;
        padding: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: all .5s ease-in-out;
        width: 0;
        z-index: 2;
    }
    .search-form__form.is-open {
        margin: 0 auto;
        opacity: 1;
        width: 100%;
    }
    .search-form__form__button-back {
        background-color: white;
        border: 0;
        color: #4C4C4C;
        display: block;
        line-height: 55px;
        width: 55px;
        font-size: 2rem;
    }
    .search-form__form__input-search {
        border: 0;
        flex: 1;
        line-height: 55px;
        outline: 0;
        padding: 0 15px;
    }
    .search-form__form__submit {
        background-color: white;
        border: 0;
        color: #00B5AD;
        display: block;
        font-size: 25px;
        line-height: 55px;
        text-align: center;
        width: 55px;
    }
    .search * {
        outline: none;
        box-sizing: border-box;
        display: inline-block;
    }
    form.search {
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
    }
    form.search .img-logo {
        position: absolute;
        left: 0;
        top: 10px;
    }
    form.search .box-menu-mobile {
        position: absolute;
        right: 0;
        top: 27px;
    }
    .search__field {
        height: 100%;
        font-size: 1.6rem;
        border: 1px solid transparent;
        background: #fff;
        cursor: none;
    }
    .search__field.searchIsOpen {
        width: 100vw;
        cursor: default;
    }
    .search__icon,
    .search__icon:focus {
        background-color: none;
        color: #00B5AE;
        width: auto;
        pointer-events: all;
    }
    .search__field:focus~.search__icon {
        background-color: none;
        top: -3px;
    }
    .pointer-event {
        pointer-events: none !important;
    }
    .search__field.searchIsOpen {
        width: 100vw;
        background: #FFFFFF;
    }
    #closeSearch.searchIsOpen {
        display: block;
        border: none;
        background: none;
    }
    #buttonSearch,
    #closeSearch {
        display: none;
    }
    .searchIsOpen#btn-menu,
    .searchIsOpen#logo-desktop,
    .searchIsOpen#logo-mobile {
        display: none;
    }
    .search__field:focus {
        width: 100vw;
        color: #2b2b2b;
        cursor: default;
        background: #fff;
        border-bottom: solid 1px #00B5AE;
        transition: all 0.2s ease-in-out;
    }
}

@media (max-width:996px) {
    .nav-item .nav-link {
        margin-right: 10px;
    }
}

@media (min-width:768px) {
    .d-lg-none {
        display: none;
    }
}


/*preheader*/

a.desktop-market-selection {
    color: #fff!important;
    font-family: 'latam_sansregular'!important;
    border-bottom: 0!important;
    text-transform: inherit!important;
    font-size: 1.3rem;
    font-weight: normal;
    transition: all 250ms linear;
    padding: 8px;
}
/*
a.desktop-market-selection[aria-expanded="true"] {
    background-color: #4BCAC5;
}

a.desktop-market-selection:hover,
a.desktop-market-selection:focus,
a.desktop-market-selection:active {
    background-color: #4BCAC5;
    transition: all 250ms linear;
}*/

a.mobile-market-selection {
    color: #6d6d6d;
    height: 33px;
    align-items: center;
    padding: 5px 10px;
    transition: ease-in 200ms;
    display: flex;
}
/*
a.mobile-market-selection:hover {
    text-decoration: none;
    background-color: #00B5AE;
    transition: all 250ms linear;
}

a.mobile-market-selection:active {
    background-color: #e0e0e0;
    transition: ease-in 200ms;
}*/

a.mobile-market-selection img {
    height: 20px;
    margin-right: 8px;
}

span.country-market {
    margin-top: 5px;
    font-family: 'latam_sansbold_italic';
    text-transform: uppercase;
    font-size: 1.6rem;
    color: #fff;
    align-self: center;
    vertical-align: middle;
}

.right-element-preheader .content-desktop-market {
    display: inline-block!important;
}

/*
.vamos-nav-desktop {
    background-color: #fff;
    -webkit-box-shadow: 0px 13px 16px -13px rgba(112, 112, 112, 0.85);
    -moz-box-shadow: 0px 13px 16px -13px rgba(112, 112, 112, 0.85);
    box-shadow: 0px 13px 16px -13px rgba(112, 112, 112, 0.85);
}*/

.disney-nav-desktop {
    background: rgb(2,0,36);
    /*background: linear-gradient(180deg, rgba(48,129,195,1) 20%, rgba(21,185,218,1) 100%);*/
	background-image: url("../../../commons/resources/images/headerDisney/stars.png");
    -webkit-box-shadow: 0px 13px 16px -13px rgba(112, 112, 112, 0.85);
    -moz-box-shadow: 0px 13px 16px -13px rgba(112, 112, 112, 0.85);
    box-shadow: 0px 13px 16px -13px rgba(112, 112, 112, 0.85);
    background-repeat: repeat-x;
}

nav.preheader {
    background-color: #150067;
}

nav.preheader .navbar-collapse {
    height: auto;
}

nav.preheader button.login-button {
    background-color: #B3103B;
    border: 0;
    cursor: pointer;
    color: #fff;
    font-family: 'latam_sansbold';
    transition: all 250ms linear;
    padding: 8px 20px 8px 20px;
    font-size: 1.3rem;
}

nav.preheader button.login-button:hover {
    background: #ed1650;
    transition: all 250ms linear;
}

nav.preheader button.sign-in {
    background-color: #150067;
    border: 0;
    cursor: pointer;
    color: #fff;
    transition: all 250ms linear;
    padding: 8px 12px 8px 12px;
    font-size: 1.3rem;
}

nav.preheader button.sign-in:hover {
    background: #0f004b;
    transition: all 250ms linear;
}

nav.preheader a.preheader-logo {
    margin-left: 10px;
    margin-top: -7px;
}

.navbar-expand .navbar-nav .dropdown-menu.select-country {
    margin-left: -810px;
    padding: 20px 10px 20px 10px;
    -webkit-box-shadow: 0px 10px 31px -8px rgba(156, 156, 156, 0.6);
    -moz-box-shadow: 0px 10px 31px -8px rgba(156, 156, 156, 0.6);
    box-shadow: 0px 10px 31px -8px rgba(156, 156, 156, 0.6);
    top: 33px;
}

.navbar-expand .navbar-nav .dropdown-menu.select-country:before {
    content: "";
    position: absolute;
    top: -6px;
    right: 1%;
    width: 0;
    height: 0;
    border-width: 0 15px 15px;
    border-style: solid;
    border-color: transparent transparent #fff;
}

.navbar-expand .navbar-nav .dropdown-menu.select-country a img {
    width: 20px;
    margin-right: 5px;
}

.navbar-expand .navbar-nav .dropdown-menu.select-country a {
    cursor: pointer;
    text-transform: initial;
    font-family: 'latam_sansregular';
}

.navbar-expand .navbar-nav .dropdown-menu.select-country a span {
    vertical-align: middle;
}

ul.select-country .col-auto h5 {
    font-size: 1.1rem;
    text-align: center;
}


/******************/

.wrapper {
    max-width: 970px;
    margin: 3em auto;
}

.menu,
.sub-menu {
    margin: 0;
    padding: 0;
    width: 100%;
}

.menu-item,
.sub-menu,
.dropdown-icon {
    border: 0 solid;
}

.menu .menu-item {
    display: block;
}

.menu .menu-item.has-children,
.menu .menu-item.has-children .menu-item {
    position: relative;
}

.menu .menu-item:not(:last-child) {
    border-width: 0 0 1px;
}

.menu .menu-item a {
    padding: 1em;
    display: flex;
    justify-content: space-between;
}

.menu .sub-menu {
    border-width: 1px 0 0;
    visibility: hidden;
    opacity: 0;
    height: 0;
    width: 0;
    transition: visibility .25s, opacity .25s ease-in-out;
}

.menu .sub-menu .menu-item {
    visibility: hidden;
}

.menu .menu-item:hover>.sub-menu,
.menu .menu-item:active>.sub-menu,
.menu .menu-item:focus>.sub-menu {
    opacity: 1;
    height: auto;
    width: auto;
}

.menu .menu-item:hover>.sub-menu,
.menu .menu-item:hover>.sub-menu .menu-item,
.menu .menu-item:active>.sub-menu,
.menu .menu-item:active>.sub-menu .menu-item,
.menu .menu-item:focus>.sub-menu,
.menu .menu-item:focus>.sub-menu .menu-item {
    visibility: visible;
}

.menu .menu-item>a:hover .dropdown-icon:after,
.menu .menu-item>a:active .dropdown-icon:after,
.menu .menu-item>a:focus .dropdown-icon:after {
    transform: rotate(45deg);
}

.menu .dropdown-icon {
    padding: 1em 1.25em;
    margin: -1em -1em -1em .5em;
    border-width: 0 0 0 1px;
}

.menu .dropdown-icon:after {
    content: "+";
    display: block;
    transition: transform .25s ease-in-out;
}

.nav--rtl {
    direction: rtl;
    unicode-bidi: bidi-override;
}

.nav--rtl .menu .dropdown-icon {
    margin: -1em .5em -1em -1em;
    border-width: 0 1px 0 0;
}

@media only screen and (min-width: 1024px) {
    .nav .menu {
        display: flex;
        flex-flow: row wrap;
    }
    .nav .menu>.menu-item {
        border-width: 0 1px 0 0;
    }
    .nav .menu>.menu-item>a .dropdown-icon {
        padding-left: 0;
    }
    .nav .menu .menu-item:hover>.sub-menu,
    .nav .menu .menu-item:active>.sub-menu,
    .nav .menu .menu-item:focus>.sub-menu {
        width: 225px;
    }
    .nav .menu .sub-menu {
        position: absolute;
        z-index: 3000;
        top: 100%;
        left: 0;
        border-width: 0;
    }
    .nav .menu .sub-menu .sub-menu {
        top: 0;
        left: 100%;
    }
    .nav .menu .dropdown-icon {
        border-width: 0;
        padding: 1em;
    }
    .nav--rtl .menu>.menu-item>a .dropdown-icon {
        padding-left: 1em;
        padding-right: 0;
    }
    .nav--rtl .menu .sub-menu {
        top: 100%;
        left: auto;
        right: 0;
    }
    .nav--rtl .menu .sub-menu .sub-menu {
        left: auto;
        right: 100%;
    }
    .nav--cen .menu {
        justify-content: center;
    }
    .country-group ul li a {
        width: 65%!important;
    }
}

.nav {
    background-color: #00B5AD;
}

.nav .menu>.menu-item,
.nav .menu>.menu-item .dropdown-icon {
    border-color: rgba(255, 255, 255, 0.1);
}

.nav .menu>.menu-item,
.nav .menu>.menu-item>a {
    color: #ddd;
    font-family: 'latam_sansbold_italic';
    text-transform: uppercase;
}

.nav .menu>.menu-item>a:hover,
.nav .menu>.menu-item>a:active,
.nav .menu>.menu-item>a:focus {
    background-color: #14c5be;
    color: #fff;
    text-decoration: none;
}

.nav .sub-menu {
    background-color: #14c5be;
    color: #fff;
}

.nav .sub-menu,
.nav .sub-menu .dropdown-icon,
.nav .sub-menu .menu-item,
.nav .sub-menu .menu-item .dropdown-icon {
    border-color: rgba(0, 0, 0, 0.1);
    color: #fff;
}

.nav .sub-menu .menu-item,
.nav .sub-menu .menu-item a {
    color: #fff;
    font-family: 'latam_sansitalic';
    text-transform: uppercase;
}

.nav .sub-menu .menu-item a:hover,
.nav .sub-menu .menu-item a:active,
.nav .sub-menu .menu-item a:focus {
    background-color: #039791;
    color: #fff;
    text-decoration: none;
}

a.menu-title-link {
    color: #4bcac5;
    transition: all .5s ease-in-out;
}

a.menu-title-link:hover {
    text-decoration: none;
    transition: all .5s ease-in-out;
    color: #3eb5b0;
}


/*NUEVO MENU*/

.nav-link.mobile-nav[data-toggle].collapsed:after {
    content: "▾";
    margin-left: 10px;
}

.nav-link.mobile-nav[data-toggle]:not(.collapsed):after {
    content: "▴";
    margin-left: 10px;
}

.mobile-nav-vamos .nav-link {
    color: #fff;
    font-size: 1.6rem;
    text-transform: uppercase;
}

.mobile-nav-vamos .nav-item .nav-link {
    border-color: rgba(255, 255, 255, 0.1);
}

.mobile-nav-vamos .nav-link {
    padding: 1.5rem;
}

.mobile-nav-vamos ul.sub-menu- li a {
    padding: 1rem!important;
    margin-left: 20px;
}

.nav-link:focus {
    background-color: #089d96;
    transition: all .5s ease-in-out;
}

.center-logo {
    display: block;
    height: 45px;
    /*position: relative;*/
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}