<sly data-sly-test.hasPath="${properties.targetPagePath}"
	 data-sly-use.info="com.vamos.latam.core.models.PageInformationModel" />

<sly data-sly-test="${properties.url && !properties.targetPagePath}">
    <div class="border-0 overflow zoom principal-article-img">
        <a href="${properties.url}" target="_blank">
            <img class="img-fluid lazyload" data-src="${properties.fileReference || '/content/dam/vamos-latam/demo/empty-image-todo.jpg'}" alt="${properties.title}">    
        </a>        
        <div class="position-absolute p-2 b-0 w-100 bg-shadow">
            <h3 class="title-minigallery highligh">${properties.title || 'Title'}</h3>
        </div>
    </div>
</sly>
<sly data-sly-test="${properties.targetPagePath && !properties.url}">
    <div class="border-0 overflow zoom principal-article-img">
        <a href="${properties.targetPagePath}.html">
            <img class="img-fluid lazyload" src="${info.destinationData.mediumImagePath || info.destinationData.mainImagePath || properties.fileReferenceMedium}" alt="${info.destinationData.title}">    
        </a>        
        <div class="position-absolute p-2 b-0 w-100 bg-shadow">
            <h3 class="title-minigallery highligh">${info.destinationData.title || 'Title'}</h3>
        </div>
    </div>
</sly>