.cards-section {
  padding: 30px 0;
}
.cards-section__items-wrapper {
  margin: 0 0 20px 0;
}

.cards-section__items-wrapper .owl-stage-outer {
  padding: 20px 0;
}

.cards-section__items-wrapper .owl-dots .owl-dot {
  background-color: transparent;
  border: 1px solid #ea114b !important;
  height: 15px;
  width: 15px;
}

.cards-section__items-wrapper .owl-dots .owl-dot.active {
  background-color: #ea114b;
}

.cards-section__items-wrapper .owl-dots .owl-dot + .owl-dot {
  margin-left: 12px;
}

.cards-section__item {
  max-width: 100%;
  width: auto;
}

.cards-section__item p {
  color: black;
  font-size: 1.2em;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 14px;
  transition: all 0.1s ease-in-out;
}