.interior-tabs__nav-container {
  border-bottom: 5px solid #D8214B;
}

.interior-tabs__nav-list {
  display: -ms-flexbox;
  display: flex;
}

.interior-tabs__nav-list .nav-item {
  -ms-flex: 1;
      flex: 1;
  padding: 0;
}

.interior-tabs__nav-list .nav-item .nav-link {
  color: black;
  display: block;
  font-family: 'latam_sansbold'!important, sans-serif;
  font-size: 1.1em;
  line-height: 60px;
  text-align: center;
  transition: all .2s ease-in-out;
}

.interior-tabs__nav-list .nav-item .nav-link:focus, .interior-tabs__nav-list .nav-item .nav-link:hover {
  background-color: #150067;
  color: white;
}

.interior-tabs__nav-list .nav-item .nav-link.active {
  background-color: #D8214B;
  color: white;
}

.interior-tabs__item-content {
  padding: 100px 0;
}

.interior-tabs__item-content .col-md-12 {
  padding: 0 40px;
}

.interior-tabs__item-content .col-md-12:nth-child(2) {
  border-left: 1px solid #808080;
}

.interior-tabs__item-content-title {
  font-family: 'latam_sansbold'!important, sans-serif;
  font-size: 1.5em;
  margin: 0 0 30px 0;
}

.interior-tabs__item-content-link {
  color: black;
  display: inline-block;
  font-family: 'latam_sansbold'!important, sans-serif;
  text-decoration: underline;
  transition: all .2s ease-in-out;
}

.interior-tabs__item-content-link:focus, .interior-tabs__item-content-link:hover {
  color: #150067;
}

.tab__icon {
	font-size: 35px;
    vertical-align: bottom;
}

.hide__icon{
	display: none;
}

@media only screen and (max-width: 767px) {
  .interior-tabs__item-content {
    padding: 0;
  }

  .interior-tabs__item-content .col-md-12 {
    padding: 30px 0;
  }

  .interior-tabs__item-content .col-md-12:nth-child(2) {
    border-left: 0;
    border-top: 1px solid #D8214B;
  }

  .interior-tabs__nav-list .nav-item .nav-link {
    line-height: 25px;
  }

  .tab__title {
    font-size: 12px;
  }

  .tab__icon {
	font-size: 25px;
    vertical-align: bottom;
  }

  .hide__icon{
    display: none;
  }
}