<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="title-articles-related"> ${properties.text @ context="html"}</h2>
            <div class="line-gradient"></div>
        </div>
    </div>
    <div class="row m-0">
        <div class="col-12 col-md-4">
            <div class="related-post-hover-box mt-4">
                <div data-sly-resource="${'relatedpost_left' @ resourceType='vamos-latam/components/content/relatedPost/item'}"></div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="related-post-hover-box mt-4">
                <div data-sly-resource="${'relatedpost_center' @ resourceType='vamos-latam/components/content/relatedPost/item'}"></div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="related-post-hover-box mt-4">
                <div data-sly-resource="${'relatedpost_right' @ resourceType='vamos-latam/components/content/relatedPost/item'}"></div>
            </div>
        </div>
    </div>
</div>