<div data-sly-use.textModel="com.adobe.cq.wcm.core.components.models.Text" 
	 data-sly-use.templates="core/wcm/components/commons/v1/templates.html" 
     data-sly-test.text="${textModel.text}" >

    <section id=${properties.anchor} class="interior-section">
      <div class="container">
		  <div class="interior-section__content-richtext">
            <p data-sly-unwrap="${textModel.isRichText}">${text @ context = textModel.isRichText ? 'html' : 'html'}</p>
          </div>
      </div>
    </section>
   
</div>

<sly data-sly-call="${templates.placeholder @ isEmpty = !text, classAppend='cmp-text'}"></sly>
