<sly data-sly-use.resourceTransformerImageDesktop="${'minisites.latam.core.models.StaticResourceTransformerModel' @ targetURI = properties.fileReference}"
     data-sly-test.imageComponent = "${resourceTransformerImageDesktop.URIExternalized @ context='uri'}"/>
<sly data-sly-use.resourceTransformerImageMobile="${'minisites.latam.core.models.StaticResourceTransformerModel' @ targetURI = properties.fileReferenceMobile}"
	 data-sly-test.imageMobile="${resourceTransformerImageMobile.URIExternalized @ context='uri'}"/>

<sly data-sly-use.template="core/wcm/components/commons/v1/templates.html"
     data-sly-test.hasContent="${properties.fileReferenceMobile}" />

<sly data-sly-test="${properties.video_code}">
    <div class="video-responsive opacity-3">
        <iframe
                src="http://www.youtube.com/embed/${properties.video_code}?autoplay=1&controls=0&fs=0&loop=1&rel=0&modestbranding=1&mute=1"
                frameborder="0">
        </iframe>
    </div>
    <img src="${imageMobile}" class="d-block d-sm-block d-md-none w-100 opacity-3" alt="${properties.alt}">
    <div class="carousel-caption d-md-block">
        <h1>${properties.title}</h1>
        <p>${properties.lead @ context='html'}</p>
        <sly data-sly-test="${properties.targetPagePath && !properties.url}">
            <a class="featured-section__see-more" href="${properties.targetPagePath @ extension = 'html'}">${properties.buttonText}</a>
        </sly>
        <sly data-sly-test="${!properties.targetPagePath && properties.url}">
            <a class="featured-section__see-more" href="${properties.url}">${properties.buttonText}</a>
        </sly>
     </div> 
</sly>

<sly data-sly-test="${!properties.video_code}">
    <img src="${imageComponent}" class="d-none d-sm-none d-md-block w-100 opacity-3" alt="${properties.alt}">
    <img src="${imageMobile}" class="d-block d-sm-block d-md-none w-100 opacity-3" alt="${properties.alt}">
    <div class="carousel-caption d-md-block">
        <h1>${properties.title}</h1>
        <p>${properties.lead @ context='html'}</p>
        <sly data-sly-test="${properties.targetPagePath}">
            <a class="featured-section__see-more" href="${properties.targetPagePath @ extension = 'html'}">${properties.buttonText}</a>
        </sly>
        <sly data-sly-test="${properties.url}">
            <a class="featured-section__see-more" href="${properties.url}" target="_blank">${properties.buttonText}</a>
        </sly>
    </div>
</sly>

<sly data-sly-call="${template.placeholder @ isEmpty=!hasContent}"></sly>