<div data-sly-use.content="com.vamos.latam.core.access.ImageTextComponent">

    <div class="row mt-25 column-reverse" itemscope itemtype="http://schema.org/ImageObject">
        <div id="text" class="col-12 col-md-6 container-text-h3 align-self-center reverse-order-text">

			<h3>${properties.title}</h3>
            <p class="pt-4">${properties.text @ context="html"}</p>
            </br>
            <sly data-sly-list.item="${content.multiItems}">
                <h3>${item.multiTitle}</h3>
                <p class="pt-4">${item.multiText @ context="html"}</p>
            </sly>

			<div data-sly-test="${properties.targetPagePath && !properties.url}" >
                <div class="container-button">
                    <a href="${properties.targetPagePath}.html" class="btn-latam" target="_blank">${properties.buttonText}</a>
                </div>
			</div>

			<div data-sly-test="${properties.url && !properties.targetPagePath}" >
				<div  class="container-button">
            		<a href="${properties.url}" class="btn-latam" target="_blank">${properties.buttonText}</a>
            	</div>
			</div>

			<div data-sly-test="${properties.targetPagePath && properties.url}" >
				 <div class="container-button">
                    <a href="${properties.targetPagePath}.html" class="btn-latam" target="_blank">${properties.buttonText}</a>
                </div>
			</div>

        </div>

        <div id="image" class="col-12 col-md-6 mt-25-mobile reverse-order-image" itemscope itemtype="http://schema.org/ImageObject">
            <sly data-sly-test="${!properties.imageUrl}">
                <img itemprop="contentUrl" class="img-fluid lazyload" data-src="${properties.fileReference}" alt="${properties.imageAlt || currentPage.title}" />
            </sly>
            <sly data-sly-test="${!properties.fileReference}">
                <img itemprop="contentUrl" class="img-fluid lazyload" data-src="${properties.imageUrl}" alt="${properties.imageAlt || currentPage.title}" />
            </sly>
            <sly data-sly-test="${properties.imageUrl && properties.fileReference}">
                <img itemprop="contentUrl" class="img-fluid lazyload" data-src="${properties.fileReference}" alt="${properties.imageAlt || currentPage.title}" />
            </sly>
            <div data-sly-test="${properties.fileReference || properties.imageUrl}" class="content-info-picture">
                <small itemprop="description" class="info-picture">${properties.infoPicture}</small>
                <span data-sly-test="${properties.infoCopyright}" class="icon-light-sig056 info-copyright">
                <small itemprop="author">${properties.infoCopyright}</small></span>     
            </div>
        </div>
    </div>

</div>