.imageText .attractions-section {
  padding: 70px 0 200px 0;
}

.imageText .attractions-section__title {
  font-family: "latam_sansbold"!important;
  font-size: 44px;
  margin: 0 0 25px 0;
  text-align: center;
}

.imageText .attractions-section__subtitle {
  font-size: 24px;
  line-height: 30px;
  margin: 0 0 70px 0;
  text-align: center;
}

.imageText .attractions-section__carousel .owl-dots .owl-dot {
  background-color: transparent;
  border: 1px solid #ea114b !important;
  height: 15px;
  width: 15px;
}

.imageText .attractions-section__carousel .owl-dots .owl-dot.active {
  background-color: #ea114b;
}

.imageText .attractions-section__carousel .owl-dots .owl-dot + .owl-dot {
  margin-left: 12px;
}

.imageText .attractions-section__item {
  position: relative;
  margin: 30px 0 40px 0;
}

.imageText .attractions-section__item:after,
.imageText .attractions-section__item:before {
  content: "";
  display: table;
}

.imageText .attractions-section__item:after {
  clear: both;
}

.imageText .attractions-section__item + div {
  margin-top: 200px;
}

.imageText .attractions-section__item-image {
  overflow: hidden;
  position: absolute;
  top: 40px;
  z-index: 1;
}

.imageText .attractions-section__item-image img {
  display: block;
  height: auto;
  width: 100%;
  max-height: 500px;
  border-radius: 0 0 20px 20px;
}

.imageText .attractions-section__item-image .icon {
  font-size: 20px;
}

.imageText--reverse .reverse-order-identifier {
  color: #fff;
  right: 35px;
  position: absolute;
  bottom: 15px;
}

.imageText .attractions-section__item-thumbnail-identifier-right {
  color: #fff;
  left: 35px;
  position: absolute;
  bottom: 15px;
}

.imageText .attractions-section__item-thumbnail-identifier-left {
  color: #fff;
  /*right: 35px;*/
  margin-left: 20px;
  position: absolute;
  bottom: 15px;
}

.imageText--reverse .attractions-section__item-image .reverse-order-copyright {
	font-size: 9px;
    line-height: 10px;
    color: #ffffff;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    left: 20px;
    top: 20px;
    bottom: 20px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

/*.imageText .attractions-section__item-image .copyright-rigth {
  font-size: 9px;
  line-height: 10px;
  color: #ffffff;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  right: 30px;
  top: 20px;
  bottom: 20px;
  writing-mode: vertical-rl;
}*/

.imageText .attractions-section__item-image .copyright-left {
  font-size: 9px;
  line-height: 10px;
  color: #ffffff;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  right: 20px;
  top: 20px;
  bottom: 20px;
  writing-mode: vertical-rl;
}

.imageText .attractions-section__item-info-content {
  background-color: #150066;
  border-radius: 0 0 20px 20px;
  min-height: 500px;
}

.imageText--color-blue .attractions-section__item-info-content {
  background-color: #150066;
  border-radius: 0 0 20px 20px;
  min-height: 500px;
}

.imageText--color-coral .attractions-section__item-info-content {
  background-color: #E9124C;
  border-radius: 0 0 20px 20px;
  min-height: 500px;
}

.imageText .attractions-section__item-info-content h1 {
  color: white;
  font-size: 40px;
  font-family: "latam_sansbold"!important;
}
.imageText .attractions-section__item-info-content h2 {
  color: white;
  font-size: 32px;
  font-family: "latam_sansbold"!important;
}
.imageText .attractions-section__item-info-content h3 {
  color: white;
  font-size: 28px;
  font-family: "latam_sansregular"!important;
}

.imageText .attractions-section__item-info-content h4 {
  color: white;
  font-size: 24px;
  margin: 0 0 30px 0;
  font-family: "latam_sansregular"!important;
}

.imageText .attractions-section__item-info-content h5 {
  color: white;
  font-size: 20px;
  margin: 0 0 30px 0;
  font-family: "latam_sansregular"!important;
}

.imageText .attractions-section__item-info-content h6 {
  color: white;
  font-size: 16px;
  margin: 0 0 30px 0;
  font-family: "latam_sansregular"!important;
}

.imageText .attractions-section__item-info-content p {
  color: white;
  font-size: 16px;
}

.imageText .left-img {
	right: 0;
}

/*
.imageText .rigth-img {
	right: 0;
}*/

.imageText .left-box {
	margin-right: inherit;
}
/*
.imageText .right-box {
	margin-right: auto;
}*/

.imageText--reverse .reverse-order-text{
	margin-left: auto;
}

.imageText--reverse .reverse-order-image {
	left: 0;
}

.imageText--reverse .reverse-order-padding {
	padding: 90px 30px 50px 40%!important;
}

.imageText .padding-left { padding: 90px 30px 50px 40%;}
.imageText .padding-right { padding: 90px 40% 0px 50px;}



@media only screen and (max-width: 767px) {
  .imageText .attractions-section__title {
    font-size: 32px;
  }

  .imageText .attractions-section__subtitle {
    font-size: 16px;
    line-height: 22px;
    margin: 0 0 30px 0;
  }

  .imageText .attractions-section__carousel {
    padding: 0;
  }

  .imageText .attractions-section__item {
    display: block;
    margin: 0 -15px;
    padding: 0;
  }

  .imageText .attractions-section__item-image {
    left: auto;
    margin: 0;
    overflow: auto;
    padding: 0;
    position: static;
    top: auto;
  }

  .imageText .attractions-section__item-image img {
    display: block;
    height: auto;
    width: 100%;
  }

  .imageText .attractions-section__item-image .copyright-rigth {
    font-size: 7px;
    line-height: 10px;
    color: #ffffff;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    right: 2px;
    top: 10px;
    writing-mode: vertical-rl;
    height: 35%;
  }

  .imageText .attractions-section__item-image .copyright-left {
    font-size: 7px;
    line-height: 10px;
    color: #ffffff;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    right: 2px;
    top: 10px;
    writing-mode: vertical-rl;
    height: 35%;
  }

  .imageText--reverse .attractions-section__item-image .copyright-left{
	left: 10px;
    /*display: none;*/
  }

  .imageText .attractions-section__item-image .icon {
    font-size: 20px;
  }

  .imageText .attractions-section__item-thumbnail-identifier-rigth {
    color: #fff;
    left: 35px;
    position: absolute;
    bottom: 15px;
  }

  .imageText .attractions-section__item-thumbnail-identifier-left {
    color: #fff;
    right: 35px;
    position: absolute;
    bottom: 15px;
  }

}

@media only screen and (max-width: 767px) {

	.imageText .attractions-section__item-info {
        min-height: 0;
        padding-left: 0;
  	}

    .imageText .attractions-section__item-info-content {
    	min-height: 0;
        padding: 40px 20px!important;
    }

    .imageText .attractions-section__item-info-content h2 {
    	font-size: 32px;
        font-family: "latam_sansbold"!important;
    }

}

@media only screen and (max-width: 991px) {
  .imageText .attractions-section__item-info-content {
    padding: 80px 30px 50px 25%;
  }
}

@media only screen and (max-width: 1480px) {
  .imageText .attractions-section__item + div {
    margin-top: 200px;
  }
}

.video-card__button {
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -ms-flex-pack: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  z-index: 100;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 40%;
}

.video-card__button .icon {
  font-size: 150px;
  color: white;
}

.video-card__button:focus,
.video-card__button:hover {
  opacity: 0.55;
  text-decoration: none;
}

@media only screen and (max-width: 767px) {
  .video-card__button {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    -ms-flex-pack: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
    z-index: 100;
    position: absolute;
    width: 100%;
    height: 40%;
    padding: 40%;
  }
}