.featured-section {
  padding: 30px 0;
}

.featured-section__head {
  margin: 0;
}

h1.featured-section__title {
  color: black;
  font-size: 46px;
  margin: 0 0 30px 0;
  text-align: center;
  font-family: "latam_sansbold"!important;
}

h2.featured-section__title {
  color: black;
  font-size: 42px;
  margin: 0 0 30px 0;
  text-align: center;
  font-family: "latam_sansbold"!important;
}

h3.featured-section__title {
  color: black;
  font-size: 38px;
  margin: 0 0 30px 0;
  text-align: center;
  font-family: "latam_sansbold"!important;
}

h4.featured-section__title {
  color: black;
  font-size: 34px;
  margin: 0 0 30px 0;
  text-align: center;
  font-family: "latam_sansbold"!important;
}

h5.featured-section__title {
  color: black;
  font-size: 30px;
  margin: 0 0 30px 0;
  text-align: center;
  font-family: "latam_sansbold"!important;
}

h6.featured-section__title {
  color: black;
  font-size: 26px;
  margin: 0 0 30px 0;
  text-align: center;
  font-family: "latam_sansbold"!important;
}

.featured-section__subtitle h1{
  color: black;
  font-size: 46px;
  margin: 0;
  text-align: center;
}

.featured-section__subtitle h2{
  color: black;
  font-size: 42px;
  margin: 0;
  text-align: center;
}

.featured-section__subtitle h3{
  color: black;
  font-size: 38px;
  margin: 0;
  text-align: center;
}

.featured-section__subtitle h4{
  color: black;
  font-size: 34px;
  margin: 0;
  text-align: center;
}

.featured-section__subtitle h5{
  color: black;
  font-size: 30px;
  margin: 0;
  text-align: center;
}

.featured-section__subtitle h6{
  color: black;
  font-size: 26px;
  margin: 0;
  text-align: center;
}

.featured-section__subtitle p{
  color: black;
  font-size: 24px;
  margin: 0;
  text-align: center;
}

.featured-section__content-wrapper {
  min-height: 540px;
  position: relative;
}

.featured-section__image {
  right: 0;
  overflow: hidden;
  position: absolute;
  top: 40px;
  z-index: 1;
}

.featured-section__image img {
  border-bottom-left-radius: 20px 20px;
  display: block;
  height: auto;
  width: 100%;
}

.featured-section__content {
  background-color: black;
  background-image: url("./../images/stars-pattern.png");
  border-bottom-left-radius: 20px 20px;
  padding: 60px 35% 60px 40px;
}

.featured-section__content h3 {
  color: white;
  font-weight: 300;
  font-size: 32px;
  line-height: 35px;
  margin-bottom: 25px;
}

.featured-section__content h3 strong {
  font-family: "latam_sansbold"!important, sans-serif;
  font-weight: 500;
}

.featured-section__content p {
  color: white;
  font-size: 16px;
  margin-bottom: 25px;
}

.featured-section__see-more {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 60px;
  color: white;
  display: inline-block;
  font-size: 1em;
  line-height: 44px;
  outline: none;
  padding: 0 30px;
  transition: all 0.2s ease-in-out;
}

.featured-section__see-more:focus,
.featured-section__see-more:hover {
  background-color: white;
  color: black;
  text-decoration: none;
}

@media only screen and (max-width: 767px) {
  .featured-section {
    padding: 20px 0;
  }

  .featured-section__head {
    margin: 0;
  }

  .featured-section__title {
    font-size: 30px;
    margin: 0;
    font-family: "latam_sansbold"!important;
  }

  .featured-section__subtitle {
    display: none;
  }

  .featured-section__content-wrapper {
    padding: 30px 0 0 0;
  }
}

@media only screen and (max-width: 991px) {
  .featured-section__image {
    -ms-flex: 100%;
    flex: 100%;
    margin-right: -15px;
    padding: 0 0 0 0;
    position: static;
    max-width: 100%;
    width: 100%;
  }

  .featured-section__image img {
    border-bottom-left-radius: 0 0;
  }
}