<sly data-sly-use.resourceTransformerImage="${'minisites.latam.core.models.StaticResourceTransformerModel' @ targetURI = properties.fileReference}"
    	 data-sly-test.imageComponent = "${resourceTransformerImage.URIExternalized @ context='uri'}" />

<sly data-sly-use.util="vamos-latam/components/structure/pages/page-base/util.js"
     data-sly-use.image="com.adobe.cq.wcm.core.components.models.Image" 
     data-sly-use.templates="core/wcm/components/commons/v1/templates.html" 
     data-sly-test.noImage="${image.src || properties.imageUrl}" 
     data-asset="${image.fileReference}"/>

    <div class="row mt-5 mb-5">
        <div class="col-12" id=${properties.anchor}>
			<sly data-sly-test.hasLink="${properties.linkUrl}">
                <a href="${properties.linkUrl}" target="_blank">
                    <sly data-sly-test="${image.src || properties.imageUrl }">
                        <sly data-sly-test="${image.src && !properties.imageUrl}">
                            <img class="img-fluid " src="${imageComponent}" alt="${properties.imageAlt || currentPage.title}" />
                        </sly>    
                        <sly data-sly-test="${!image.src && properties.imageUrl}">
                            <img class="img-fluid " src="${properties.imageUrl}" alt="${properties.imageAlt || currentPage.title}" />
                        </sly>    
                        <sly data-sly-test="${image.src && properties.imageUrl}">
                            <img class="img-fluid " src="${imageComponent}" alt="${properties.imageAlt || currentPage.title}" />
                        </sly>
                    </sly>
                </a>
			</sly>
			<sly data-sly-test="${!hasLink}">
            	<sly data-sly-test="${image.src || properties.imageUrl }">
					<sly data-sly-test="${image.src && !properties.imageUrl}">
						<img class="img-fluid " src="${imageComponent}" alt="${properties.imageAlt || currentPage.title}" />
					</sly>
					<sly data-sly-test="${!image.src && properties.imageUrl}">
						<img class="img-fluid " src="${properties.imageUrl}" alt="${properties.imageAlt || currentPage.title}" />
					</sly>
					<sly data-sly-test="${image.src && properties.imageUrl}">
                    	<img class="img-fluid " src="${imageComponent}" alt="${properties.imageAlt || currentPage.title}" />
                    </sly>
                </sly>
			</sly>
            <div class="content-info-picture">                
                <div class="content-info-picture">
                    <small data-sly-test="${properties.imageDescription}" class="info-picture">${properties.imageDescription}</small>
                    <span data-sly-test="${properties.imageAuthor}" class="icon-light-sig056 info-copyright"><small>${properties.imageAuthor}</small></span>
                </div>            
            </div>
        </div>
    </div>
</sly>
<sly data-sly-call="${templates.placeholder @ isEmpty = !noImage, classAppend = 'cmp-image cq-dd-image'}"></sly>