.interior-section__content {
  background-color: white;
  border-radius: 20px 20px 0 0;
  padding: 40px 100px;
  padding-bottom: 0px;
  transform: translateY(-150px);
}

.interior-section__content-breadcrumbs {
  border-bottom: 1px solid black;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 45px;
  padding-bottom: 25px;
}

.interior-section__content-breadcrumbs a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
.interior-section__content-breadcrumbs a:hover {
  color: #E9124C;
  text-decoration: none;
}

.interior-section__content-breadcrumbs .icon-breadcrumb{
	font-size: 20px;
    vertical-align: bottom;
}

@media only screen and (max-width: 767px) {
  .interior-section__content {
    padding: 20px 15px;
    padding-bottom: 0px;
  }

  .interior-section__content-breadcrumbs {
    display: none;
  }
}