hr.separador_post {
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0.07);
}

hr.separador_post:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
}

hr.separador_post:after {
    content: url('/etc.clientlibs/minisites-latam/clientlibs/commons/resources/images/separator/small-logo-vamos.svg');
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}