.b-0 {
    bottom: 0;
}

a {
    cursor: pointer;
}

.bg-shadow {
    background: rgba(76, 76, 76, 0);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(179, 171, 171, 0)), color-stop(49%, rgba(48, 48, 48, 0.37)), color-stop(100%, rgba(19, 19, 19, 0.8)));
    background: linear-gradient(to bottom, rgba(179, 171, 171, 0) 0%, rgba(48, 48, 48, 0.71) 49%, rgba(19, 19, 19, 0.8) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0);
}

.overflow {
    position: relative;
    overflow: hidden;
}

.zoom img {
    transition: all 0.2s linear;
}

.zoom:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 0.9;
}

h3.title-destiny {
    font-family: 'latam_sansblack_italic';
    text-transform: uppercase;
    color: #fff;
    font-size: 2rem;
    line-height: 1;
    margin-bottom: 0;
}

h3.title-destiny.highligh {
    font-family: 'latam_sansblack_italic';
    text-transform: uppercase;
    color: #E7EA1B;
    font-size: 5rem;
    line-height: 1;
    margin-bottom: 0;
}

h3.title-minigallery {
    font-family: 'latam_sansbold';
    text-transform: uppercase;
    color: #fff;
    font-size: 2.5rem;
    line-height: 1;
    margin-bottom: 0;
}

h3.title-minigallery.highligh {
    font-family: 'latam_sansbold';
    text-transform: uppercase;
    color: #fff;
    font-size: 4rem;
    line-height: 1;
    margin-bottom: 0;
}

h3.title-destiny.highligh span {
    font-family: 'latam_sansitalic';
}

h5.description-card {
    color: #fff;
    font-family: 'latam_sansitalic';
}

h5.text-white.my-1.description {
    color: #fff;
    font-size: 1.25rem;
    margin-top: .25rem!important;
    line-height: 1.2;
    font-family: 'latam_sansitalic';
}

.bodyDetallesDestinos {
    background-color: #fff;
    -webkit-box-shadow: 0px 1px 16px 3px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 0px 1px 16px 3px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 1px 16px 3px rgba(0, 0, 0, 0.06);
    position: relative;
}

h6.title-related-tags {
    font-size: 13px;
    font-family: 'latam_sanslight_italic';
    text-align: center;
    text-transform: uppercase;
}

h6 strong {
    font-weight: bold;
    font-family: 'latam_sansbold_italic';
}

.linkRelacionado {
    background: rgb(243, 243, 243);
    color: #413083;
    min-width: 110px;
    text-align: center;
    padding: 8px 0px;
    border-radius: 100px;
    font-size: 10px;
    display: inline-block;
    margin-bottom: 10px;
    margin: 0px 5px 10px;
}

.btn-see-more-destiny {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 12px;
    color: rgb(0, 181, 175);
    background: rgb(243, 243, 243);
    padding: 5px 15px;
    font-family: 'latam_sansbold_italic';
    text-transform: uppercase;
    transition: all .25s ease-in-out;
}

.btn-see-more-destiny:hover {
    background-color: rgb(129, 3, 114);
    transition: all .25s ease-in-out;
    color: #fff;
    text-decoration: none;
}

a.btn-see-all {
    font-family: 'latam_sansbold';
    background-color: #00B5AE;
    color: #fff;
    padding: 16px 30px;
    border-radius: 35px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2rem;
    transition: all .25s ease-in-out;
    margin: 0 auto;
}

a.btn-see-all:hover {
    text-decoration: none;
    background-color: #C1558B;
    transition: all .25s ease-in-out;
}

.box-titles-articles-list .enter-path {
    padding: 10px;
}



/*BACKGROUND BOX*/

.box-color {
    width: 100%;
    height: 100%;
    display: block;
}

.box-color-yellow{
    background: #FED105;
    transition: all .25s ease-in-out;
}

.box-color-purple{
    background: #957DAD;
    transition: all .25s ease-in-out;
}

.box-color-blue {
    background: #54A0FF;
    transition: all .25s ease-in-out;
}

.box-color-coral {
    background: #F47C7C;
    transition: all .25s ease-in-out;
}

.box-color-turquoise {
    background: #00B5AE;
    transition: all .25s ease-in-out;
}


/*FIN BACKGROUND BOX*/

@media screen and (max-width:767px) {
    .principal-article-img {
        margin-bottom: 5px;
    }
    .bodyDetallesDestinos .tags-explore-content {
        margin-bottom: 35px!important;
    }
}