<sly data-sly-use.util="../../structure/pages/page-base/util.js" />
<div data-sly-test="${properties.language}" id=${properties.anchor}>
    <div id="smartvel" class="smt-component smartvel-box"></div>
    <SmartvelComponent
        data-apiKey="2f5777f1-b0fe-4b55-bab8-52fd4f691780"
        data-destination="54978"
        data-ordergroups="places"
        data-autofilterinitialization= "true"
        data-enablels= "true"
        data-lang="${properties.language}"
        data-local_keys="${util.market}">
    </SmartvelComponent>
</div>

<sly data-sly-test="${!properties.language && wcmmode.edit}">
	<p>${'Ingrese idioma para Smartvel' @ i18n, locale=util.language}</p>
</sly>

<script src="https://cdn.smartvel.com/scripts/boot.min.js"></script>