<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
     data-sly-test.noTextIcon="${properties.textlist}"/>
<div class="textIcon-item row">
	<div class="textIcon-iconContainer col-2 col-md-1">
        <span class="textIcon-icon icon-light-${properties.iconCode}"></span>
	</div>
	<div class="textIcon-content richtext col-9 col-md-11">
		<p>${properties.textlist @ context='html'}</p>
	</div>
</div>    
<sly data-sly-call="${templates.placeholder @ isEmpty = !noTextIcon}"></sly>