<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html" 
     data-sly-test.noImage="${properties.fileReferenceDesktop || properties.colorCheck}">

    <sly data-sly-test="${!properties.colorCheck}">
    	<div class="border-0 overflow zoom">
        	<div class="content-image">
				<sly data-sly-test="${properties.targetPagePath && !properties.url}">
                	<a href="${properties.targetPagePath}.html">
                    	<img class="img-fluid" src="${properties.fileReferenceDesktop}" alt="${properties.alt}">
                        <div class="header-image-experience p-2 w-100">
                            <h3 class="text-white w-100 text-center experience-home">${properties.subtitle}</h3>
                            <h2 class="text-white experience-home">${properties.title}</h2>
                        </div>
                    </a>
                </sly>
				<sly data-sly-test="${properties.url && !properties.targetPagePath}">
                	<a href="${properties.url}" target="_blank">
                    	<img class="img-fluid" src="${properties.fileReferenceDesktop}" alt="${properties.alt}">
                        <div class="header-image-experience p-2 w-100">
                            <h3 class="text-white w-100 text-center experience-home">${properties.subtitle}</h3>
                            <h2 class="text-white experience-home">${properties.title}</h2>
                        </div>
                    </a>
                </sly>
                <div class="border-gradient"></div>
            </div>
            <!--<div class="header-image-experience p-2 w-100">
            	<h3 class="text-white w-100 text-center experience-home">${properties.subtitle}</h3>
                <h2 class="text-white experience-home">${properties.title}</h2>
            </div>-->
    	</div>
    </sly>

    <sly data-sly-test="${properties.colorCheck}">
    	<div class="border-0 overflow zoom h-100">
        	<div class="content-image h-100">
				<sly data-sly-test="${properties.targetPagePath && !properties.url}">
                	<a href="${properties.targetPagePath}.html" class="box-color box-color-${properties.colorOption}">
                    	<img class="img-fluid" src="/etc.clientlibs/experiencia-latam/clientlibs/commons/resources/images/transparent.png" alt="Image description">
						<div class="header-image-experience p-2 w-100">
                            <h2 class="text-white home-card-titles experience-home">${properties.title}</h2>
                        </div>
                    </a>
				</sly>
				<sly data-sly-test="${properties.url && !properties.targetPagePath}">
                	<a href="${properties.url}" class="box-color box-color-${properties.colorOption}">
                    	<img class="img-fluid" src="/etc.clientlibs/experiencia-latam/clientlibs/commons/resources/images/transparent.png" alt="Image description">
                        <div class="header-image-experience p-2 w-100">
                            <h2 class="text-white home-card-titles experience-home">${properties.title}</h2>
                        </div>
                    </a>
                </sly>
                <!--<div class="header-image-experience p-2 w-100">
                	<h2 class="text-white home-card-titles experience-home">${properties.title}</h2>
                </div>-->
                <div class="border-gradient"></div>
            </div>
    	</div>
    </sly>

</sly>

<sly data-sly-call="${templates.placeholder @ isEmpty = !noImage}"></sly>