.separator .separator-section {
  margin-right: 5%;
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;

}

.separator .separator-section::before {
  display: block;
  content: '';
  background-color: black;
  height: 2px;
  -ms-flex: 1;
      flex: 1;
  margin-right: 15px;
}

.separator--reverse .separator-section {
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  /*padding-left: 10%;*/
  width: 100%;
}

.separator--reverse .separator-section::after {
  display: block;
  content: '';
  background-color: black;
  height: 2px;
  -ms-flex: 1;
  flex: 1000;
  margin-left: 15px;
}

.separator .separator-section__icon{
	color: black;
    font-size: 60px;
}

.separator--reverse .separator-section__icon{
	color: black;
    font-size: 60px;
    transform: rotateY(180deg);
}                                              

@media only screen and (max-width: 767px) {
    .separator .separator-section__icon{
        color: black;
        font-size: 45px;
    }
}