<div data-sly-use.carousel="com.adobe.cq.wcm.core.components.models.Carousel"
     data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
     class="cmp-carousel"
     data-cmp-is="carousel">
		<section class="gallery-block compact-gallery">
                <div class="container">
                    <div class="heading">
                        <h3>${properties.title}</h3>
                        <div class="line-gradient"></div>
                    </div>

                    <div class="row no-gutters" data-sly-test="${carousel.items && carousel.items.size > 0}">

                        <sly data-sly-repeat.item="${carousel.items}">

							<sly data-sly-test.author="${wcmmode.edit || wcmmode.design}"/>

                                <sly data-sly-test="${author}">
                                    <div data-sly-resource="${item.path @ decorationTagName='div'}"
                                         class="col-md-3 col-lg-3 col-sm-6 item zoom-on-hover "> </div>
                                </sly>

                                <sly data-sly-test="${!author}">
    
                                    <div data-sly-test="${itemList.count < 9}"
                                         data-sly-resource="${item.path @ decorationTagName='div'}"
                                         class="col-md-3 col-lg-3 col-sm-6 item zoom-on-hover"> </div>

                                    <div data-sly-test="${itemList.count > 8}"
                                         data-sly-resource="${item.path @ decorationTagName='div'}"
                                         class="col-md-3 col-lg-3 col-sm-6 item zoom-on-hover"
                                         style="display:  none"> </div>
                                </sly>

                        </sly>
                    
                    </div>

                    <sly data-sly-resource="${resource.path @ resourceType='wcm/foundation/components/parsys/newpar', appendPath='/*', decorationTagName='div', cssClassName='new section aem-Grid-newComponent'}"
                         data-sly-test="${(wcmmode.edit || wcmmode.preview) && carousel.items.size < 1}"></sly>
				</div>
        </section>
</div>

