.video-responsive {
  position: relative;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
 }

.video-responsive iframe,
.video-responsive object,
.video-responsive embed {
  max-width: 1000%;
  margin-left: -262px;
  margin-top: -106px;
  margin-bottom: -106px;
  margin-right: -106px;
  width: 1889px;
  height: 784px;
}

.featured-section__see-more {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 60px;
  color: white;
  display: inline-block;
  font-size: 1em;
  line-height: 44px;
  outline: none;
  padding: 0 30px;
  transition: all 0.2s ease-in-out;
}

.featured-section__see-more:focus,
.featured-section__see-more:hover {
  background-color: white;
  color: black;
  text-decoration: none;
}
@media only screen and (max-width: 767px) {
  .video-responsive {
    display: none;
  }
}