<sly data-sly-use.resourceTransformerImage="${'minisites.latam.core.models.StaticResourceTransformerModel' @ targetURI = properties.fileReference}"
    	 data-sly-test.imageComponent = "${resourceTransformerImage.URIExternalized @ context='uri'}" />

<sly data-sly-use.template="core/wcm/components/commons/v1/templates.html"
	 data-sly-test.hasContent=${properties.fileReference} />

<div class="cards-section__item-content">
    <a class="cards-section__item-thumbnail" href="#">
        <div class="cards-section__item-thumbnail-identifier">
            <sly data-sly-test="${properties.geoLocate}">	
                <span><i class="fa fa-map-marker"></i> ${properties.geoLocate}</span>
            </sly>
        </div>
        <img src="${imageComponent}" alt="${properties.alt}">
    </a>
    <h3 class="cards-section__item-title">${properties.title}</h3>
    <p>${properties.text @ context="html"}</p>
    <sly data-sly-test="${properties.targetPagePath}">
        <a class="cards-section__item-button" href="${properties.targetPagePath @ extension = 'html'}">${properties.buttonText}</a>
    </sly>
    <sly data-sly-test="${properties.url}">
        <a class="cards-section__item-button" href="${properties.url}">${properties.buttonText}</a>
    </sly>
</div>

<sly data-sly-call="${template.placeholder @ isEmpty=!hasContent}"></sly>