.interior-section__content-richtext:after,
.interior-section__content-richtext:before {
  content: "";
  display: table;
}

.interior-section__content-richtext:after {
  clear: both;
}

.interior-section__content-richtext .img-align-left {
  display: block;
  float: left;
  margin: 0 30px 30px 0;
  max-width: 100%;
}

.interior-section__content-richtext .img-align-right {
  display: block;
  float: right;
  margin: 0 30px 30px 0;
  max-width: 100%;
}

.interior-section__content-richtext h1 {
  font-size: 46px;
}

.interior-section__content-richtext h2 {
  font-size: 42px;
}

.interior-section__content-richtext h3 {
  font-size: 38px;
}

.interior-section__content-richtext h4 {
  font-size: 34px;
}

.interior-section__content-richtext h5 {
  font-size: 30px;
}

.interior-section__content-richtext h6 {
  font-size: 26px;
}

.interior-section__content-richtext p {
  font-size: 16px;
  line-height: 24px;
}

.interior-section__content-richtext strong {
  font-family: "latam_sansbold"!important;
}

.interior-section__content-richtext a {
  font-family: "latam_sansitalic"!important, sans-serif;
  font-style: italic;
}

@media only screen and (max-width: 767px) {
	.interior-section__content-richtext img {
      display: block;
      height: auto;
      width: 100%;
    }
}