<nav class="cmp-breadcrumb"
     data-sly-use.breadcrumb="com.adobe.cq.wcm.core.components.models.Breadcrumb"
     data-sly-use.template="core/wcm/components/commons/v1/templates.html"
     data-sly-test="${breadcrumb.items.size > 0}">
    <ol class="cmp-breadcrumb__list" itemscope itemtype="http://schema.org/BreadcrumbList" data-sly-list.navItem="${breadcrumb.items}">
        <li class="cmp-breadcrumb__item${navItem.active ? ' cmp-breadcrumb__item--active' : ''}" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="${navItem.URL}" class="cmp-breadcrumb__item-link" itemprop="item" data-sly-unwrap="${navItem.active}">
                <sly data-sly-test="${navItemList.index==0}">
					<span class="icon-breadcrumb icon-bold-ife029" alt="Home"></span>
                </sly>
				<sly data-sly-test="${navItemList.index!=0}">
                    <span itemprop="name">/ ${navItem.title}</span>
                </sly>
            </a>
            <meta itemprop="position" content="${navItemList.count}" />
        </li>
    </ol>
</nav>
<sly data-sly-call="${template.placeholder @ isEmpty=breadcrumb.items.size == 0, classAppend='cmp-breadcrumb'}"></sly>