<sly data-sly-use.title="com.adobe.cq.wcm.core.components.models.Title"
     data-sly-use.template="core/wcm/components/commons/v1/templates.html"
     data-sly-test.text="${properties.title || properties.text}" />
    
<section class="featured-section" id="featured-section">
    <div id=${properties.anchor} class="container"> 
    	<div class="row justify-content-md-center featured-section__head">
        	<div class="col-md-9">
		  		<sly data-sly-test="${properties.title}">	
		  			<h2 class="featured-section__title" data-sly-element="${title.type}">${properties.title}</h2>
		  		</sly>	
          		<sly data-sly-test="${properties.text}">
              		<div class="featured-section__subtitle">
                		<p>${properties.text @ context="html"}</p>
              		</div>	
          		</sly>
			</div>
      	</div>
    </div>
</section>

<sly data-sly-call="${template.placeholder @ isEmpty=!text}"></sly>
