.page-hero__video {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.page-hero__video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.page-hero__video::after {
  background-image: linear-gradient(180deg, transparent 0%, rgba(0, 0, 0, 0.44) 100%);
  bottom: 0;
  content: '';
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
.page-hero__campaign {
  display: block;
  height: auto;
  margin: 0 auto 60px auto;
  max-width: 430px;
  width: 100%;
}

.page-hero__see-more {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 60px;
  color: white;
  display: inline-block;
  font-size: 1em;
  line-height: 44px;
  outline: none;
  padding: 0 30px;
  transition: all .2s ease-in-out;
}

.page-hero__see-more span {
  position: relative;
  top: 2px;
}

.page-hero__see-more:focus, .page-hero__see-more:hover {
  background-color: white;
  color: black;
  text-decoration: none;
}

.page-hero__hash-link {
  display: block;
  margin: 0 auto;
  width: 35px;
}

.page-hero__hash-link::before {
  background-color: white;
  content: '';
  display: block;
  height: 40px;
  margin: 0 auto 20px auto;
  width: 2px;
}

.page-hero__hash-link img {
  display: block;
  height: auto;
  margin: 0 auto;
  transition: all .5s ease-in-out;
  width: 100%;
}

.page-hero__hash-link:hover img {
  transform: translateY(15px);
}

.featured-section__see-more {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 60px;
  color: white;
  display: inline-block;
  font-size: 1em;
  line-height: 44px;
  outline: none;
  padding: 0 30px;
  transition: all .2s ease-in-out;
}

.featured-section__see-more:focus, .featured-section__see-more:hover {
  background-color: white;
  color: black;
  text-decoration: none;
}
@media only screen and (max-width: 767px) {
  .page-hero__campaign {
    margin: 0 auto 30px auto;
    max-width: 240px;
  }
}