<div class="row">
	<div class="col-12">
    	<!--/*<div class="title-card">
        	<span class="green-txt">${properties.componentTitle}</span>
        </div>*/-->
        <div>
        	<h2 class="title-articles-related"> ${properties.text @ context="html"}</h2>
            <div class="line-gradient"></div>
        </div>
    </div>
</div>

<div class="bodyDetallesDestinos mb-4 pb-2">
	<div class="row">
    	<div class="col-12">
        	<section class="row">
                <div class="col-12 col-md-6 pb-0 pb-md-3 pr-md-1">
					<sly data-sly-resource="${'bigItem' @ resourceType='minisites-latam/components/content/beta/gallery/itemBig'}"></sly>
                </div>
                <div class="col-12 col-md-6 pl-md-1 mb-3 mb-lg-4">
                    <div class="row">
                    	<div class="col-6 pb-1 pt-0 pr-1">
							<sly data-sly-resource="${'smallItem1' @ resourceType='minisites-latam/components/content/beta/gallery/itemSmall'}"></sly>
                        </div>
                        <div class="col-6 pb-1 pl-1 pt-0">
                        	<sly data-sly-resource="${'smallItem2' @ resourceType='minisites-latam/components/content/beta/gallery/itemSmall'}"></sly>
                        </div>
                        <div class="col-6 pb-1 pr-1 pt-1">
                        	<sly data-sly-resource="${'smallItem3' @ resourceType='minisites-latam/components/content/beta/gallery/itemSmall'}"></sly>
                        </div>
                        <div class="col-6 pb-1 pl-1 pt-1">
                        	<sly data-sly-resource="${'smallItem4' @ resourceType='minisites-latam/components/content/beta/gallery/itemSmall'}"></sly>
                        </div>
                    </div>
                </div>
        	</section>
        </div>
    </div>
</div>