<sly data-sly-use.util="../../structure/pages/page-base/util.js"
	 data-sly-use.stresdom="${'com.vamos.latam.core.models.AddStaticResourcesDomainModel' @ fileref=properties.fileReference, filerefmobile=properties.fileReferenceMobile}"/>

<div data-sly-test="${properties.video_code}">
    
    <div class="page-hero__video d-none d-sm-none d-md-block">
        <iframe src="https://www.youtube.com/embed/${properties.video_code}?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&mute=1"
    frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="page-hero__video d-block d-sm-block d-md-none">
        <img src="${properties.fileReferenceMobile  @ context='uri'}" class="w-100 h-100 opacity-3" alt="${properties.alt}">
    </div>
    <div class="container">
        <div data-sly-test="${properties.fileReferenceLogoVideo}">
            <img class="page-hero__campaign" src="${properties.fileReferenceLogoVideo  @ context='uri'}" alt="${properties.altLogoVideo}">
        </div>
        
         <div data-sly-test="${properties.targetPagePath && !properties.url}">
            <a class="page-hero__see-more" href="${properties.targetPagePath}">${properties.buttonText}</a>
        </div>
        <div data-sly-test="${!properties.targetPagePath && properties.url}">
            <a class="page-hero__see-more" href="${properties.url}">${properties.buttonText}</a>
        </div>
        <div data-sly-test="${properties.fileReferencePagination}">
            <a class="page-hero__hash-link" href="#featured-section">
                <img src="${properties.fileReferencePagination  @ context='uri'}" alt="${properties.altPagination}">
            </a>
        </div>
    </div>
    
</div>

<div data-sly-test="${!properties.video_code}">

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="${properties.fileReference  @ context='uri'}" class="d-none d-sm-none d-md-block w-100 opacity-3" alt="${properties.alt}">
            <img src="${properties.fileReferenceMobile  @ context='uri'}" class="d-block d-sm-block d-md-none w-100 opacity-3" alt="${properties.alt}">
            <div class="carousel-caption d-md-block">
                <h1>${properties.title}</h1>
                <p>${properties.lead @ context='html'}</p>
                <div data-sly-test="${properties.path && !properties.link}">
					<a class="featured-section__see-more" href="${properties.path}">${properties.buttonText}</a>
                </div>
                <div data-sly-test="${properties.link && !properties.path}">
                    <a class="featured-section__see-more" href="${properties.link}">${properties.buttonText}</a>
                </div>
                <div data-sly-test="${!properties.link && !properties.path}"></div>
            </div>
        </div>
    </div>
</div>

