<section class="container-fluid header">
    <div class="col">
        <div class="row">
            <div class="container-elements-images ds-block"> 
                <img class="img-fluid" src="${properties.fileReference}" alt="${properties.imageAlt || currentPage.title}" />
                <sly data-sly-test="${!properties.fileReference}">
                    <img class="img-fluid" src="${properties.imageUrl}" alt="${properties.imageAlt || currentPage.title}" />
                </sly>
                <div class="container white-content title-container article-title">
                    <div class="content-images-art title-large color">
                        <h1>${properties.title}</h1>
                        <sly data-sly-test="${!properties.title}">
                            <h1>${pageProperties.jcr:title }</h1>
                        </sly>
                        <h2>${properties.subtitle}</h2>
                        <div class="info-author">
                            <span data-sly-test="${properties.author}" class="icon-light-sig114"><small>${properties.author}</small></span>
                            <span data-sly-test="${properties.photographer}" class="icon-light-uid051"><small>${properties.photographer}</small></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>