<sly data-sly-use.util="../../pages/page-base/util.js" > 

<!--/*SEARCH MOBILE*/-->

<div class="search-form center-logo">
	<a href="/content/minisites-latam/mercados/${util.market}/disney.html" class="d-lg-none search-form__logo" id="logo-mobile"><img src="/etc.clientlibs/minisites-latam/clientlibs/commons/resources/images/headerDisney/logo-disney.svg" alt="logo-mickey"></a>
</div>