<sly data-sly-use.resourceTransformerImage="${'minisites.latam.core.models.StaticResourceTransformerModel' @ targetURI = properties.fileReference}"
    	 data-sly-test.imageComponent = "${resourceTransformerImage.URIExternalized @ context='uri'}" />

<sly data-sly-use.template="core/wcm/components/commons/v1/templates.html"
	 data-sly-test.hasContent=${properties.fileReference} />

<h5 class="gallery-carousel__item-caption">${properties.title}</h5>
<img class="${!(wcmmode.edit || wcmmode.preview) ? '': 'gallery-carousel-img__author'}" src="${imageComponent}" alt="${properties.alt}">

<sly data-sly-call="${template.placeholder @ isEmpty=!hasContent}"></sly>