<section data-sly-use.carousel="com.adobe.cq.wcm.core.components.models.Carousel"
  data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
  data-cmp-is="carousel"
  class="cards-section">
    <div class="container" id=${properties.anchor}>
        <div class="row justify-content-md-center  ${!(wcmmode.edit || wcmmode.preview) ? 'cards-section__items-wrapper': ''} owl-carousel">

              <div data-sly-repeat.item="${carousel.items}"
                 data-sly-resource="${item.name @ decorationTagName='div'}"
                 role="tabpanel"
                 class="col-md-4 cards-section__item ${itemList.first ? ' col-md-4 cards-section__item' : ''}"
                 data-cmp-hook-carousel="item"></div>

        </div>
    </div>
    <sly data-sly-resource="${resource.path @ resourceType='wcm/foundation/components/parsys/newpar', appendPath='/*', decorationTagName='div', cssClassName='new section aem-Grid-newComponent'}"
      data-sly-test="${(wcmmode.edit || wcmmode.preview) && carousel.items.size < 1}"></sly>
</section>