<sly data-sly-use.template="core/wcm/components/commons/v1/templates.html"
	 data-sly-test.hasContent=${properties.apiKey} />
<sly data-sly-use.util="../../structure/pages/page-base/util.js"
	 data-sly-use.logic="${'map.js' @ mapMode=properties.mapMode, apiKey=properties.apiKey, placeId=properties.placeId, 
     								  zoom=properties.zoom, latitude=properties.latitude, longitude=properties.longitude,
                                      maptype=properties.maptype}"/>
<div id=${properties.anchor}>
    <iframe 
        src="${logic.srcUrl}"
        width="100%" 
        height="450" 
        frameborder="0" 
        style="border:0;" 
        allowfullscreen="" 
        aria-hidden="false" 
        tabindex="0">
    </iframe>
</div>

<sly data-sly-call="${template.placeholder @ isEmpty=!hasContent}"></sly>