.top-nav__latam {
  background-color: #150067;
  border-bottom: #D8214B 2px solid;
  padding: 8px 0;
}

.top-nav__brand {
  padding: 0 15px;
}

.top-nav__brand img {
  display: block;
  height: 22px;
  width: auto;
}

.top-nav__brand-campaign {
  border-left: 1px solid white;
  -ms-flex: 1;
      flex: 1;
  padding: 0 15px;
}

.top-nav__brand-campaign img {
  display: block;
  height: 22px;
  width: auto;
}

.top-nav__country-selector {
  padding: 0 15px;
}

.top-nav__country-selector img {
  display: inline-block;
  height: 22px;
  margin-right: 10px;
  width: auto;
}

.top-nav__country-selector span {
  color: white;
  font-family: 'latam_sansregular'!important, Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 22px;
}

.top-nav__campaign {
  background-color: #E9124C;
}

@media only screen and (max-width: 991px) {
  .top-nav__campaign {
    display: none;
  }
}

.top-nav__campaign-brand {
  display: block;
  height: 34px;
  margin: 18px 0 0 0;
}

.top-nav__campaign-brand img {
  display: block;
  height: 100%;
  width: auto;
}

.top-nav__campaign-nav {
  height: 50px;
  list-style-type: none;
  margin: 0;
  padding: 8px 15px;
}

.top-nav__campaign-nav .nav-item {
  float: left;
}

.top-nav__campaign-nav .nav-item + .nav-item {
  margin-left: 25px;
}

.top-nav__campaign-nav .nav-item .nav-link {
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  padding: 0;
  transition: all .2s ease-in-out;
  vertical-align: middle;
}

.top-nav__campaign-nav .nav-item .nav-link .svg {
  display: inline-block;
  height: 20px;
  margin-right: 5px;
  width: auto;
}

.top-nav__campaign-nav .nav-item .nav-link svg {
  display: inline-block;
  height: 24px;
  margin: 0 5px 0 0;
  width: auto;
}

.top-nav__campaign-nav .nav-item .nav-link svg path {
  transition: all .2s ease-in-out;
}

.top-nav__campaign-nav .nav-item .nav-link:focus, .top-nav__campaign-nav .nav-item .nav-link:hover {
  color: black;
}

.top-nav__campaign-nav .nav-item .nav-link:focus svg path, .top-nav__campaign-nav .nav-item .nav-link:hover svg path {
  fill: black;
}

.main-navigation {
  position: absolute;
  transform: translateY(-50%);
  width: 100%;
  z-index: 1;
}

@media only screen and (max-width: 991px) {
  .main-navigation {
    display: none;
  }
}

.main-navigation .nav {
  background-color: #E9124C;
  border-radius: 20px 20px 20px 20px;
  height: 70px;
  margin: 0;
  padding: 20px 15px;
}

.main-navigation .nav .nav-item + .nav-item {
  border-left: 1px solid rgba(255, 255, 255, 0.527);
  margin-left: 25px;
}

.main-navigation .nav .nav-item + .nav-item .nav-link {
  padding-left: 25px;
}

.main-navigation .nav .nav-item .nav-link {
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  padding: 0;
  transition: all .2s ease-in-out;
  vertical-align: middle;
}

.main-navigation .nav .nav-item .nav-link.active svg path {
  fill: black;
}

.main-navigation .nav .nav-item .nav-link.active span {
  color: black;
}

.main-navigation .nav .nav-item .nav-link .svg {
  display: inline-block;
  height: 24px;
  margin-right: 10px;
  width: auto;
}

.main-navigation .nav .nav-item .nav-link svg {
  display: inline-block;
  height: 24px;
  margin-right: 10px;
  width: auto;
}

.main-navigation .nav .nav-item .nav-link svg path {
  transition: all .2s ease-in-out;
}

.main-navigation .nav .nav-item .nav-link span {
  position: relative;
  top: 3px;
}

.main-navigation .nav .nav-item .nav-link:focus, .main-navigation .nav .nav-item .nav-link:hover {
  color: black;
}

.main-navigation .nav .nav-item .nav-link:focus svg path, .main-navigation .nav .nav-item .nav-link:hover svg path {
  fill: black;
}

.navbar-button {
  background-color: #EEA900;
  border: 0;
  height: 50px;
  opacity: 0;
  outline: 0;
  padding: 15px 12px;
  position: fixed;
  right: 15px;
  top: 60px;
  transition: all .2s ease-in-out;
  visibility: hidden;
  width: 50px;
  z-index: 9;
}

@media only screen and (max-width: 991px) {
  .navbar-button {
    opacity: 1;
    visibility: visible;
  }
}

.navbar-button__bar {
  background-color: white;
  height: 2px;
  width: 100%;
}

.navbar-button__bar + div {
  margin-top: 4px;
}

.navbar-flyout {
  background-color: #EEA900;
  bottom: 0;
  overflow-y: auto;
  position: fixed;
  top: 0;
  transition: all .3s ease-in-out;
  width: 100%;
  z-index: 1031;
}

.navbar-flyout.closed {
  opacity: 0;
  visibility: hidden;
}

.navbar-flyout__head {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin: 0;
  padding: 15px 0 50px 0;
  position: relative;
}

.navbar-flyout__head-brand {
  margin: 0;
  padding: 0;
}

.navbar-flyout__head-brand img {
  display: block;
  height: 38px;
  width: auto;
}

.navbar-flyout__head-button {
  background-color: transparent;
  border: 0;
  display: block;
  height: 38px;
  margin: 0;
  outline: 0;
  padding: 10px;
  transition: all .3s ease-in-out;
  width: 38px;
}

.navbar-flyout__head-button img {
  display: block;
  height: 100%;
  width: auto;
}

.navbar-flyout__head-button:focus, .navbar-flyout__head-button:hover {
  color: #0DA547;
}

.navbar-flyout__content {
  min-height: 100vh;
  padding: 0 15px 30px 15px;
  transition: all .3s ease-in-out;
  width: 100%;
}

.navbar-flyout__content.closed {
  opacity: 0;
  visibility: hidden;
}

.navbar-flyout__content__nav {
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  list-style-type: none;
  margin: 0;
}

.navbar-flyout__content__nav li + li {
  border-top: 1px solid white;
}

.navbar-flyout__content__nav li a {
  color: white;
  display: block;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: .05em;
  line-height: 30px;
  padding: 25px 15px;
  transition: all .2s ease-in-out;
}

.navbar-flyout__content__nav li a img {
  display: inline-block;
  height: 30px;
  margin-right: 25px;
  vertical-align: middle;
  width: auto;
}

.navbar-flyout__content__nav li a:focus, .navbar-flyout__content__nav li a:hover {
  background-color: transparent;
  color: #808080;
  text-decoration: none;
}

.menuIcon-big{
	font-size: 45px;
    vertical-align: bottom;
}

.menuIcon-small{
	font-size: 35px;
    vertical-align: bottom;
}