@import (once) "/libs/wcm/foundation/clientlibs/grid/grid_base.less";

/* maximum amount of grid cells to be provided */
@max_col: 12;
 
/* default breakpoint */
.aem-Grid {
  .generate-grid(default, @max_col);
}

/* phone breakpoint */
@media (max-width: 768px) {
  .aem-Grid {
    .generate-grid(phone, @max_col);
  }
}
 
/* tablet breakpoint */
@media (min-width: 769px) and (max-width: 1200) {
  .aem-Grid {
    .generate-grid(tablet, @max_col);
  }
}
