<sly data-sly-use.template="core/wcm/components/commons/v1/templates.html"
     data-sly-test.text="${properties.text}" />

<div class="container">
	<div class="row interior-tabs__item-content">
    	<div class="col-md-12">
			${properties.text @ context='html'}
        </div>
	</div>
</div>

<sly data-sly-call="${template.placeholder @ isEmpty=!text}"></sly>