<div class="d-sm-block">
    <div class="col-12">
        <div class="row">
            <div class="col-12 col-md-12">
            <!--/*<div class="title-card">
                    <span class="green-txt">${properties.componentTitle}</span>
                </div>
                <div class="container-title-circle container-title-center">
                    <h2>${properties.componentTitle}</h2>
                </div>*/-->
                <div>
                    <h2 class="title-circle"> ${properties.text @ context="html"}</h2>
                    <!--/*<div class="line-gradient"></div>*/-->
                </div>
            </div>
        </div>
        <div class="content-shadow-component">
            <div class="col-6 col-md-3 pb-0 pt-0 pr-0 pl-0 pt-0 pb-0 pr-0">
                <sly data-sly-resource="${'circle1' @ resourceType='minisites-latam/components/content/beta/circleHome/circle'}"></sly>
            </div>
            <div class="col-6 col-md-3 pb-0 pt-0 pr-0 pl-0 pt-0 pb-0 pr-0">
                <sly data-sly-resource="${'circle2' @ resourceType='minisites-latam/components/content/beta/circleHome/circle'}"></sly>
            </div>
            <div class="col-6 col-md-3 pb-0 pt-0 pr-0 pl-0 pt-0 pb-0 pr-0">
                <sly data-sly-resource="${'circle3' @ resourceType='minisites-latam/components/content/beta/circleHome/circle'}"></sly>
            </div>
            <div class="col-6 col-md-3 pb-0 pt-0 pr-0 pl-0 pt-0 pb-0 pr-0">
                <sly data-sly-resource="${'circle4' @ resourceType='minisites-latam/components/content/beta/circleHome/circle'}"></sly>
            </div>
        </div>
    </div>
</div>
