.articleTitle .content-images-list,
.articleTitle .content-images-art h1 {
    font-size: 5.5rem;
    font-family: 'latam_sansblack_italic';
    line-height: 1;
}
.articleTitle .content-images-art {
    margin-left: 0!important;
}
.articleTitle .content-images-art h2 {
    font-size: 3.4rem;
    font-family: 'latam_sansitalic';
    text-transform: uppercase;
}
.articleTitle .content-images-list,
.articleTitle .content-images-art span small {
    font-size: 1.1rem;
    line-height: 1px;
    font-family: 'latam_sansitalic';
    vertical-align: middle;
}
.articleTitle .content-images-art span::before {
    font-size: 1.7rem;
}
.articleTitle .content-date {
    font-size: 1.1rem;
    line-height: 1px;
    font-family: 'latam_sansitalic';
    margin-left: 7px;
    color: #363636;
}
.articleTitle .content-images-art.title-large {
    position: initial;
    width: auto;
    max-width: 1270px;
    color: #fff;
    bottom: -24px;
    padding: 20px 20px;
}
.articleTitle .content-images-art.title-large,
.articleTitle .content-images-art.title-large h2 {
    color: #363636;
    text-shadow: none;
    width: 100%;
}
.articleTitle .title-large h1 {
    font-family: 'latam_sansregular';
    font-size: 3.8rem!important;
    text-transform: inherit!important;
    color: #363636;
    text-shadow: none;
    text-align: left;
    font-weight:bold;
}
.articleTitle .title-large h2 {
    color: #fff;
    /*background: #09938c;*/
    margin-top: 7px;
    text-transform: none;
    font-family: 'latam_sanslight';
    font-size: 2.2rem!important;
    width: auto;
    display: inline-block;
    padding-left: 6px;
    padding-right: 6px;
    text-align: left;
}
.articleTitle .container-elements-video {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}
.articleTitle .container-elements-images {
    position: relative;
    display: grid;
    align-items: center;
    padding-top: 0px;
    width: 100%;
    z-index: -1;
}
.articleTitle .container-fluid {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
.articleTitle .color {
    background: #fff;
}
.articleTitle .info-author {
    text-align: left;
    margin-top: 5px;
}
.articleTitle .article-title {
    padding-left: 0px;
	padding-right: 0px;
}
.articleTitle .info-author span {
    margin-left: 5px;
}


/*COLOR BACKGROUND STYLE*/

.articleTitle--yellow .color {
    background: #FED105!important;
    color: #fff!important;
}
.articleTitle--yellow .color h1,
.articleTitle--yellow .color h2,
.articleTitle--yellow .color .info-author {
    color: #fff!important;
}
.articleTitle--purple .color {
    background: #957DAD!important;
    color: #fff!important;
}
.articleTitle--purple .color h1,
.articleTitle--purple .color h2,
.articleTitle--purple .color .info-author {
    color: #fff!important;
}
.articleTitle--blue .color {
    background: #54a0ff!important;
    color: #fff!important;
}
.articleTitle--blue .color h1,
.articleTitle--blue .color h2,
.articleTitle--blue .color .info-author {
    color: #fff!important;
}
.articleTitle--coral .color {
    background: #F47C7C!important;
    color: #fff!important;
}
.articleTitle--coral .color h1,
.articleTitle--coral .color h2,
.articleTitle--coral .color .info-author {
    color: #fff!important;
}
.articleTitle--black .color {
    background: #000000!important;
    color: #fff!important;
}
.articleTitle--black .color h1,
.articleTitle--black .color h2,
.articleTitle--black .color .info-author {
    color: #fff!important;
}



/*END BACKGROUND COLOR STYLE*/


.container.white-content-title {
    background-color: #fff;
    /* min-height: 100vh; */
    margin-bottom: 30px;
    padding-bottom: 25px;
    max-width: 1270px;
    /*min-width: 1270px;*/
    padding-left: 0;
}
.articleTitle .breadcrumb-title {
    background-color: inherit;
    padding: 0px 0;
    font-size: 1.1rem;
    margin: 0;
    font-family: 'latam_sansbold_italic';
    margin-bottom: 10px;
}
.articleTitle li.breadcrumb-item-title {
    margin: 0 2px 0 0;
    font-size: 1.4rem;
}
.articleTitle li.breadcrumb-item-title.active {
    font-family: 'latam_sansbold_italic';
}
.articleTitle li.breadcrumb-item-title a {
    color: #808080;
    vertical-align: top;
}
.articleTitle li.breadcrumb-item-title a:hover {
    text-decoration: underline;
}
.articleTitle .fa-angle-right-title:before {
    vertical-align: sub
}
.articleTitle .date-article-title {
    align-self: center;
}
.articleTitle .date-article-title p {
    font-size: 1.2rem;
    text-align: right;
}
.articleTitle .date-article-title p span {
    font-family: 'latam_sansbold';
}

.articleTitle .articles-list-mobile-title:hover {
    color: #ff6562;
    text-decoration: none;
}
.articleTitle .breadcrumb-item-title+.breadcrumb-item-title::before {
    display: inline-block;
    padding-right: .5rem;
    color: #808080;
    content: ">";
    padding-left: .5rem;
}


/*BREADCRUMB COLOR STYLE*/

.articleTitle .color .breadcrumb-item-color-title {
    color: #00B5AD;
    transition: all .25s ease-in-out;
}
.articleTitle .color .breadcrumb-item-color-title.experiencie-active-breadcrumb {
    color: #1B0088;
    transition: all .25s ease-in-out;
}
.articleTitle .color .breadcrumb-item-color-title.experiencie-active-breadcrumb:hover {
    color: #1B0088;
    transition: all .25s ease-in-out;
}
.articleTitle--yellow .color .breadcrumb-item-color-title {
    color: #fff;
}
.articleTitle .color .breadcrumb-item-color-title:hover {
    color: #00D7CD;
    transition: all .25s ease-in-out;
}
.articleTitle--yellow .color .breadcrumb-item-color-title:hover {
    color: #fff;
    text-decoration: underline;
}
.articleTitle--yellow .color li.breadcrumb-item-title a {
    color: #fff;
    vertical-align: top;
}
.articleTitle--yellow .color .breadcrumb-item-title+.breadcrumb-item-title::before {
    display: inline-block;
    padding-right: .5rem;
    color: #fff;
    content: ">";
    padding-left: .5rem;
}
.articleTitle--purple .color .breadcrumb-item-color-title {
    color: #fff;
}
.articleTitle--purple .color .breadcrumb-item-color-title:hover {
    color: #fff;
    text-decoration: underline;
}
.articleTitle--purple .color li.breadcrumb-item-title a {
    color: #fff;
    vertical-align: top;
}
.articleTitle--purple .color .breadcrumb-item-title+.breadcrumb-item-title::before {
    display: inline-block;
    padding-right: .5rem;
    color: #fff;
    content: ">";
    padding-left: .5rem;
}
.articleTitle--blue .color .breadcrumb-item-color-title {
    color: #fff;
}
.articleTitle--blue .color .breadcrumb-item-color-title:hover {
    color: #fff;
    text-decoration: underline;
}
.articleTitle--blue .color li.breadcrumb-item-title a {
    color: #fff;
    vertical-align: top;
}
.articleTitle--blue .color .breadcrumb-item-title+.breadcrumb-item-title::before {
    display: inline-block;
    padding-right: .5rem;
    color: #fff;
    content: ">";
    padding-left: .5rem;
}
.articleTitle--coral .color .breadcrumb-item-color-title {
    color: #fff;
}
.articleTitle--coral .color .breadcrumb-item-color-title:hover {
    color: #fff;
    text-decoration: underline;
}
.articleTitle--coral .color li.breadcrumb-item-title a {
    color: #fff;
    vertical-align: top;
}
.articleTitle--coral .color .breadcrumb-item-title+.breadcrumb-item-title::before {
    display: inline-block;
    padding-right: .5rem;
    color: #fff;
    content: ">";
    padding-left: .5rem;
}
.articleTitle .color .breadcrumb-title-mobile {
    color: #FF6562;
    margin: 0 2px 0 0;
    font-size: 1.4rem;
    transition: all .25s ease-in-out;
}
.articleTitle .color .breadcrumb-title-mobile:hover {
    color: #d83431;
    transition: all .25s ease-in-out;
    text-decoration: none;
}
.articleTitle--yellow .color .breadcrumb-title-mobile {
    color: #fff;
    margin: 0 2px 0 0;
    font-size: 1.4rem;
}
.articleTitle--purple .color .breadcrumb-title-mobile {
    color: #fff;
    margin: 0 2px 0 0;
    font-size: 1.4rem;
}
.articleTitle--blue .color .breadcrumb-title-mobile {
    color: #fff;
    margin: 0 2px 0 0;
    font-size: 1.4rem;
}
.articleTitle--coral .color .breadcrumb-title-mobile {
    color: #fff;
    margin: 0 2px 0 0;
    font-size: 1.4rem;
}
.articleTitle--yellow .color .breadcrumb-title-mobile:hover {
    color: #fff;
    text-decoration: underline;
}
.articleTitle--purple .color .breadcrumb-title-mobile:hover {
    color: #fff;
    text-decoration: underline;
}
.articleTitle--blue .color .breadcrumb-title-mobile:hover {
    color: #fff;
    text-decoration: underline;
}
.articleTitle--coral .color .breadcrumb-title-mobile:hover {
    color: #fff;
    text-decoration: underline;
}
/*END BREADCRUMB COLOR STYLE*/


.articleTitle .container-elements-images img {
    /*height: fit-content;*/
}

.white-content.title-container {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: -100px;
}

@media (min-width: 768px) and (max-width: 1044px) {
    .articleTitle .content-images-art h1 {
        font-size: 3.5rem;
    }
    .articleTitle .content-images-art h2 {
        font-size: 2.4rem;
    }
}

@media (max-width:767px) {
    .articleTitle .articles-list-mobile-title {
        display: block !important;
        line-height: 1;
        padding: 20px 0 10px 10px;
        color: #FF6C69;
        font-family: 'latam_sansbold_italic';
        font-size: 2rem;
    }
    .white-content.title-container {
        padding: 0;
    }
    .white-content.title-container {
        margin-top: 0!important;
    }

	.articleTitle .content-images-art.title-large {
        /*position: inherit!important;*/
        margin-left: 0;
        padding: 25px 10px;
        max-width: 100%;
        width: 100%;
        color: #4C4C4C;
        line-height: 1;
        /*background: none;*/
    }
    .articleTitle .content-images-art.title-large h1 {
        font-size: 3rem;
        font-family: 'latam_sansregular';
        text-transform: none;
        margin-top: 0px;
    	font-weight: bold;
    }
    .articleTitle .content-images-art.title-large h2 {
        font-size: 2.1rem;
        font-family: 'latam_sanslight';
        padding: 5px 0;
        line-height: 1;
        text-transform: none;
        background: none;
        color: #545454;
    }
}