.footer {
  background-color: #150067;
  padding: 35px 0;
}

.footer__brand {
  padding: 0 15px;
}

.footer__brand img {
  display: inline-block;
  height: 38px;
  width: auto;
}

.footer__brand .oneworld {
  display: inline-block;
  height: 30px;
  margin: 4px 0 0 30px;
  width: auto;
}

.footer__social-media {
  padding: 0 15px;
}

.footer__social-media h5 {
  color: white;
  display: inline-block;
  font-family: 'latam_sansregular'!important, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 22px;
  margin-right: 15px;
  vertical-align: middle;
}

.footer__social-media ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  vertical-align: middle;
}

.footer__social-media ul li {
  float: left;
}

.footer__social-media ul li + li {
  margin-left: 15px;
}

.footer__social-media ul li a {
  background-color: #D8214B;
  border-radius: 50%;
  color: white;
  display: block;
  display: block;
  font-size: 20px;
  line-height: 45px;
  overflow: hidden;
  text-align: center;
  transition: all .2s ease-in-out;
  width: 45px;
}

.footer__social-media ul li a i {
  position: relative;
  top: 3px;
}

.footer__social-media ul li a.facebook {
  background-color: #35469D;
}

.footer__social-media ul li a.facebook:hover, .footer__social-media ul li a.facebook:focus {
  background-color: #283577;
}

.footer__social-media ul li a.instagram {
  background-image: linear-gradient(180deg, #C01D99 0%, #6B44B5 100%);
}

.footer__social-media ul li a.instagram:hover, .footer__social-media ul li a.instagram:focus {
  background-image: linear-gradient(180deg, #941676 0%, #553690 100%);
}

.footer__social-media ul li a.twitter {
  background-color: #4FC5E3;
}

.footer__social-media ul li a.twitter:hover, .footer__social-media ul li a.twitter:focus {
  background-color: #23b7dc;
}

.footer__social-media ul li a.youtube {
  background-color: #FF0000;
}

.footer__social-media ul li a.youtube:hover, .footer__social-media ul li a.youtube:focus {
  background-color: #cc0000;
}

.footer__social-media ul li a.rss {
  background-color: #E85E06;
}

.footer__social-media ul li a.rss:hover, .footer__social-media ul li a.rss:focus {
  background-color: #b64a05;
}

.footer__social-media ul li a:hover, .footer__social-media ul li a:focus {
  background-color: #ac1a3c;
}

@media only screen and (max-width: 767px) {
  .footer__brand {
    margin: 0 0 30px 0;
    text-align: center;
    width: 100%;
  }

  .footer__brand .oneworld {
    margin: 4px 0 0 15px;
  }

  .footer__social-media {
    text-align: center;
    width: 100%;
  }

  .footer__social-media h5 {
    display: block;
    margin: 0 0 20px 0;
  }
}