<section id=${properties.anchor} class="interior-tabs">
  <div class="interior-tabs__nav-container">
    <div class="container">
      <ul class="nav interior-tabs__nav-list" id="myTab" role="tablist">
		<!--/*<sly data-sly-test="${!properties.tabCheck1}">*/-->
            <li class="nav-item" >
                <a class="nav-link active" id="navtab-1" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">
                    <span class="tab__icon ${properties.iconCode1 ? '' : 'hide__icon'} icon-light-${properties.iconCode1}" alt="${properties.tabTitle1}"></span>
                    <span class="tab__title">${properties.tabTitle1}</span>
                </a>
            </li>
        <!--/*</sly>*/-->
        <sly data-sly-test="${!properties.tabCheck2}">
            <li class="nav-item">
                <a class="nav-link" id="navtab-2" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="true">
                	<span class="tab__icon ${properties.iconCode2 ? '' : 'hide__icon'} icon-light-${properties.iconCode2}" alt="${properties.tabTitle2}"></span>
                    <span class="tab__title">${properties.tabTitle2}</span>
                </a>
            </li>
        </sly>
        <sly data-sly-test="${!properties.tabCheck3}">
            <li class="nav-item">
            	<a class="nav-link" id="navtab-3" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="true">
                	<span class="tab__icon ${properties.iconCode3 ? '' : 'hide__icon'} icon-light-${properties.iconCode3}" alt="${properties.tabTitle3}"></span>
                    <span class="tab__title">${properties.tabTitle3}</span>
                </a>
            </li>
        </sly>
        <sly data-sly-test="${!properties.tabCheck4}">
            <li class="nav-item">
              	<a class="nav-link" id="navtab-4" data-toggle="tab" href="#tab-4" role="tab" aria-controls="tab-4" aria-selected="true">
                	<span class="tab__icon ${properties.iconCode4 ? '' : 'hide__icon'} icon-light-${properties.iconCode4}" alt="${properties.tabTitle4}"></span>
                    <span class="tab__title">${properties.tabTitle4}</span>
                </a>
            </li>
        </sly>
      </ul>
    </div>
  </div>

  <div class="container">
    <div class="tab-content">

      <div class="tab-pane fade show active interior-tabs__item" id="tab-1" role="tabpanel" aria-labelledby="navtab-1">
        <sly data-sly-resource="${'tab1' @ resourceType='minisites-latam/components/content/tabs/tab'}"></sly>
      </div>

      <div class="tab-pane fade interior-tabs__item" id="tab-2" role="tabpanel" aria-labelledby="navtab-2">
        <sly data-sly-resource="${'tab2' @ resourceType='minisites-latam/components/content/tabs/tab'}"></sly>
      </div>

      <div class="tab-pane fade interior-tabs__item" id="tab-3" role="tabpanel" aria-labelledby="navtab-3">
        <sly data-sly-resource="${'tab3' @ resourceType='minisites-latam/components/content/tabs/tab'}"></sly>
      </div>

      <div class="tab-pane fade interior-tabs__item" id="tab-4" role="tabpanel" aria-labelledby="navtab-4">
        <sly data-sly-resource="${'tab4' @ resourceType='minisites-latam/components/content/tabs/tab'}"></sly>
      </div>

    </div>
  </div>
</section>