<sly data-sly-use.conf="market-selector.js"/>
<!--MARKET SELECTOR DESKTOP-->
<div class="collapse navbar-collapse content-desktop-market" id="navbarSupportedContent1">
    <ul class="navbar-nav" id="navbar-nav">
        <li class="nav-item dropdown active"><a class="nav-link desktop-market-selection" style="cursor: default!important;" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">${conf.countryName}</a>
    </ul>
</div>