<sly data-sly-use.content="com.vamos.latam.core.access.HeaderComponent" />
<!--NAVBAR MOBILE-->
<div class="menu-mobile-flyout closed">
    <div class="menu-mobile-flyout__content closed">
        <div class="menu-mobile-flyout__content__button"><a href="#"><i class="fa fa-times"></i></a></div>
        <div class="row">
            <div class="col-12 mobile-nav-vamos" id="sidebar">
                <ul class="nav flex-column flex-nowrap">
                    <li class="menu-item has-children"><a class="nav-link mobile-nav collapsed" href="#submenu1" data-toggle="collapse" data-target="#articles">${properties.title1}</a>
                        <div class="collapse" id="articles" aria-expanded="false">
                            <ul class="flex-column sub-menu- pl-2 nav">
                                <sly data-sly-test="${properties.text1}"><li class="nav-item"><a class="nav-link py-0" href="${properties.mainLink1}.html">${properties.text1}</a></li></sly>
                                <sly data-sly-test="${properties.title1A || content.multiItems1A}">
                                      <li data-sly-test="${properties.title1A}" class="menu-item has-children"><a class="nav-link mobile-nav collapsed py-1" href="#submenu1sub1" data-toggle="collapse" data-target="#onboard-service">${properties.title1A}</a></li>
                                        <div class="collapse" id="onboard-service" aria-expanded="false">
                                            <ul class="flex-column sub-menu- nav pl-4">
                                                <sly data-sly-list.item="${content.multiItems1A}">
                                                    <li class="nav-item"><a class="nav-link py-0" href="${item.multiLink}.html">${item.multiTitle}</a></li>
                                                </sly>
                                            </ul>
                                        </div>
                                    </li>
                                    <sly data-sly-test="${!properties.title1A}" data-sly-list.item="${content.multiItems1A}">
                                        <li class="nav-item"><a class="nav-link py-0" href="${item.multiLink}.html">${item.multiTitle}</a></li>
                                    </sly>
                                </sly>
                                <sly data-sly-test="${properties.title1B || content.multiItems1B}">
                                    <li data-sly-test="${properties.title1B}" class="menu-item has-children"><a class="nav-link mobile-nav collapsed py-1" href="#submenu1sub2" data-toggle="collapse" data-target="#onboard-service1">${properties.title1B}</a></li>
                                        <div class="collapse" id="onboard-service1" aria-expanded="false">
                                            <ul class="flex-column sub-menu- nav pl-4">
                                                <sly data-sly-list.item="${content.multiItems1B}">
                                                    <li class="nav-item"><a class="nav-link py-0" href="${item.multiLink}.html">${item.multiTitle}</a></li>
                                                </sly>
                                            </ul>
                                        </div>
                                    </li>
                                    <sly data-sly-test="${!properties.title1B}" data-sly-list.item="${content.multiItems1B}">
                                        <li class="nav-item"><a class="nav-link py-0" href="${item.multiLink}.html">${item.multiTitle}</a></li>
                                    </sly>
                                </sly>
                            </ul>
                        </div>
                    </li>
                    <li class="menu-item has-children"><a class="nav-link mobile-nav collapsed" href="#submenu2" data-toggle="collapse" data-target="#destiny">${properties.title2}</a>
                        <div class="collapse" id="destiny" aria-expanded="false">
                            <ul class="flex-column sub-menu- pl-2 nav">
                                <sly data-sly-test="${properties.text2}"><li class="nav-item"><a class="nav-link py-0" href="${properties.mainLink2}.html">${properties.text2}</a></li></sly>
                                <sly data-sly-test="${properties.title2A || content.multiItems2A}">
                                    <li data-sly-test="${properties.title2A}" class="menu-item has-children"><a class="nav-link mobile-nav collapsed py-1" href="#submenu2sub1" data-toggle="collapse" data-target="#onboard-service2">${properties.title2A}</a></li>
                                        <div class="collapse" id="onboard-service2" aria-expanded="false">
                                            <ul class="flex-column sub-menu- nav pl-4">
                                                <sly data-sly-list.item="${content.multiItems2A}">
                                                    <li class="nav-item"><a class="nav-link py-0" href="${item.multiLink}.html">${item.multiTitle}</a></li>
                                                </sly>
                                            </ul>
                                        </div>
                                    </li>
                                    <sly data-sly-test="${!properties.title2A}" data-sly-list.item="${content.multiItems2A}">
                                        <li class="nav-item"><a class="nav-link py-0" href="${item.multiLink}.html">${item.multiTitle}</a></li>
                                    </sly>
                                </sly>
                                <sly data-sly-test="${properties.title2B || content.multiItems2B}">
                                    <li data-sly-test="${properties.title2B}" class="menu-item has-children"><a class="nav-link mobile-nav collapsed py-1" href="#submenu2sub2" data-toggle="collapse" data-target="#onboard-service3">${properties.title2B}</a></li>
                                        <div class="collapse" id="onboard-service3" aria-expanded="false">
                                            <ul class="flex-column sub-menu- nav pl-4">
                                                <sly data-sly-list.item="${content.multiItems2B}">
                                                    <li class="nav-item"><a class="nav-link py-0" href="${item.multiLink}.html">${item.multiTitle}</a></li>
                                                </sly>
                                            </ul>
                                        </div>
                                    </li>
                                    <sly data-sly-test="${!properties.title2B}" data-sly-list.item="${content.multiItems2B}">
                                        <li class="nav-item"><a class="nav-link py-0" href="${item.multiLink}.html">${item.multiTitle}</a></li>
                                    </sly>
                                </sly>
                            </ul>
                        </div>
                    </li>
                    <li class="menu-item has-children"><a class="nav-link mobile-nav collapsed" href="#submenu3" data-toggle="collapse" data-target="#experience">${properties.title3}</a>
                        <div class="collapse" id="experience" aria-expanded="false">
                            <ul class="flex-column sub-menu- pl-2 nav">
                                <sly data-sly-test="${properties.text3}"><li class="nav-item"><a class="nav-link py-0" href="${properties.mainLink3}.html">${properties.text3}</a></li></sly>
                                <sly data-sly-test="${properties.title3A || content.multiItems3A}">
                                    <li data-sly-test="${properties.title3A}" class="menu-item has-children"><a class="nav-link mobile-nav collapsed py-1" href="#submenu3sub1" data-toggle="collapse" data-target="#onboard-service4">${properties.title3A}</a></li>
                                        <div class="collapse" id="onboard-service4" aria-expanded="false">
                                            <ul class="flex-column sub-menu- nav pl-4">
                                                <sly data-sly-list.item="${content.multiItems3A}">
                                                    <li class="nav-item"><a class="nav-link py-0" href="${item.multiLink}.html">${item.multiTitle}</a></li>
                                                </sly>
                                            </ul>
                                        </div>
                                    </li>
                                    <sly data-sly-test="${!properties.title3A}" data-sly-list.item="${content.multiItems3A}">
                                        <li class="nav-item"><a class="nav-link py-0" href="${item.multiLink}.html">${item.multiTitle}</a></li>
                                    </sly>
                                </sly>
                                <sly data-sly-test="${properties.title3B || content.multiItems3B}">
                                    <li data-sly-test="${properties.title3B}" class="menu-item has-children"><a class="nav-link mobile-nav collapsed py-1" href="#submenu3sub2" data-toggle="collapse" data-target="#onboard-service5">${properties.title3B}</a></li>
                                        <div class="collapse" id="onboard-service5" aria-expanded="false">
                                            <ul class="flex-column sub-menu- nav pl-4">
                                                <sly data-sly-list.item="${content.multiItems3B}">
                                                    <li class="nav-item"><a class="nav-link py-0" href="${item.multiLink}.html">${item.multiTitle}</a></li>
                                                </sly>
                                            </ul>
                                        </div>
                                    </li>
                                    <sly data-sly-test="${!properties.title3B}" data-sly-list.item="${content.multiItems2B}">
                                        <li class="nav-item"><a class="nav-link py-0" href="${item.multiLink}.html">${item.multiTitle}</a></li>
                                    </sly>
                                </sly>
                            </ul>
                        </div>
                    </li>
                    <li class="menu-item has-children"><a class="nav-link mobile-nav collapsed" href="#submenu4" data-toggle="collapse" data-target="#about">${properties.title4}</a>
                        <div class="collapse" id="about" aria-expanded="false">
                            <ul class="flex-column sub-menu- pl-2 nav">
                                <sly data-sly-test="${properties.text4}"><li class="nav-item"><a class="nav-link py-0" href="${properties.mainLink4}.html">${properties.text4}</a></li></sly>
                                <sly data-sly-test="${properties.title4A || content.multiItems4A}">
                                      <li data-sly-test="${properties.title4A}" class="menu-item has-children"><a class="nav-link mobile-nav collapsed py-1" href="#submenu4sub1" data-toggle="collapse" data-target="#onboard-service6">${properties.title4A}</a></li>
                                        <div class="collapse" id="onboard-service6" aria-expanded="false">
                                            <ul class="flex-column sub-menu- nav pl-4">
                                                <sly data-sly-list.item="${content.multiItems4A}">
                                                    <li class="nav-item"><a class="nav-link py-0" href="${item.multiLink}.html">${item.multiTitle}</a></li>
                                                </sly>
                                            </ul>
                                        </div>
                                    </li>
                                    <sly data-sly-test="${!properties.title4A}" data-sly-list.item="${content.multiItems4A}">
                                        <li class="nav-item"><a class="nav-link py-0" href="${item.multiLink}.html">${item.multiTitle}</a></li>
                                    </sly>
                                </sly>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>