<sly data-sly-use.content="com.vamos.latam.core.access.HeaderComponent"
	 data-sly-use.util="../../../pages/page-base/util.js"/>
<!--/*NAVBAR DESKTOP*/-->
<nav class="navbar navbar-expand disney-nav-desktop">
	<a href="/content/minisites-latam/mercados/${util.market}/disney.html" class="img-logo d-none-mobile"><img src="/etc.clientlibs/minisites-latam/clientlibs/commons/resources/images/headerDisney/logo-disney.svg" alt="logo-disney" class="center-logo-desktop"></a>

	<sly data-sly-resource="${'search' @ resourceType='minisites-latam/components/structure/search', wcmmode='disabled'}"></sly>
</nav>