 .container.white-content {
     background-color: #fff;
     /*min-height: 100vh;*/
     /* -webkit-box-shadow: 0px 1px 16px 3px rgba(0, 0, 0, 0.06);
        -moz-box-shadow: 0px 1px 16px 3px rgba(0, 0, 0, 0.06);
        box-shadow: 0px 1px 16px 3px rgba(0, 0, 0, 0.06);*/
     margin-bottom: 0px;
     padding: 25px 25px 30px 25px;
     max-width: 1270px;
    /* margin-top: 1px; */
 }