<sly data-sly-use.template="core/wcm/components/commons/v1/templates.html"
     data-sly-test.hasIcon="${properties.icon}" />
<section id=${properties.anchor} class="featured-section">
	<div class="container-fluid">
		<div class="separator-section"><span class="separator-section__icon icon-light-${properties.icon}" alt="Latam Icon"></span></div>
    </div>
</section>
<sly data-sly-call="${template.placeholder @ isEmpty=!hasIcon}"></sly>