.textIcon-item {
  padding-bottom: 5px;
  /*margin-right: -10px;
  margin-left: -10px;*/
  padding-top: 10px;
  margin-left: 5%;
  margin-right: 2%;
}
.textIcon-iconContainer {
  position: relative;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
  margin: auto;
}
.textIcon-icon {
  float: none;
  font-size: 48px;
  color: #ed1650;
}
.textIcon-content {
  position: relative;
  margin: auto;
}
@media screen and (max-width: 767px) {
    .textIcon-item {
        margin-left: 2%;
  		margin-right: 2%;
    }
}
