<sly data-sly-include="gtm-noscript.html"/>
<sly data-sly-include="fb-share-script.html"/>

<!--/*<sly data-sly-resource="${inheritedPageProperties.marketHeaderPath 
     @ appendPath='/jcr:content/header', resourceType='minisites-latam/components/structure/header/markup', wcmmode='disabled'}" />*/-->

<sly data-sly-use.templatedContainer="com.day.cq.wcm.foundation.TemplatedContainer"
     data-sly-repeat.child="${templatedContainer.structureResources}"
     data-sly-resource="${child.path @ resourceType=child.resourceType, decorationTagName='div'}">
</sly>

<body class="${componentContext.cssClassNames}"
      data-sly-use.templatedContainer="com.day.cq.wcm.foundation.TemplatedContainer">
	<sly data-sly-include="content.html"/>  
</body>

<sly data-sly-resource="${'footer' @ resourceType='minisites-latam/components/structure/footer',wcmmode='disabled'}" />