<sly data-sly-use.util="util.js"/>

<div style="display:none;"><button id="urlfooter" value="${util.market}">${util.market}</button></div>

<script>
$("#urlfooter").hide();
var market = $("#urlfooter").attr("value");

function httpGet(theUrl)
{
	var xmlHttp = null;
	xmlHttp = new XMLHttpRequest();
	xmlHttp.open("GET", theUrl, false);
	xmlHttp.send(null);
	return xmlHttp.responseText;
}

//document.write(httpGet("https://www.latam.com/"+market+"/header-footer/_jcr_content/footer.html"));
var footer = httpGet("https://www.latam.com/"+market+"/header-footer/_jcr_content/footer.html");

if(footer === null || footer === undefined){
	document.write(httpGet("https://www.latam.com/"+market+"/header-footer/_jcr_content/footer.html"));
}else{
    document.write(httpGet("https://www.latam.com/"+market+"/header-footer/_jcr_content/footerApplications/"));
}


$(".icon-small.footer-icon--medium.icon-social").removeAttr("ng-class");

$("[title='Facebook']").find(".icon-small.footer-icon--medium.icon-social").addClass("icon-facebook");
$("[title='Ir a Facebook']").find(".icon-small.footer-icon--medium").addClass("icon-facebook");
$("[title='Twitter']").find(".icon-small.footer-icon--medium.icon-social").addClass("icon-twitter");
$("[title='Ir a Twitter']").find(".icon-small.footer-icon--medium.icon-social").addClass("icon-twitter");
$("[title='Ir a Twitter']").find(".icon-small.footer-icon--medium").addClass("icon-twitter");
$("[title='Youtube']").find(".icon-small.footer-icon--medium.icon-social").addClass("icon-youtube");
$("[title='YouTube']").find(".icon-small.footer-icon--medium.icon-social").addClass("icon-youtube");
$("[title='Ir a Youtube']").find(".icon-small.footer-icon--medium.icon-social").addClass("icon-youtube");
$("[title='Ir a YouTube']").find(".icon-small.footer-icon--medium.icon-social").addClass("icon-youtube");
$("[title='Ir a YouTube']").find(".icon-small.footer-icon--medium").addClass("icon-youtube");
$("[title='Instagram']").find(".icon-small.footer-icon--medium.icon-social").addClass("icon-instagram");
$("[title='Ir a Instagram']").find(".icon-small.footer-icon--medium.icon-social").addClass("icon-instagram");
$("[title='Linkedin']").find(".icon-small.footer-icon--medium.icon-social").addClass("icon-linkedin");
$("[title='Blog']").find(".icon-small.footer-icon--medium.icon-social").addClass("icon-blog");
$("[title='Google+']").find(".icon-small.footer-icon--medium.icon-social").addClass("icon-google");
$("[title='Ir a Google+']").find(".icon-small.footer-icon--medium.icon-social").addClass("icon-google");
$("[title='Ir a Google+']").find(".icon-small.footer-icon--medium").addClass("icon-google");
$("[title='Ir a Google +']").find(".icon-small.footer-icon--medium.icon-social").addClass("icon-google");
$("[title='Pinterest']").find(".icon-small.footer-icon--medium.icon-social").addClass("icon-pinterest");

$("[alt='PayPal']").attr('src', 'https://www.latam.com/content/dam/LATAM/LAN/Logo/Medios%20de%20pago/paypal-logo.png');
$("[alt='Paypal']").attr('src', 'https://www.latam.com/content/dam/LATAM/LAN/Logo/Medios%20de%20pago/paypal-logo.png');
$("[alt='Visa']").attr('src', 'https://www.latam.com/content/dam/LATAM/LAN/Logo/Medios%20de%20pago/visa-logo.png');
$("[alt='Visa Master']").attr('src', 'https://www.latam.com/content/dam/LATAM/LAN/Logo/Medios%20de%20pago/visa-logo.png');
$("[alt='Master Card']").attr('src', 'https://www.latam.com/content/dam/LATAM/LAN/Logo/Medios%20de%20pago/master-logo.png');
$("[alt='American Express']").attr('src', 'https://www.latam.com/content/dam/LATAM/LAN/Logo/Medios%20de%20pago/amx-logo.png');

$("[alt='GeoTrust']").attr('src', 'https://s.latamstatic.com/etc/designs/latam/ES/chile/_jcr_content/global/awardImages.asset.0.spool/download.png');
$("[alt='Pro Pyme']").attr('src', 'https://s.latamstatic.com/etc/designs/latam/ES/chile/_jcr_content/global/awardImages.asset.1.spool/logo-pro-pyme.png');
$("[alt='Skytrax']").attr('src', 'https://s.latamstatic.com/etc/designs/latam/ES/chile/_jcr_content/global/awardImages.asset.2.spool/xaward-icon.png');
$("[alt='Data fiscal']").attr('src', 'http://www.afip.gob.ar/images/f960/DATAWEB.jpg');

$("[alt='Associação Brasileira das Empresas Aéreas']").attr('src', 'https://s.latamstatic.com/etc/designs/latam/PT/brasil/_jcr_content/global/awardImages.asset.0.spool/logo-abear.png');
$("[alt='Empresa amiga da justica']").attr('src', 'https://s.latamstatic.com/etc/designs/latam/PT/brasil/_jcr_content/global/awardImages.asset.1.spool/logo_justicia.png');
$("[alt='Logo Senacon']").attr('src', 'https://s.latamstatic.com/etc/designs/latam/PT/brasil/_jcr_content/global/awardImages.asset.2.spool/logo-senacon.png');
$("[alt='Website protegido']").attr('src', 'https://d2wvnfsnjpu2qs.cloudfront.net/3/4b365b255592a11697a380ec647d877b8eb55b61/www.tam.com.br');
$("[alt='Prêmios']").attr('src', 'https://s.latamstatic.com/etc/designs/latam/PT/estados-unidos/_jcr_content/global/awardImages.asset.1.spool/logo_premio_para_puntocom.png');

$("[alt='Website protegido']").attr('src', 'https://d2wvnfsnjpu2qs.cloudfront.net/3/4b365b255592a11697a380ec647d877b8eb55b61/www.tam.com.br');

$("[alt='SSL PRO']").attr('src', 'https://s.latamstatic.com/etc/designs/latam/ES/paraguay/_jcr_content/global/awardImages.asset.0.spool/ssl_pro_validado.png');
$("[alt='Website Protegido']").attr('src', 'https://s.latamstatic.com/etc/designs/latam/ES/paraguay/_jcr_content/global/awardImages.asset.1.spool/website_verificado.png');
$("[alt='Premios']").attr('src', 'https://s.latamstatic.com/etc/designs/latam/ES/paraguay/_jcr_content/global/awardImages.asset.2.spool/logo_premio_para_puntocom.png');

$("[alt='Premi']").attr('src', 'https://s.latamstatic.com/etc/designs/latam/IT/italia/_jcr_content/global/awardImages.asset.0.spool/logo_premio_para_puntocom.png');

$("[alt='Auszeichnungen']").attr('src', 'https://s.latamstatic.com/etc/designs/latam/IT/italia/_jcr_content/global/awardImages.asset.0.spool/logo_premio_para_puntocom.png');

$("[alt='Awards']").attr('src', 'https://s.latamstatic.com/etc/designs/latam/IT/italia/_jcr_content/global/awardImages.asset.0.spool/logo_premio_para_puntocom.png');

$("[alt='Geotrust']").attr('src', 'https://s.latamstatic.com/etc/designs/latam/EN/other-countries/_jcr_content/global/awardImages.asset.0.spool/download.png');


$("[alt='Logo LATAM']").attr('src', 'https://s.latamstatic.com/static/latam/images/design-image/latam/logo-footer.svg');
</script>