<template data-sly-template.footer="${ @ page}">
    <sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
         data-sly-test.clientlibCategoriesJsBody="${page.clientLibCategoriesJsBody}"
         data-sly-call="${clientlib.js @ categories=clientlibCategoriesJsBody}"></sly>
    <sly data-sly-include="customfooterlibs.html"></sly>
    <sly data-sly-resource="${'cloudservices' @ resourceType='cq/cloudserviceconfigs/components/servicecomponents'}"></sly>
    <sly data-sly-test="${page.hasCloudconfigSupport}" data-sly-resource="${'cloudconfig-footer' @ resourceType='cq/cloudconfig/components/scripttags/footer'}"></sly>

<script>
	baguetteBox.run('.compact-gallery', { animation: 'slideIn'});
</script>

<sly data-sly-include="footer-latam.html"></sly>

</template>
