<sly data-sly-test.page="${pageProperties}" />
<sly data-sly-use.util="util.js"/>

<!--/* tags facebook opengraph */-->
<meta data-sly-test.ogurl="${page.canonicalUrl}" property="og:url" content="${ogurl}"/>
<meta property="og:type" content="website" />
<meta property="og:title" content="${pageProperties.jcr:title}"/>
<meta data-sly-test="${page.ogimage && pageProperties.field_image_big}" property="og:image" content="${page.ogimage}"/>
<meta data-sly-test="${!page.ogimage && pageProperties.field_image_big}" property="og:image" content="${pageProperties.field_image_big}" />
<meta data-sly-test="${page.ogimage && !pageProperties.field_image_big}" property="og:image" content="${page.ogimage}" />
<meta data-sly-test="${!page.ogimage && !pageProperties.field_image_big}" property="og:image" content="https://www.latam.com/content/dam/vamos-latam/master-images/800x365/latam-sustaintability-airplane.jpg"/>
<meta data-sly-test.ogimagealt="${page.seoDescription}" property="og:image:alt" content="${ogimagealt}"/>
<meta data-sly-test="${!ogimagealt}" property="og:image:alt" content="LATAM Airlines es una aerolínea chilena formada por la fusión de las aerolíneas sudamericanas LAN, TAM y sus filiales" />
<meta property="og:image:type" content="image/jpg" />
<meta property="og:image:width" content="633" />
<meta property="og:image:height" content="266" />
<meta data-sly-test.ogdescription="${page.seoDescription}" property="og:description" content="${ogdescription}"/>
<meta data-sly-test.ogsitename="${page.ogsitename}" property="og:site_name" content="${ogsitename}"/>
<meta data-sly-test="${!ogsitename}" property="og:site_name" content="LATAM | Web Oficial" />
<meta property="og:locale" content="${util.market}"/>
<!--/* End tags opengraph */-->

<!--/* twitter tags */-->
<sly data-sly-test="${page.twitteroption =='summarycard'}">
<meta name="twitter:card" content="summary">
</sly>
<sly data-sly-test="${page.twitteroption == 'summarycardwithimage'}">
<meta name="twitter:card" content="summary_large_image">
</sly>
<sly data-sly-test="${page.twitteroption == 'nonselected'}">
<meta name="twitter:card" content="summary">
</sly>
<meta data-sly-test.twittersite="${page.twittersite}" name="twitter:site" content="${twittersite}"/>
<meta data-sly-test="${!twittersite}" name="twitter:site" content="@LATAM_CHI" />
<meta data-sly-test.twittercreator="${page.twittercreator}" name="twitter:creator" content="${twittercreator}"/>
<meta data-sly-test="${!twittercreator}" name="twitter:creator" content="@LATAM_CHI"/>
<meta data-sly-test.twittertitle="${page.twittertitle}" name="twitter:title" content="${twittertitle}"/>
<meta data-sly-test="${!twittertitle}" name="twitter:title" content="${pageProperties.jcr:title}" />
<meta data-sly-test.twitterdescription="${page.twitterdescription}" name="twitter:description" content="${twitterdescription}"/>
<meta data-sly-test="${!twitterdescription}" name="twitter:description" content="${page.seoDescription}" />
<meta data-sly-test="${page.ogimage && pageProperties.field_image_big}"   name="twitter:image:src" content="${page.ogimage}"/>
<meta data-sly-test="${!page.ogimage && pageProperties.field_image_big}"  name="twitter:image:src" content="${pageProperties.field_image_big}" />
<meta data-sly-test="${page.ogimage && !pageProperties.field_image_big}"  name="twitter:image:src" content="${page.ogimage}" />
<meta data-sly-test="${!page.ogimage && !pageProperties.field_image_big}" name="twitter:image:src" content="https://www.latam.com/content/dam/vamos-latam/master-images/800x365/latam-sustaintability-airplane.jpg"/>
<!--/* end tw2itter tags */-->
