<template data-sly-template.head="${ @ page }"
          data-sly-use.headlibRenderer="headlibs.html"
          data-sly-use.headResources="head.resources.html">
    <meta charset="UTF-8">
    <meta name="theme-color" content="#1b0088"/>
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge"/>
    <title>${page.title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0"/>
    <link rel="icon" href="https://s.latamstatic.com/static/latam/images/favicon/LATAM/favicon.ico" type="image/x-icon">
    <meta data-sly-test.title="${properties['pageTitle'] || page.title}" name="title" content="${title}"/>
    <meta name="keywords" content="${pageProperties.cq:tags}"/>
    <meta data-sly-test.subtitle="${properties['subtitle']}" name="subtitle" content="${subtitle}"/>
    <meta data-sly-test.description="${properties['jcr:description']}" name="description" content="${description}"/>
    <meta data-sly-test.templateName="${page.templateName}" name="template" content="${templateName}"/>
    <sly data-sly-use.util="util.js"/>
    <sly data-sly-include="latam-datalayer.html"/>
    <sly data-sly-include="gtm-script.html"/>
    <sly data-sly-include="facebook-pixel.html"/>
    <sly data-sly-include="head-custom-metas.html"/>
    <sly data-sly-include="head.socialmedia.html"></sly>
    <sly data-sly-include="customheaderlibs.html"></sly>
    <sly data-sly-call="${headlibRenderer.headlibs @
                                designPath                = page.designPath,
                                staticDesignPath          = page.staticDesignPath,
                                clientLibCategories       = page.clientLibCategories,
                                clientLibCategoriesJsHead = page.clientLibCategoriesJsHead,
                                hasCloudconfigSupport     = page.hasCloudconfigSupport}"></sly>
    
    <link data-sly-test.canonicalUrl="${properties.canonicalUrl}" rel="canonical" href="${canonicalUrl}"/>
    <sly data-sly-test.appResourcesPath=${page.appResourcesPath} data-sly-call="${headResources.favicons @ path = appResourcesPath}"></sly>
    <meta name="copyright" content="LATAM Airlines Group S.A." />
    <meta data-sly-test.tags="${page['cq:tags']}" name="tags" content="${tags}"/>
    <meta data-sly-test.title="${properties['pageTitle'] || page.title}" name="DC.title" content="${title}"/>
    <meta name="DC.publisher" content="LATAM Airlines Group S.A."/>
    <meta name="DC.creator" content="LATAM Airlines Group S.A."/>
    <meta name="robots" content="index,follow"/>
    
    
</template>