.social-media {
  display: -ms-flexbox;
  display: flex;
  left: 20px;
  padding-left: 30px;
  position: fixed;
  top: 70%;
  transform: translateY(-50%);
  z-index: 99;
}

.social-media__button {
  background-color: #ea114b;
  border-radius: 50%;
  border: 0;
  color: white;
  display: block;
  height: 45px;
  left: 0;
  line-height: 45px;
  outline: none;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  transition: all .2s ease-in-out;
  width: 45px;
}

.social-media__button i {
  position: relative;
  top: 3px;
}

.social-media__button:focus, .social-media__button:hover {
  background-color: #bd8600;
}

.social-media__list {
  list-style-type: none;
  margin: 0;
  opacity: 0;
  padding: 0;
  transform: translateX(-20px) scale(0.5);
  transition: all .2s ease-in-out;
}

.social-media__list--open {
  opacity: 1;
  transform: translateX(0) scale(1);
}

.social-media__list li + li {
  margin-top: 20px;
}

.social-media__list li:nth-child(1), .social-media__list li:nth-child(4) {
  margin-left: 10px;
}

.social-media__list li:nth-child(2), .social-media__list li:nth-child(3) {
  margin-left: 40px;
}

.social-media__list li a {
  background-color: #ea114b;
  color: white;
  border-radius: 50%;
  display: block;
  height: 45px;
  line-height: 45px;
  text-align: center;
  transition: all .2s ease-in-out;
  width: 45px;
}

.social-media__list li a i {
  position: relative;
  top: 3px;
}

.social-media__list li a.facebook {
  background-color: #35469D;
}

.social-media__list li a.facebook:hover, .social-media__list li a.facebook:focus {
  background-color: #283577;
}

.social-media__list li a.twitter {
  background-color: #4FC5E3;
}

.social-media__list li a.twitter:hover, .social-media__list li a.twitter:focus {
  background-color: #23b7dc;
}

.social-media__list li a.whatsapp {
  background-color: #27AF4C;
}

.social-media__list li a.whatsapp:hover, .social-media__list li a.whatsapp:focus {
  background-color: #1e853a;
}

.social-media__list li a.instagram {
  background-image: linear-gradient(180deg, #C01D99 0%, #6B44B5 100%);
}

.social-media__list li a.instagram:hover, .social-media__list li a.instagram:focus {
  background-image: linear-gradient(180deg, #941676 0%, #553690 100%);
}

@media only screen and (max-width: 767px) {
  .social-media {
    display: -ms-flexbox;
    display: flex;
    left: 10px;
    padding-left: 30px;
    position: fixed;
    top: 70%;
    transform: translateY(-50%);
    z-index: 99;
  }
}
