<div class="col-md-4 cards-section-vamos__item">
    <div class="cards-section-vamos__item-content">
		<a class="cards-section-vamos__item-thumbnail" href="${properties.link}">
            <div class="cards-section-vamos__item-thumbnail-identifier">
                <img src="${properties.fileReference}" alt="${properties.alt}">
            </div>
            <img src="${properties.fileReference}" alt="${properties.alt}">
        </a>
        <h3 class="cards-section-vamos__item-title">${properties.title}</h3>
        <p>${properties.lead}</p>
        <a class="cards-section-vamos__item-button" href="${properties.link}">${properties.buttonText}</a>
    </div>
</div>
