#content-instagram {
     position: relative;
     width: 100%;
     display: flex;
     flex-flow: row wrap;
}

#content-instagram-token {
     position: relative;
     width: 100%;
     display: flex;
     flex-flow: row wrap;
}

#content-instagram-hashtag {
     position: relative;
     width: 100%;
     display: flex;
     flex-flow: row wrap;
}


#content-instagram-hashtag .post {
    position: relative;
    width: 20%;
    height: 17vw;
    background: #fff;
    display: block;
    overflow: hidden;
}

#content-instagram-token .post {
    position: relative;
    width: 20%;
    height: 17vw;
    background: #fff;
    display: block;
    overflow: hidden;
}

#content-instagram-token .post .image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center!important;
    background-size: cover!important;
    transition: all .15s ease-in-out;
}

#content-instagram-hashtag .post .image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center!important;
    background-size: cover!important;
    transition: all .15s ease-in-out;
}


#content-instagram-token .post ul {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background: rgba(21, 0, 103, 0.8);
    display: flex;
    justify-content: space-around;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    transition: all .15s ease-in-out;
    color: #FFF;
    margin-left: 0;
}
#content-instagram-hashtag .post ul {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background: rgba(21, 0, 103, 0.8);
    display: flex;
    justify-content: space-around;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    transition: all .15s ease-in-out;
    color: #FFF;
    margin-left: 0;
}

#content-instagram-token .post ul li {
    text-align: center;
    line-height: 50px;
    list-style: none;
}

#content-instagram-hashtag .post ul li {
    text-align: center;
    line-height: 50px;
    list-style: none;
}

#content-instagram-token .post:hover .image {
    opacity: .5;
    -webkit-transform: scale(1.15) translate3d(0, 0, 0);
    transform: scale(1.15) translate3d(0, 0, 0);
}

#content-instagram-hashtag .post:hover .image {
    opacity: .5;
    -webkit-transform: scale(1.15) translate3d(0, 0, 0);
    transform: scale(1.15) translate3d(0, 0, 0);
}

#content-instagram-token .post:hover ul {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

#content-instagram-hashtag .post:hover ul {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.instagram-feed h2.title-center {    
    font-family: 'latam_sansregular';
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    width: 100%;
    margin-top: 25px;
}

.instagram-feed h2.title-center span {
    font-family: 'latam_sansitalic';
}

a.btn-see-more.instagram-btn {
    font-family: 'latam_sansbold';
    background-color: #9C9C9D;
    color: #fff;
    padding: 20px 30px 20px 30px;
    border-radius: 35px;
    width: 168px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2rem;
    transition: all .25s ease-in-out;
    margin: 0 auto;
    margin-top: 25px;
}

a.btn-see-more.instagram-btn:hover {
    text-decoration: none;
    background-color: #000000;
    transition: all .25s ease-in-out;
}

@media screen and (max-width: 767px) {
    #content-instagram-token .post {
        width: 50%;
        height: 32vw;
    }
    #content-instagram-hashtag .post {
        width: 50%;
        height: 32vw;
    }
}