.minisiteTitle h1.header-page {
     letter-spacing: 0.94px;
     font-size: 4.5rem;
     font-family: 'latam_sansregular';
     text-align: center;
     text-shadow: 1px 2px 4px #676767;
}
.minisiteTitle h2.header-page {
     letter-spacing: 0.94px;
     font-size: 2.3rem;
     font-family: 'latam_sanslight';
     text-align: center;
    text-shadow: 1px 1px 5px #000000;
}
.minisiteTitle p {
    letter-spacing: 0.94px;
     font-size: 2.3rem;
     font-family: 'latam_sanslight';
     text-align: center;
}
.minisiteTitle p i{
    font-family: 'latam_sanslight_italic';
}

.minisiteTitle .header-image {
 /* height:100%;
    display: flex;
    align-items: center;*/
    position: absolute;
    top: 55%;
    margin-top: -55px;
}
.minisiteTitle .header-image-inside {
    /*height: 60vh;*/
    min-height: 500px;
    -webkit-background-size: cover!important;
    -moz-background-size: cover!important;
    -o-background-size: cover!important;
    background-size: cover !important;
    /*background-size: cover;*/
    position: relative;
    padding-top: 0;
    z-index: -1;
    display: flex;
    position: relative;
}
.minisiteTitle .header-image-inside.flex-content {
    align-items: center;
    margin-left: 0;
}
.minisiteTitle .header-image-inside.flex-content .header-image {
    position: inherit;
    top: inherit;
}

.minisiteTitle--red .screen-gradient {
	background: linear-gradient(180deg, #d40782 50%, #7d0335 70%); 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
}

.minisiteTitle--blue .screen-gradient {
    background: linear-gradient(180deg, #055fad 50%, #033763 70%); 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
}

.minisiteTitle--none .screen-gradient {
	width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
}
.minisiteTitle .border-gradient {
    width: 100%;
    height: 20px;
    background: linear-gradient(229.65deg, #1C0087 0%, #ED1550 100%);
    position: absolute;
    bottom: 65px;
    clip-path: polygon(0 42%, 100% 84%, 100% 100%, 0% 100%);
}

/*inicio button */

.minisiteTitle .buttonInsta{
    position:absolute;
    width:100%;
    top:400px;
    padding-top:0px;

}

a.btn-see-more.top-btn {
    font-family:'latam_sansbold_italic';
    color:#3a3a3a;
    padding:20px 30px 20px 30px;
    border-radius:35px;
    width:195px;
    display:block;
    text-align:center;
    text-transform:uppercase;
    font-size:1.2rem;
    transition:all .25s ease-in-out;
    margin-top:20px;
    box-shadow:2px 2px 2px rgba(0,0,0,0.21);
    background-color:#fff;
}

a.btn-see-more.top-btn:hover {
    text-decoration:none;
    transition:all .25s ease-in-out;
    background-color:#000000;
    color:#fff
}


/* fin button */

@media screen and (max-width: 767px) and (orientation: landscape) {
    .minisiteTitle .header-image-main {
        height: 80vh;
    }
}

@media screen and (max-width: 767px) {
    .minisiteTitle h1.header-page {
        letter-spacing: 0px;
        text-align: center;
    }
    .minisiteTitle .container-white {
        padding: 10px 14px;
    }
     .minisiteTitle .buttonInstaMob{
     	position:absolute;
   		width:100%;
    	top:0%;
    	padding-top:400px;

    }
}

}