<sly data-sly-use.image="imageSource.js"/>

     <div class="d-none d-sm-none d-md-block">
	     <div class="header-image-inside flex-content" style="background: url(${image.imageSource @ context='uri'}) no-repeat center center;">
			<div class="screen-gradient"></div>
			<div class="header-image w-100">
	            <h1 class="header-page text-white">${properties.title}</h1>
				<sly data-sly-test="${!properties.title}">
	            	<h1 class="header-page text-white">${pageProperties.jcr:title}</h1>
	            </sly>
				<!--/*<h2 class="header-page text-white">${properties.subtitle}</h2>*/-->
				<h2 class="header-page text-white">${properties.text @ context='html'}</h2>
				<sly data-sly-test="${!properties.text}">
	            	<h2 class="header-page text-white">${pageProperties.jcr:subtitle}</h2>
	            </sly>
	    	</div>
		</div>

		<center>
		<!--button -->
            <div data-sly-test="${properties.linkURL && !properties.url}" class="buttonInsta">
            <a href="${properties.linkURL}.html" target="_blank" class="btn-see-more top-btn">${properties.buttonText}</a>
            </div>
            <div data-sly-test="${properties.url && !properties.linkURL}" class="buttonInsta">
            <a href="${properties.url}" target="_blank" class="btn-see-more top-btn">${properties.buttonText}</a>
            </div>
            <div data-sly-test="${properties.linkURL && properties.url}" class="buttonInsta">
            <a href="${properties.linkURL}.html" target="_blank" class="btn-see-more top-btn">${properties.buttonText}</a>
            </div>
            <!-- button -->
		</center>
     </div>

     <div class="d-block d-sm-block d-md-none">
	     <div class="header-image-inside flex-content" style="background: url(${properties.fileReferenceMobile @ context='uri'}) no-repeat center center;">
	        <div class="screen-gradient"></div>
	        <div class="header-image w-100">
	            <h1 class="header-page text-white">${properties.title}</h1>
				<sly data-sly-test="${!properties.title}">
	            	<h1 class="header-page text-white">${pageProperties.jcr:title}</h1>
	            </sly>

				</div>

		</div>
		<center>
			<div data-sly-test="${properties.linkURL && !properties.url}" class="buttonInstaMob">
                <a href="${properties.linkURL}.html" class="btn-see-more top-btn">${properties.buttonText}</a>
                </div>
                <div data-sly-test="${properties.url && !properties.linkURL}" class="buttonInstaMob" >
                <a href="${properties.url}" target="_blank" class="btn-see-more top-btn">${properties.buttonText}</a>
                </div>
                <div data-sly-test="${properties.linkURL && properties.url}" class="buttonInstaMob">
                <a href="${properties.linkURL}.html"  class="btn-see-more top-btn">${properties.buttonText}</a>
            </div>
		</center>
     </div>