<sly data-sly-use.util="../../../structure/pages/page-base/util.js" />

<div class="row mt-5 instagram-feed">
    <div class="col-12">
        <h2 class="title-center mb-4">${properties.componentTitle}</h2>
        <div data-sly-test="${properties.token}">
        	<section id="content-instagram-token"></section>
		</div>
        <div data-sly-test="${properties.hashtag}">
            <section id="content-instagram-hashtag"></section>
        </div>
        <a href="https://www.instagram.com/latamairlines/" target="_blank" class="btn-see-more instagram-btn">${'Siguenos' @ i18n, locale=util.language}</a>
    </div>
</div>

<div style="display:none;"><button id="token" value="${properties.token}">${properties.token}</button></div>
<div style="display:none;"><button id="hashtag" value="${properties.hashtag}">${properties.hashtag}</button></div>
