/* ========================
         GLOBALES
=========================== */

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /** Reset para REMS - 62.5% = 10px de 16px **/
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    padding: 0;
}

body {
    font-family: 'latam_sansregular'!important;
    color: #363636;
    background-color: #f4f4f4;
    font-size: 1.6rem;
    line-height: 1.5!important;
}

h1,
h2,
p,
figure {
    margin: 0;
}

button:focus {
    outline: none !important;
}

.container-general {
    padding: 0 5%;
}

h2.title-center {
    font-family: 'latam_sansblack_italic';
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    width: 100%;
}


/* =========== ESTILOS COMUNES  =========*/


/* ========================
        UTILITIES
=========================== */

.p-0 {
    padding: 0;
}

.mt-25 {
    margin-top: 25px;
}

.mt-10 {
    margin-top: 10px;
}

.m-0 {
    margin: 0 auto !important;
}

.pt-10-0 {
    padding: 10px 0 0 0;
}

.p-0 {
    padding: 0;
}

.mtb-50 {
    margin: 39px 0 30px 0;
}

.background-green {
    background: rgba(0, 192, 183, 0.8);
}

.background-purple {
    background-color: rgba(186, 25, 161, 0.8);
}

.background-yellow {
    background-color: rgba(255, 200, 0, 0.8);
}

.img-fluid {
    width: 100%;
}

.d-none-desktop {
    display: none;
}

@media (max-width: 767px) {
    /*.mt-25 {
        margin-top: 0;
    }*/
    .mt-25-mobile {
        margin-top: 25px;
    }
    .mtb-30 {
        margin: 30px 0
    }
    .d-none-mobile {
        display: none !important;
    }
    .background-green {
        background: none;
    }
    .background-yellow {
        background: none;
    }
    .background-purple {
        background: none;
    }
    .ds-block {
        display: block;
    }
    .container.white-content {
        box-shadow: none;
        padding: 2%!important;
    }
    .d-none-desktop {
        display: inline-block;
    }
    html {
        overflow-x: hidden;
    }
}

.title-card {
    background-color: #F3F3F3;
    padding: 8px;
}

.title-card span.black-txt {
    font-family: 'latam_sansblack_italic';
    text-transform: uppercase;
    font-size: 1.3rem;
    color: #585858;
}

.title-card span.green-txt {
    font-family: 'latam_sansblack_italic';
    text-transform: uppercase;
    font-size: 1.3rem;
    color: #00B5AE;
}

.content-shadow-component {
    background-color: #fff;
    -webkit-box-shadow: 0px 13px 16px -13px rgba(112, 112, 112, 0.5);
    -moz-box-shadow: 0px 13px 16px -13px rgba(112, 112, 112, 0.5);
    box-shadow: 0px 13px 16px -13px rgba(112, 112, 112, 0.5);
    padding: 15px 0 15px 0;
}

.content-shadow-component.articles {
    padding: 0px 0px 0px 10px;
    min-height: 460px;
    display: grid;
}

.hover-box {
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.05);
    transition: box-shadow .3s ease-out, transform .3s ease-out, opacity .2s ease-out;
    transition-delay: .1s;
    border-radius: 4px;
    transform: translateZ(0);
    background-color: #fff;
    overflow: hidden;
    position: relative;
}

.hover-box:hover {
    box-shadow: rgba(45, 45, 45, 0.05) 0px 2px 2px, rgba(49, 49, 49, 0.05) 0px 4px 4px, rgba(42, 42, 42, 0.05) 0px 8px 8px, rgba(32, 32, 32, 0.05) 0px 16px 16px, rgba(49, 49, 49, 0.05) 0px 32px 32px, rgba(35, 35, 35, 0.05) 0px 64px 64px;
    transform: translate(0, -4px);
}

.box-info {
    padding: 15px 15px 10px 15px;
    background-color: #fff;
    min-height: 95px
}

.box-info .tittle-box {
    padding: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-transform: uppercase;
}

.box-info.flex-content-box-info {
    min-height: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-info p {
    font-family: 'latam_sansregular';
    font-size: 1.2rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@media screen and (max-width: 767px) {
    .hover-box.search-result-card {
        margin-top: 0;
    }
    .box-outstanding {
        margin-bottom: 25px;
    }
    body {
        overflow-x: hidden!important;
    }
}

dl,
ol,
ul {
    margin-left: 30px;
}

a {
    cursor: pointer!important;
}