* {
  margin: 0;
  padding: 0;
}

html {
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  height: 100%;
}

body {
  background: white;
  font-family: 'latam_sansregular'!important;
  font-size: 14px;
  font-weight: 400;
  color: #252f37;
  line-height: 1.75em;
  min-height: 100%;
  position: relative;
}

main {
  position: relative;
  padding: 136px 0 0 0;
}

@media only screen and (max-width: 991px) {
  main {
    padding: 68px 0 0 0;
  }
}

p {
  font-size: 16px;
  margin: 0 0 20px 0;
}

.logomark {
  position: absolute;
  right: -30px;
  top: 0;
}

@media only screen and (max-width: 991px) {
  .logomark {
    display: none;
  }
}

.logomark img {
  display: block;
  height: auto;
  width: 100%;
}

/* Animations */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}