.cards-section__item-content {
  background-color: white;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
  height: 550px;
  padding: 0 15px;
  position: relative;
  transition: all 0.1s ease-in-out;
}

.cards-section__item-content:focus,
.cards-section__item-content:hover {
  background-color: #150066;
  transform: scale(1.05);
}

.cards-section__item-content:focus .cards-section__item-title,
.cards-section__item-content:hover .cards-section__item-title {
  color: white;
  font-family: "latam_sansbold"!important;
}

.cards-section__item-content:focus .cards-section__item-title::after,
.cards-section__item-content:hover .cards-section__item-title::after {
  background-color: white;
  font-family: "latam_sansbold"!important;
}

.cards-section__item-content:focus p,
.cards-section__item-content:hover p {
  color: white;
}

.cards-section__item-content:focus .cards-section__item-button,
.cards-section__item-content:hover .cards-section__item-button {
  border: 2px solid white;
  color: white;
}

.cards-section__item-content:focus .cards-section__item-button:focus,
.cards-section__item-content:focus .cards-section__item-button:hover,
.cards-section__item-content:hover .cards-section__item-button:focus,
.cards-section__item-content:hover .cards-section__item-button:hover {
  background-color: white;
  color: black;
}

.cards-section__item-thumbnail {
  display: block;
  margin: 0 -15px 40px -15px;
  position: relative;
}

@media only screen and (max-width: 767px) {
  .cards-section__item-thumbnail {
    margin: 0 -15px 40px -15px;
  }
}

.cards-section__item-thumbnail-identifier {
  left: 15px;
  position: absolute;
  top: 15px;
}

.cards-section__item-thumbnail-identifier span {
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.cards-section__item-thumbnail-identifier img {
  display: block;
  height: 20px;
  width: auto;
}

.cards-section__item-thumbnail img {
  display: block;
  height: auto;
  width: 100%;
}
.cards-section__item-thumbnail-identifier {
  left: 15px;
  position: absolute;
  top: 15px;
}

.cards-section__item-thumbnail-identifier span {
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.cards-section__item-thumbnail-identifier img {
  display: block;
  height: 20px;
  width: auto;
}

.cards-section__item-title {
  color: black;
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 15px 0;
  transition: all 0.2s ease-in-out;
  font-family: "latam_sansbold"!important;
}

@media only screen and (max-width: 767px) {
  .cards-section__item-title {
    font-size: 18px;
    font-weight: 900;
    font-family: "latam_sansbold"!important;
  }
}

.cards-section__item-title::after {
  background-color: black;
  border-radius: 2.5px;
  content: "";
  display: block;
  height: 5px;
  margin-top: 25px;
  max-width: 115px;
  transition: all 0.1s ease-in-out;
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .cards-section__item-title::after {
    margin-top: 14px;
  }
}

.cards-section__item-button {
  background-color: transparent;
  border: 2px solid black;
  border-radius: 60px;
  bottom: 6px;
  color: black;
  display: inline-block;
  font-size: 1em;
  left: 50%;
  line-height: 44px;
  outline: none;
  padding: 0 30px;
  position: absolute;
  transform: translateX(-50%);
  transition: all 0.1s ease-in-out;
}

.cards-section__item-button:focus,
.cards-section__item-button:hover {
  background-color: black;
  color: white;
  text-decoration: none;
}