<sly data-sly-test.hasPath="${properties.targetPagePath}"
	 data-sly-use.info="com.vamos.latam.core.models.PageInformationModel" />

<sly data-sly-test="${properties.url && !properties.targetPagePath}">
    <a href="${properties.url}" target="_blank" class="link-content-item">
        <div class="content-img-item">
            <figure class="img-item">
                <img src="${properties.fileReference}" alt="${properties.title}" />
            </figure>
        </div>
        <h3>${properties.title} </h3>
    </a>
</sly>
<sly data-sly-test="${properties.targetPagePath && !properties.url}">
    <a href="${properties.targetPagePath}.html" class="link-content-item">
        <div class="content-img-item">
            <figure class="img-item">
                <img src="${info.destinationData.mediumImagePath || info.destinationData.mainImagePath || properties.fileReferenceMedium}" alt="${info.destinationData.title}" />
            </figure>
        </div>
        <h3>${info.destinationData.title}</h3>
    </a>
</sly>
