.container-text-size{
	color: #363636;
    line-height: 32px;
    font-family: 'latam_sansbold';
    padding-top: 10px;
}

.container-text-size h2{
	font-size: 2.5rem;
}

.container-text-size h3{
	font-size: 2.2rem;
}

.container-text-size h4{
	font-size: 2rem;
}

.container-text-size h5{
	font-size: 1.4rem;
}

.title--position-right .container-position{
	float: right;
}

.title--position-left .container-position{
	float: left;
}

.title--position-center .container-position{
    text-align: center!important;
}