<sly data-sly-use.template="core/wcm/components/commons/v1/templates.html"
     data-sly-call="${template.placeholder @ isEmpty=!hasContent}"></sly>
<div class="social-media">
    <button class="social-media__button" type="button">
        <span class="sr-only">Social media</span>
        <i class="fa fa-share-alt"></i>
    </button>
    <ul class="social-media__list">
        <li data-sly-test="${properties.facebook == 'true'}">
            <a class="facebook" onclick="return faceButton()">
                <script type="text/javascript">
                function faceButton() {
                   var url = location.href;
                   var url2 = 'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(url)+'&amp;src=sdkpreparse';
                   window.open(url2, this.target, 'width=500,height=500'); return false;
                   return false;    
                }
                </script>
                <i class="fa fa-facebook"></i>
            </a>
        </li>
        <li data-sly-test="${properties.twitter == 'true'}">
            <a class="twitter" href="" onclick="return tweet()">
                <script type="text/javascript">
                function tweet() {
                   var u = location.href;
                   var t = document.title;
                   window.open('http://twitter.com/share?url='+encodeURIComponent(u)+'&text='+encodeURIComponent(t),'twitsharer','toolbar=0,status=0,width=626,height=436');
                   return false;    
                }
                </script>
                <i class="fa fa-twitter"></i>
            </a>
        </li>
        <li data-sly-test="${properties.whatsapp == 'true'}">
            <div class="d-block d-sm-block d-md-none w-100 opacity-3">
                <a href="whatsapp://send?text=${pageProperties.jcr:title}" data-action="share/whatsapp/share" class="whatsapp">
                	<i class="fa fa-whatsapp"></i>
                </a>
            </div>
        </li>
    </ul>
</div>

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
