<sly data-sly-use.resourceTransformerImage="${'minisites.latam.core.models.StaticResourceTransformerModel' @ targetURI = properties.fileReference}"
    	 data-sly-test.imageComponent = "${resourceTransformerImage.URIExternalized @ context='uri'}" />
<sly data-sly-use.util="../../structure/pages/page-base/util.js" />
<div class="container article-content" itemprop="video" id=${properties.anchor} itemscope itemtype=http://schema.org/VideoObject>
<meta  itemprop="uploadDate" content="${pageProperties['cq:lastModified'].getTime.toString}"/>
    <div class="row mt-5 mb-5">
        <div class="col">
            <div class="container-elements-images">

                <!--/*Codigo Video Youtube */-->
                <div id="player_${properties.video_code}" video-code="${properties.video_code}" class="player_youtube" style="display:none"></div>
                <div class="content-images-video flex-content-video">
                    <div class="content-tca-video">

                        <!--/*Boton play */-->
                        <sly data-sly-test="${properties.video_code}">
							<button id="button" class="btn-video icon icon-bold-uid041"></button>
						</sly>

                        <!--/*Titulo y Subtitulo Video */-->
						<sly data-sly-test="${properties.title}">
                            <h1 itemprop="name" id="title">${properties.title}</h1>
                        </sly>
						<sly data-sly-test="${properties.subtitle}">
                          	<h2 itemprop="description" id="subtitle">${properties.subtitle}</h2>
                        </sly>
                    </div>
                </div>

                <!--/*Placeholder si no hay Video */-->
                <sly data-sly-test="${!properties.video_code}">
                    <p class="title-video-t"><span><b><i>${'Video' @ i18n, locale=util.language}</i></b></span></p>
                    <p style="text-align: center;"><i>${'Ingrese imagen y codigo de video' @ i18n, locale=util.language}</i></p>
                </sly>

                <!--/*Imagen del video */-->
				<img id="image" data-sly-test="${properties.fileReference}" class="img-fluid-video" src="${imageComponent}" alt="${properties.imageAlt}" />

                <!--/*Boton para cerrar video */-->
				<img id="close" class="btn-video-close" src="https://img.icons8.com/wired/64/01B5AD/delete-sign.png">

                <!--/*Texto de bajada del video */-->
				<div class="container-text-h5">
					<div class="sub-text video">
                        <p>${properties.text @ context='html'}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
