<sly data-sly-use.util="../../structure/pages/page-base/util.js" />
	<sly data-sly-test=${!properties.html}>
    	<sly data-sly-test="${wcmmode.edit}">
			<p  class="col-12 d-flex justify-content-center mt-5 mb-5">${'Agrega los datos para usar Usabilla' @ i18n, locale=util.language}</p>
        </sly>
	</sly>
<div id=${properties.anchor}>
    ${properties.html @ context='unsafe'}
    ${properties.script @ context='unsafe'}
</div>