<section data-sly-use.carousel="com.adobe.cq.wcm.core.components.models.Carousel"
  data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
  data-cmp-is="carousel"
  class="page-hero" >

    <sly data-sly-test="${carousel.items && carousel.items.size > 0}" >
        <div id="carouselHeader" class="carouselHeader carousel slide" data-ride="carousel">
            <div class="carousel-inner">

				<div data-sly-repeat.item="${carousel.items}"
                     data-sly-resource="${item.name @ decorationTagName='div'}"
					 class="carousel-item ${itemList.first ? ' active' : ''}">
                </div>

            </div>

			<sly data-sly-test="${carousel.items.size >= 2}">
                
                <ol role="tablist" class="carousel-indicators" data-cmp-hook-carousel="indicators">
                     <li data-sly-repeat.item="${carousel.items}"
                         class="${itemList.first ? ' active' : ''}"
                         data-cmp-hook-carousel="indicator">${item.title}</li>
                 </ol>
               
                <div class="d-none d-sm-none d-md-block">
                    <a class="carousel-control-prev" href="#carouselHeader" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselHeader" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </sly>

        </div>
    </sly>
 
    <sly data-sly-resource="${resource.path @ resourceType='wcm/foundation/components/parsys/newpar', appendPath='/*', decorationTagName='div', cssClassName='new section aem-Grid-newComponent'}"
      data-sly-test="${(wcmmode.edit || wcmmode.preview) && carousel.items.size < 1}"></sly>
</section>
