.gallery-carousel {
  background-color: #212529;
  padding: 50px 0;
}

.gallery-carousel-img__author{
	/*display: block;*/
    width: 100%;
    height: 20%;
}

@media only screen and (max-width: 991px) {
  .gallery-carousel {
    padding: 50px 0;
  }
}

.gallery-carousel .owl-stage-outer {
  padding: 100px 0;
  margin-bottom: 70px;
}

@media only screen and (max-width: 991px) {
  .gallery-carousel .owl-stage-outer {
    padding: 0;
  }
}

.gallery-carousel .owl-item {
  opacity: 0.5;
  transition: all 0.2s ease-in-out;
}

.gallery-carousel .owl-item.active {
  opacity: 0.5;
  transform: scale(1.75);
}

@media only screen and (max-width: 991px) {
  .gallery-carousel .owl-item.active {
    transform: scale(1.9);
  }
}

.gallery-carousel .owl-item.active.center {
  opacity: 1;
  transform: scale(2.6);
  z-index: 9;
}

@media only screen and (max-width: 991px) {
  .gallery-carousel .owl-item.active.center {
    transform: scale(1.8);
  }
}

.gallery-carousel .owl-nav {
  text-align: center;
}

.gallery-carousel .owl-nav .owl-prev,
.gallery-carousel .owl-nav .owl-next {
  background-color: #ea114b !important;
  border-radius: 50%;
  color: white !important;
  display: inline-block;
  height: 45px;
  margin: 0;
  opacity: 1;
  position: static;
  transform: translateX(0) !important;
  width: 45px;
  font-family: "FontAwesome"!important;
}

.gallery-carousel .owl-nav .owl-prev + button,
.gallery-carousel .owl-nav .owl-next + button {
  margin-left: 30px;
}

.gallery-carousel .owl-nav .owl-prev span,
.gallery-carousel .owl-nav .owl-next span {
  font-size: 40px;
}

.gallery-carousel .owl-nav .owl-prev {
  left: 50%;
  transform: translateX(-570px);
}

@media only screen and (max-width: 1480px) {
  .gallery-carousel .owl-nav .owl-prev {
    transform: translateX(-470px);
  }
}

@media only screen and (max-width: 991px) {
  .gallery-carousel .owl-nav .owl-prev {
    left: 0;
    transform: translateX(0);
  }
}

.gallery-carousel .owl-nav .owl-next {
  right: 50%;
  transform: translateX(570px);
}
.gallery-carousel__head {
  margin-bottom: 50px;
}


@media only screen and (max-width: 1480px) {
  .gallery-carousel .owl-nav .owl-next {
    transform: translateX(470px);
  }
}

@media only screen and (max-width: 991px) {
  .gallery-carousel .owl-nav .owl-next {
    right: 0;
    transform: translateX(0);
  }
}
.gallery-carousel__title {
  color: white;
  font-size: 46px;
  margin: 0 0 30px 0;
  text-align: center;
  font-family: "latam_sansbold"!important;
}

@media only screen and (max-width: 767px) {
  .gallery-carousel__title {
    font-size: 30px;
  }
}
.gallery-carousel__item {
  border: 0px solid white;
}