<div class="cards-section__item-content">
    <a class="cards-section__item-thumbnail" href="#">
        <div class="cards-section__item-thumbnail-identifier">
            <img src="${properties.fileReferenceIcon}" alt="${properties.altIcon}">
        </div>
        <img src="${properties.fileReference}" alt="${properties.alt}">
    </a>
    <h3 class="cards-section__item-title">${properties.title}</h3>
    <p>${properties.lead @ context="html"}</p>
    <div data-sly-test="${properties.path}">
        <a class="cards-section__item-button" href="${properties.path}">${properties.buttonText}</a>
    </div>
    <div data-sly-test="${properties.link}">
        <a class="cards-section__item-button" href="${properties.lin}">${properties.buttonText}</a>
    </div>
</div>