.sharing .container-social-media {
    /*display: flex;*/
    /*justify-content: flex-end;*/
    font-size: 1.2rem;
    align-items: center;
    margin-top: 60px;
}

.sharing .container-social-media p {
    color: #202121;
    text-align: center;
    margin-top: 9px;
}

.sharing .container-social-media a {
    color: #FFFFFF;
    border-radius: 50px;
    line-height: 13px;
    padding: 7px 15px;
}

.sharing .container-social-media a.btn-twitter {
    background-color: #00A6E6;
    margin-right: 10px;
    font-size: 1.1rem;
    transition: all .25s ease-in-out;
}

.sharing .container-social-media a.btn-twitter:hover {
    background-color: #007FB0;
    transition: all .25s ease-in-out;
}

.sharing .container-social-media a.btn-facebook {
    background-color: #385599;
    font-size: 1.1rem;
    transition: all .25s ease-in-out;
}

.sharing .container-social-media a.btn-facebook:hover {
    background-color: #193169;
    font-size: 1.1rem;
    transition: all .25s ease-in-out;
}

.sharing--alignRight .container-social-media {
    text-align: -webkit-right;
}

/*
.sharing--alignLeft .social-media-elements {
    justify-content: flex-end;
}

.sharing--alignCenter .social-media-elements{
	margin: 0 auto;
}
*/

.sharing--alignLeft .social-media-elements {
    float: left;
}
.sharing--alignRight .social-media-elements{
	float: right;
}




.element-content-flex {
    display: flex;
    justify-content: space-evenly;
}

.social-media-elements {
    width: 160px;
}