<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
     data-sly-test.hasContent="${properties.fileReference || properties.title || properties.subtitle}" />

    <a class="lightbox" href="${properties.fileReference}">
        <img class="img-fluid image" src="${properties.fileReference}" alt="${properties.imageAlt || currentPage.title}" />
        <span class="description">
            <span class="description-heading">${properties.title}</span>
            <span class="description-body">${properties.subtitle}</span>
        </span>
    </a>

<sly data-sly-call="${templates.placeholder @ isEmpty=!hasContent}"></sly>
