/* ========================
   ARTICULOS RELACIONADOS
=========================== */

.title-articles-related {
    font-size: 3rem;
    font-family: 'latam_sanslight';
    text-transform: uppercase;
    letter-spacing: 0.93px;
    font-weight: 900;
    line-height: 30px;
    text-align: left;
    margin: 0 0 0 0;
}

.title-articles-related p b{
    font-family: 'latam_sansblack';
}

.container-articles-related {
    margin-bottom: 30px;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.05);
}

.content-articles-related {
    padding: 15px 0 0 15px;
}

.content-articles-related h6 {
    font-size: 1.6rem;
    font-family: 'latam_sansitalic';
    line-height: 1;
}

.related-post-tittle-box {
    font-size: 1.3rem;
    font-family: latam_sansbold_italic;
    padding: 10px 10px 0;
    color: #363636;
}

.content-articles-related h6 span {
    font-family: 'latam_sansbold_italic';
    line-height: 19px;
}

.content-articles-related p {
    font-size: 1.2rem;
    line-height: 14px;
    padding-bottom: 25px;
}

.related-post-hover-box {
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.05);
    transition: box-shadow .3s ease-out, transform .3s ease-out, opacity .2s ease-out;
    transition-delay: .1s;
    border-radius: 4px;
    transform: translateZ(0);
    background-color: #fff;
    overflow: hidden;
    position: relative;
}

.related-post-hover-box:hover {
    box-shadow: rgba(45, 45, 45, 0.05) 0px 2px 2px, rgba(49, 49, 49, 0.05) 0px 4px 4px, rgba(42, 42, 42, 0.05) 0px 8px 8px, rgba(32, 32, 32, 0.05) 0px 16px 16px, rgba(49, 49, 49, 0.05) 0px 32px 32px, rgba(35, 35, 35, 0.05) 0px 64px 64px;
    transform: translate(0, -4px);
}

.related-post-box-info {
    padding: 15px 15px 10px 15px;
    background-color: #fff;
    min-height: 85px
}

.related-post-box-info .related-post-tittle-box {
    padding: 0;
}

.related-post-box-info p {
    font-family: 'latam_sansregular';
    font-size: 1.2rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.related-articles-experience h2.title-articles-related {
    font-family: 'latam_sansregular';
    text-transform: uppercase;
    letter-spacing: 3.93px;
    font-size: 2rem;
}

.related-articles-experience h4 {
    font-family: 'latam_sansbold';
    text-transform: uppercase;
}

.line-gradient {
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, 0.07);
    opacity: 0.7;
    margin: 10px 0 10px 0;
}

@media screen and (max-width: 767px) {
    .title-articles-related {
        font-size: 2.5rem;
        text-align: center;
    }
}