/*.imageText p.text-red {
    font-family: 'latam_sansitalic';
    line-height: 25px;
}

.imageText p.text-red span {
    font-size: 27px;
    padding-left: 20px;
    color: #FF6562;
    font-family: 'latam_sansbold';
}*/

.imageText .container-text-h3 h3 {
    color: #363636;
    font-size: 2.6rem;
    line-height: 32px;
    font-family: 'latam_sansbold';
    padding-top: 10px;
}

.imageText .content-info-picture {
    display: inline-grid;
    line-height: 1;
    font-size: 1.4rem;
}

.imageText .info-copyright small {
    font-family: 'latam_sansregular';
    font-size: 1.1rem;
}

.imageText span.info-copyright:before {
    font-size: 1.7rem;
    vertical-align: middle;
    font-weight: bold;
}

.imageText--reverse .reverse-order-text{
    order: 2;
}

.imageText--reverse .reverse-order-image {
    order: 1;
}

.imageText h2 {
    font-size:2.7rem;
    text-align:left;
    font-family:"latam_sansbold";
    color:#363636;
    letter-spacing:0.67px;
}
.imageText h4 {
    color:#363636;
    font-size:2.0rem;
    line-height:29px;
    font-family:'latam_sansregular';
}
.imageText h5 {
    color:#363636;
    font-size:1.6rem;
    line-height:32px;
    font-family:'latam_sansregular';
}
.imageText h6 {
    color:#363636;
    font-size:1.3rem;
    line-height:34px;
    font-family:'latam_sansregular';
}

.imageText .btn-latam {
    background: #9C9C9D;
    border-radius: 10px;
    color: #fff!important;
    /*text-transform: uppercase;*/
    font-family: 'latam_sansbold';
    font-size: 2rem;
    padding: 10px 20px 10px 10px;
    margin-left:0px;
}

.imageText .btn-latam:hover {
    text-decoration: none;
    background-color: #000000;
    transition: all .25s ease-in-out;
    color: #fff;
}

@media screen and (max-width: 767px) {
    .imageText--reverse .reverse-order-text{
    	order: 1;
	}

	.imageText--reverse .reverse-order-image {
    	order: 2;
	}
}