<section data-sly-use.carousel="com.adobe.cq.wcm.core.components.models.Carousel"
  data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
  data-cmp-is="carousel"
  class="gallery-carousel">
    
    <div class="container-fluid" id=${properties.anchor}>
        <div class="row justify-content-md-center gallery-carousel__head">
            <div class="col-md-9">
                <h2 class="gallery-carousel__title">${properties.title}</h2>
            </div>
        </div>
        
        <div class="${!(wcmmode.edit || wcmmode.preview) ? 'gallery-carousel__items': 'row'} owl-carousel">

            <div data-sly-repeat.item="${carousel.items}"
                 data-sly-resource="${item.name @ decorationTagName='div'}"
                 role="tabpanel"
                 class="gallery-carousel__item ${!(wcmmode.edit || wcmmode.preview) ? '': 'col-md-3 col-lg-3 col-sm-6'} ${itemList.first ? '' : ''}"
                 data-cmp-hook-carousel="item"></div>
        </div>
    </div>
    <sly data-sly-resource="${resource.path @ resourceType='wcm/foundation/components/parsys/newpar', appendPath='/*', decorationTagName='div', cssClassName='new section aem-Grid-newComponent'}"
      data-sly-test="${(wcmmode.edit || wcmmode.preview) && carousel.items.size < 1}"></sly>
</section>