.button .btn-about {
    background: #00b5ae;
    border-radius: 25px;
    color: white!important;
    /*text-transform: uppercase;*/
    font-family: 'latam_sansbold';
    font-size: 2rem;
    padding: 10px 20px 10px 10px;
    display: inline;
}

.button--color-blue .btn-about{
    background: #167ac6;
}
.button--color-red .btn-about{
    background: #f00;
}
.button--color-green .btn-about{
    background: #28a745;
}
.button--color-yellow .btn-about{
    background: #ffc107;
}

.button .btn-about:hover {
    text-decoration: none;
    background-color: #BC05A3;
    transition: all .25s ease-in-out;
    color: #FFFFFF;
}

.button--position-right .container-button {
	float: right;
}

.button--position-left .container-button{
	float: left;
}

.button--position-center .container-button{
    text-align: center!important;
}